<div class="container-fluid network">
    <div class="row developer">
        <svg fill="none" viewBox="0 0 1440 81" preserveAspectRatio="none" class="developer-wave">
            <path d="M1440 81V17.182c-486.269 178.061-969.884-84.228-1440 0V81h1440z"></path>
        </svg>
        <div class="col-sm-6 full-developer">
            <h1><b>The Network<br> Effect:<br> Interoperability<br> 3.0</b></h1>
            <p>MyMediTales's API is a single onramp to the Nation's<br> Largest Health Information Networks (HINs);
                connect to<br>
                CareQuality and CommonWell. </p>
            <div class="button" style="margin-top: 40px;">
                <a href="/developer-api-signup" data-role="button" class="get" data-interacts-button="true">
                    <span class="">Get Connected</span></a>
            </div>
        </div>
        <div class="col-sm-6 half-developer">
            <img class="power" width="676" height="579" loading="lazy"
                src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/465f1831-d2f8-441e-8426-92fc82fe76b6_hero-develop.svg"
                alt="Powered by MyMediTales">
        </div>
    </div>
</div>


<!-- ---------------connection-comtainer-------------- -->

<div class="container-fluid">
    <div class="row built">
        <div class="col-sm-12">
            <h2><b>We built the connections <br> so you don't have to</b></h2>
            <p class="_3zEPmzuF3BDspw0AxuC2W-">Access data from thousands of locations instantly with MyMediTales’s apis
                and <br>consumer - directed software solutions</p>
        </div>
    </div>
</div>


<!-- ---------------------double-button-container--------------- -->

<div class="container-fluid">
    <div class="row double">
        <div class="col-sm-12 textarea">
            <button class="providers" role="tab" aria-selected="true" aria-controls="panel-0" id="toggle-0"
                tabindex="0"><span>Providers</span></button>
            <button class="patients" role="tab" aria-selected="false" aria-controls="panel-1" id="toggle-1"
                tabindex="-1"><span>Patients</span></button>
        </div>
    </div>
    <div class="row first">
        <div class="col-sm-6">
            <img class="_1QpL0uT08ZAX65H2PvXpuC" loading="lazy"
                src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/c9ec3142-c7d4-4694-be9c-0cbdaba9b480_twocol-dev-records.svg"
                alt="The 'Records Found' view of the MyMediTales application."
                srcset="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/c9ec3142-c7d4-4694-be9c-0cbdaba9b480_twocol-dev-records.svg 1.5x, https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/c9ec3142-c7d4-4694-be9c-0cbdaba9b480_twocol-dev-records.svg 2x"
                width="628" height="459">
        </div>
        <div class="col-sm-6">
            <p class="_2VCkrAwSDB06_yn4PQb1xy">Query for Treatment Purposes under HIPAA</p>
            <h3 class="_2TTq8YzIxe9ZpGWniVum2f">Get medical records in seconds with our API</h3>
            <p>MyMediTales makes nationwide interoperability easy by abstracting complex technology and policy into
                easy-to-use API</p>
            <div class="row">
                <div class="col-sm-2">
                    <img class="_94Yx4K3gsFKgDnUIoDrdN" loading="lazy"
                        src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/962874d0-7475-4435-9aa4-5bdf01b13032_icon-checkmark-blue.svg"
                        alt="Checkmark" width="40" height="40">
                </div>
                <div class="col-sm-4">
                    <h6>Easy implementation</h6>
                    <p>Embed in your systems with minimal effort</p>
                </div>
                <div class="col-sm-2">
                    <img class="_94Yx4K3gsFKgDnUIoDrdN" loading="lazy"
                        src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/962874d0-7475-4435-9aa4-5bdf01b13032_icon-checkmark-blue.svg"
                        alt="Checkmark" width="40" height="40">
                </div>
                <div class="col-sm-4">
                    <h6>High success rate</h6>
                    <p>Continuously improved workflow</p>
                </div>
            </div>
        </div>
        <div class="row second">
            <div class="col-sm-6">
                <img class="_1QpL0uT08ZAX65H2PvXpuC" loading="lazy"
                    src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/f0d824fe-632e-456b-adb4-a5ed3e2e1050_twocol-api-mobile-care-blue.svg"
                    alt="MyMediTales using FHIR APIs to retrieve records"
                    srcset="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/f0d824fe-632e-456b-adb4-a5ed3e2e1050_twocol-api-mobile-care-blue.svg 1.5x, https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/f0d824fe-632e-456b-adb4-a5ed3e2e1050_twocol-api-mobile-care-blue.svg 2x"
                    width="628" height="566">
            </div>
            <div class="col-sm-6">
                <p class="_2VCkrAwSDB06_yn4PQb1xy">Query for Patient Request under HIPAA</p>
                <h3 class="_2TTq8YzIxe9ZpGWniVum2f">Patients can get medical records in seconds with our API</h3>
                <p>Integrate patient workflows natively into your application with our FHIR-based API and
                    production-ready integrations.</p>
                <div class="row">
                    <div class="col-sm-2">
                        <img class="_94Yx4K3gsFKgDnUIoDrdN" loading="lazy"
                            src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/962874d0-7475-4435-9aa4-5bdf01b13032_icon-checkmark-blue.svg"
                            alt="Checkmark" width="40" height="40">
                    </div>
                    <div class="col-sm-4">
                        <div class="_LORooLoyUwgT8zGZpR3d">Demographics Based Query</div>
                        <div class="_2XQnU7yoKY26LsYCeZV0qE">Identity Proofed to IAL2</div>
                    </div>
                    <div class="col-sm-2">
                        <img class="_94Yx4K3gsFKgDnUIoDrdN" loading="lazy"
                            src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/962874d0-7475-4435-9aa4-5bdf01b13032_icon-checkmark-blue.svg"
                            alt="Checkmark" width="40" height="40">
                    </div>
                    <div class="col-sm-4">
                        <div class="_LORooLoyUwgT8zGZpR3d">Credential Based Query</div>
                        <div class="_2XQnU7yoKY26LsYCeZV0qE">OAuth2 with OpenID Connect</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <img class="_94Yx4K3gsFKgDnUIoDrdN" loading="lazy"
                            src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/962874d0-7475-4435-9aa4-5bdf01b13032_icon-checkmark-blue.svg"
                            alt="Checkmark" width="40" height="40">
                    </div>
                    <div class="col-sm-4">
                        <div class="_LORooLoyUwgT8zGZpR3d">CARIN Attested</div>
                        <div class="_2XQnU7yoKY26LsYCeZV0qE">CARIN Code of Conduct Signed</div>
                    </div>
                    <div class="col-sm-2">
                        <img class="_94Yx4K3gsFKgDnUIoDrdN" loading="lazy"
                            src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/962874d0-7475-4435-9aa4-5bdf01b13032_icon-checkmark-blue.svg"
                            alt="Checkmark" width="40" height="40">
                    </div>
                    <div class="col-sm-4">
                        <div class="_LORooLoyUwgT8zGZpR3d">Safe and Secure</div>
                        <div class="_2XQnU7yoKY26LsYCeZV0qE">No webscraping or password storage</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- --------------care-container---------------------- -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 equality">
            <img class="_1kckLhptpu7PEc-neNCXck" loading="lazy"
                src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/a7b5dd7c-1184-4073-8037-4e5bb1cad0b9_logo-color-carequality.svg"
                alt="CareQuality" width="211px" height="40px">
            <img class="_1kckLhptpu7PEc-neNCXck" loading="lazy"
                src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/f7a448b7-f493-4e5b-ba0c-45491e27118d_logo-color-commonwell.svg"
                alt="Commonwell" width="211px" height="40px">
        </div>
    </div>
    <div class="row common">
        <div class="col-sm-12">
            <div class="plus">
                <ul>
                    <li>70k Locations listed in the directory</li>
                    <li>87% Document Query Success Rate</li>
                    <li>270 M+ Individual Patient Lives</li>
                    <li>1 B Records Exchanged Monthly</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- --------------------how-container----------------- -->

<div class="container-fluid">
    <div class="row how">
        <div class="col-sm-6">
            <h2 class="_3M9iuo0creEevo-MYVrSqS">How it works</h2>
            <div class="FH8HqqFMFwYZKnouvFyYb">Get electronic medical records without performing complex integrations
                with our easy-to-use APIs</div>
            <ul>
                <li><strong>Search the Network</strong><br>Use basic demographic information to identify care sites that
                    have clinical records on a particular patient.</li>
                <li><strong>Retrieve Documents</strong><br>Automatically import medical records electronically into your
                    workflow</li>
                <li><strong>Filter Results</strong><br>Review a complete set of medical records from multiple care sites
                    to inform patient care.</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <img class="_3dVbPuBm6SZYDIXbRaaL8O" loading="lazy"
                src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/41d1225d-317d-4fdb-be89-2a0761453e0a_twocol-development.svg"
                alt="Instant medical record retrieval. Available out of the box as a web-based application, or embed our API into your back-end."
                srcset="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/41d1225d-317d-4fdb-be89-2a0761453e0a_twocol-development.svg 1.5x, https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/41d1225d-317d-4fdb-be89-2a0761453e0a_twocol-development.svg 2x"
                width="831" height="534">
        </div>
    </div>
</div>


<!-- ---------------cases-container--------------- -->

<div class="container-fluid">
    <div class="row use">
        <div class="col-sm-4">
            <h2 class="g3eipcj_CVyBfT-_akAmA">Use Cases</h2>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                    <img class="_2B0cLoOkMV2xwl7z--YLXR" loading="lazy"
                        src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/1459aa5e-4526-48bf-9107-7117decd5182_icon-conditions.svg"
                        alt="Stethoscope" width="70" height="70">
                </div>
                <div class="col-sm-8">
                    <h5 class="Nq9El-RY7nn4FhKME5mcT">Treatment</h5>
                    <p>Query patient records for the purpose of providing treatment</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                    <img class="_2B0cLoOkMV2xwl7z--YLXR" loading="lazy"
                        src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/c3f66237-5270-4e69-8cf5-acb29841f4e5_icon-proceedures.svg"
                        alt="Bandaid" width="70" height="70">
                </div>
                <div class="col-sm-8">
                    <h5 class="Nq9El-RY7nn4FhKME5mcT">Patient Request</h5>
                    <p>Query for patient records for the purpose of patient access</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row public">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                    <img class="_2B0cLoOkMV2xwl7z--YLXR" loading="lazy"
                        src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/06e4a1b6-3c4d-4026-ac38-47c5f4c8c82d_icon-labs.svg"
                        alt="Beaker" width="70" height="70">
                </div>
                <div class="col-sm-8">
                    <h5 class="Nq9El-RY7nn4FhKME5mcT">Public Health</h5>
                    <p>Query for patient records for the purpose of public health reporting</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                    <img class="_2B0cLoOkMV2xwl7z--YLXR" loading="lazy"
                        src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/368878d4-0b72-4cad-a868-0421f8be70d0_icon-payment.svg"
                        alt="Dollar sign" width="70" height="70">
                </div>
                <div class="col-sm-8">
                    <h5 class="Nq9El-RY7nn4FhKME5mcT">Payment</h5>
                    <p>Query for patient record for the purpose of processing payments</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-4">
                    <img class="_2B0cLoOkMV2xwl7z--YLXR" loading="lazy"
                        src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/e52dbe0e-0bac-478e-bd75-051444af70b7_icon-developers.svg"
                        alt="Code" width="70" height="70">
                </div>
                <div class="col-sm-8">
                    <h5 class="Nq9El-RY7nn4FhKME5mcT">Operations</h5>
                    <p>Query for patient record for the purpose of healthcare operations</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- -----------------lines-container----------------- -->

<div class="container-fluid">
    <div class="row few">
        <div class="col-sm-12">
            <h2 class="_4aIVoWXXjD9edKPFcADqd">With just a few lines of code,<br> MyMediTales fits into whatever <br>you're
                building</h2>
            <p>Click on an app type to see what kind of data fits the use case.</p>
        </div>
    </div>
    <div class="row list">
        
    </div>
</div>