/* 

.developer {
    background-color: #010743;
    position: relative;
    z-index: -1;
    overflow: hidden;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.developer .developer-wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 5rem;
    fill: #fff;
}

.full-developer {
    padding-left: 30px;
}
.full-developer h1 {
    font-size: 45px;
    color: #fff;
    font-family: "Lato",sans-serif;
    font-weight: 400;
}

.full-developer p {
    color: #fff;
    font-size: 18px;
    font-family: "Lato",sans-serif;
}

.full-developer a {
    padding: 12px 28px;
    background-color: #4656d6;
    color: #fff;
    border-radius: 2px;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    font-weight: 700;
}

.full-developer .get a:hover {
    opacity: 0.8;
}

.half-developer img {
    margin-left: -60px;
    padding-top: 30px;
}


.built {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.built h2 {
    font-size: 48px;
    font-family: "Lato",sans-serif;
    font-weight: 500;
}

.built p {
    color: #5c5969;
    margin-top: 0.75rem;
    font-family: "Lato",sans-serif;
    font-size: 18px;
}


.double {
    background-color: #f4f5ff;  
}

.double .providers {
    color: #fff;
    background-color: #4b5ee6;
    border-color: #4b5ee6;
    cursor: default;
    padding: 13px 36px;
    font-size: 16px;
    border: 1px solid #d9d8e2;
    border-radius: 5px;
}

.textarea button:active {
    background-color:  #4b5ee6;
    color: #fff;
}

.double .patients {
    color:  #4b5ee6;
    background: none;
    border-color: 1px solid #d9d8e2;
    cursor: default;
    padding: 12px 36px;
    font-size: 16px;
    border-radius: 5px;
}

.textarea {
    margin-left: 393px;
}

.textarea button:not(:last-child) {
    border-right: none;
}

.first {
    padding-top: 5rem;
    padding-bottom: 3.5rem;
}

.first .documents {
    margin-left: -30px;
}

.treatment {
    margin-top: 100px;
}

.treatment p {
    color: #77748b;
    font-size: 18px;
    font-family: "Lato",sans-serif;
}

.treatment h3 {
    font-size: 36px;
    color: #262224;
    font-weight: 500;
    font-family: "Lato",sans-serif;
}

.second {
    padding-top: 3rem;
    padding-bottom: 3.5rem;
}

.request {
    margin-top: 100px;
    margin-left: -20px;
}

.request p {
    color: #77748b;
    font-size: 18px;
    font-family: "Lato",sans-serif;  
}

.check {
    margin-top: 30px;
}

.easy {
    margin-left: -40px;
}

.easy .demo {
    font-size: 13px;
}

.easy .embed {
    font-size: 13px;
    color: #77748b;
    font-family: "Lato",sans-serif;
}

.location {
    margin-left: -40px;
}

.demo {
    font-family: "Lato",sans-serif;
    color: #262224;
    font-weight: lighter; 
}

.horizontal {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}

.equality {
    margin-left: 330px;
}

.plus li {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    min-width: 1em;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 7.5em;
    margin-bottom: -0.125em;
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: lighter;
    opacity: 0.9;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUgNVYwSDlWNUgxNFY5SDlWMTRINVY5SDBWNUg1WiIgZmlsbD0iI2IwYWZiZiIvPgo8L3N2Zz4K);
}

.plus li {
    display: inline;
    list-style-type: none;
    padding-left: 24px;
    padding-right: 42px;
    margin: 2px;
    font-family: "Lato",sans-serif;
    font-weight: bolder;
    opacity: 0.9;
    font-size: 13px;
    color: #77748b
}

.common {
    border-top: 1px solid #e5e4ec;
    margin-top: 2rem;
    padding-top: 2rem;
}



.how {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.how {
    margin-left: -80px;
}
.how h2 {
    font-size: 48px;
    font-family: "Lato",sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}

.how h5 {
    font-family: "Lato",sans-serif;
    color: #262224;
}

.how ul {
    font-size: 16px;
    padding-top:30px;
    margin-left:-15px;
    list-style-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjA4MiA3Ljk0NkgxTTUuODQ1IDFsNy41MzMgNi45NDYtNy41MzMgNi45NDYiIHN0cm9rZT0iIzRCNUZGNyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==")
}

.how li h5 {
    font-family: "Lato",sans-serif;
    padding-left: 20px;
    padding-bottom: 10px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}

.how li p {
    font-family: "Lato",sans-serif;
    padding-left: 20px;
    color: #262224;
}


.tube {
    padding-top: 2rem;
    padding-bottom: 7.5rem;
}
.use  {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.public {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.use h2 {
    font-size: 52px;
    font-weight: 700;
    color: #262224;
}

.use h5 {
    font-size: 22px;
    font-weight: 700;
    color: #262224;
    margin-left: -50px;
}

.use p {
    color: #5c5969;
    font-size: 18px;
    margin-left: -50px;
    padding-top: 15px;
}

.public p {
    color: #5c5969;
    font-size: 18px;
    margin-left: -50px;
    padding-top: 15px;
}

.public h5 {
    font-size: 22px;
    font-weight: 700;
    color: #262224;
    margin-left: -50px;
}

._2B0cLoOkMV2xwl7z--YLXR {
    margin-left: -20px;
}



.few {
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
     padding-bottom: 2rem; 
}

.few h2 {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 1.875rem;
    font-family: "Lato",sans-serif;
}

.few p {
    color: rgb(92, 89, 105);
    font-size: 19px;
}


.building {
    display: inline-flex;
    margin-left: -3px;
}


.building .svg {
    align-items: center;
     display: flex;
     position: relative;
     margin: 0px 10px 10px 0px;
     background-color: #f4f5ff;
     padding: 0.5rem;
     border: 1px solid #e9eaff;
     border-radius: 0.5rem;
     opacity: 1;
 }

 .building .enco {
     opacity: 0.2;
 }

.square {
    margin-left: 70px;
    margin-right: -20px;
    padding-left: 0px;
    display: inline-block;
    position: relative;
    margin-top: 20px;
}
.square {
    background: none;
    border: 0;
    color: inherit;
    outline: inherit;
    font: inherit;
    cursor: pointer;
    opacity: 0.5;
}

.sodx {
    width: 144px;
    height: 144px;
}
.sodx {
    align-items: center;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
    background-color: #f6f6f9;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.square .care {
    font-family: "Lato",sans-serif;
    font-size: 19px;
    color: #262224;
    font-weight: 900;
    margin-top: 30px;
}

.square .care:hover {
    transform: scale(1.075);
}

.family .boxes {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    font-family: "Lato",sans-serif;
}

.shade-box {
    display: flex;
    position: relative;
    padding: 7px;
    background-color: #f4f5ff;
    border: 1px solid #e9eaff;
    border-radius: 0.5rem;
    margin-left: -40px;
    margin-right: 20px;
    padding-right: 60px;
}

.family {
    margin-top: 40px;
}

.family .data {
    opacity: 0.2;
}

.box-text {
    white-space: nowrap;
    color: #4b5ee6;
    font-size: .9375em;
    padding-left: 5px;
}

.seqy8ZEyPg3XiOEeCpuLM+._14TalAvQTZDRa6oMu5H3Z2 {
    margin-left: 1.5rem;
}

._14TalAvQTZDRa6oMu5H3Z2 {
    padding-top: -2rem;
}

.list {
    margin-top: 30px;
    margin-left: -40px;
}




.tablet{   
    background-color: #4656d6;
    margin-top:100px;
    height: 290px;
    width:100% !important;
    box-sizing: border-box;
    box-shadow: 0 44px 30px -20px rgb(1 7 67 / 25%), 0 30px 21px -20px rgb(1 7 67 / 40%);
   overflow:hidden !important;
   margin-bottom: 50px !important;
  }
  .getstart{
      margin-top: 20px;;
       height:50px;
       width:180px;
       background-color: #010743;
       font-size: 18px;
       border-radius: 1px;
       font-weight: bold;
       color:white;
    }
    .getstart:hover{
        color:white;
        opacity: 0.8;
    }
  .tablets1{
      text-align: center;
      padding-top: 60px;
      color:white;
      letter-spacing: 1px;
      padding-left:212px;
  }
  .tablet .tablets1 .head4{
      font-weight: bold;
      font-size: 35px;
  }
  .tablet .tablets1 .quote{
      padding-top: 10px;
      font-size: 22px;
      opacity: 0.8;
      font-family: "Lato",sans-serif;
  }
.tabletimg{
    float: right;
}

 */
 .getstart{
    margin-top: 20px;;
     height:50px;
     width:180px;
     background-color: #010743;
     font-size: 18px;
     border-radius: 1px;
     font-weight: bold;
     color:white;
  }
  .getstart:hover{
      color:white;
      opacity: 0.8;
  }