<div class="container-fluid body3">
    <div class="row map">
        <!-- <div class="col-sm-2"></div> -->
        <div class="col-sm-6">
            <img class="florida-map" src="../../../assets/twocol-map.svg">
        </div>
        <div class="yellow col-sm-6" style="margin-top: 40px;">
            <p class="pages">The Yellow Pages of Healthcare</p><br>
            <h2 class="time"><b>Search for your <br> records in record time</b></h2><br>
            <p class="stream">MyMediTales streamlines finding your medical records with the largest <br> FHIR
                network.
                You get instant
                access
                to the majority of healthcare <br> facilities with MyMediTalesAPI.</p>
            <h6 class="portal"><i class="fa fa-check" aria-hidden="true"></i><strong>Find providers however you
                    think of
                    them</strong>
            </h6>
            <ul class="healthy" style="margin-top: 20px;">
                <li class="clinics"><span>Health System</span></li>
                <li class="clinics"><span> Hospital</span></li>
                <li class="clinics"><span>Clinic</span></li>
                <li class="clinics"><span>Address</span></li>
                <li class="clinics"><span>State</span></li>
            </ul>
            <h6 class="portal"><i class="fa fa-check" aria-hidden="true"></i><strong>Use your secure portal
                    logins</strong></h6>
            <h5 class="direct" style="margin-left: 29px;">Directly connect to your provider’s patient portal
                with your <br> private
                credentials</h5>
            <h6 class="portal"><i class="fa fa-check" aria-hidden="true"></i><strong>No portal, no
                    problem</strong></h6>
            <h5 class="direct" style="margin-left: 27px;">Verifying your identity remotely and we'll help you
                search our<br>
                Partner
                Networks like CareQuality and
                CommonWell</h5>
        </div>
        <!-- <div class="col-sm-2"></div> -->
    </div>
</div>