<div class="container-fluid">
    <div class="container body3">
        <div class="row map">
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-6" style="padding:0px 50px;">
                <img src="../../../assets/twocol-map.svg"
                    style="width:600px;height:500px;margin-top: 43px;margin-left: -130px;">
            </div>
            <div class="yellow col-sm-6" style="margin-top: 40px;">
                <p>The Yellow Pages of Healthcare</p><br>
                <h2><b>Search for your <br> records in record time</b></h2><br>
                <p class="stream">MyMediTalesstreamlines finding your medical records with the largest <br> FHIR network.
                    You get instant
                    access
                    to the majority of healthcare <br> facilities with MyMediTalesAPI.</p>
                <h6><i class="fa fa-check" aria-hidden="true"></i><strong>Find providers however you think of
                        them</strong>
                </h6>
                <ul style="margin-top: 20px;">
                    <li><span>Health System</span></li>
                    <li><span> Hospital</span></li>
                    <li><span>Clinic</span></li>
                    <li><span>Address</span></li>
                    <li><span>State</span></li>
                </ul>
                <h6><i class="fa fa-check" aria-hidden="true"></i><strong>Use your secure portal logins</strong></h6>
                <h5 style="margin-left: 29px;">Directly connect to your provider’s patient portal with your <br> private
                    credentials</h5>
                <h6><i class="fa fa-check" aria-hidden="true"></i><strong>No portal, no problem</strong></h6>
                <h5 style="margin-left: 27px;">Verifying your identity remotely and we'll help you search our<br>
                    Partner
                    Networks like CareQuality and
                    CommonWell</h5>
            </div>
            <!-- <div class="col-sm-2"></div> -->
        </div>
    </div>

</div>