<div class="container-fluid">
    <div class=" curve">
        <!-- wave line -->
        <div>
            <svg fill="none" viewBox="0 0 1440 81" preserveAspectRatio="none" class="curveline">
        <path d="M1440 81V17.182c-486.269 178.061-969.884-84.228-1440 0V81h1440z"></path>
        </svg>
        </div>
        <!-- character background -->
        <div>
            <svg viewBox="0 0 700 700" preserveAspectRatio="none" class="charback">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M390.165 699.994C211.34 700.281-.608 691.301.001 494.533c.42-135.268 63.419-148.651 85.124-268.841l.805-4.086c21.464-111.419 95.19-195.24 181.981-214.66C408.526-24.522 451.599 55.73 511.486 151.074 576.526 254.622 700 279.871 700 477.155c0 165.128-131.01 222.552-309.835 222.839z"></path>
        </svg>
        </div>
        <!-- content -->
        <div class=" content">
            <div class="content2">
                <h1 class="content3">Your medical records at your fingertips</h1>
                <div class="content4">
                    <p>A new law requires doctors and insurance companies to give you access to your electronic medical records. You have the right to get them through an app and at no cost.</p>
                </div><a href="https://my.MyMediTales.com/signup" data-role="button" class="btn_icon" target="_blank" rel="noopener noreferrer" data-appdownload="false" data-interacts-button="true"><span class="OPl9hNpsaTkcK44UIVaY-">Sign up</span></a></div>
        </div>
        <!-- women image -->
        <div>
            <img class=" womenimg" width="1400" height="1200" loading="lazy" src="https://images.prismic.io/or-marketing-prod/5ebd117c-3bcf-4ca0-97f2-077ae5edb994_security-hero.png?auto=compress,format&amp;rect=0,0,1400,1200&amp;w=700&amp;h=600" alt="Woman looking cheerful"
                srcset="https://images.prismic.io/or-marketing-prod/5ebd117c-3bcf-4ca0-97f2-077ae5edb994_security-hero.png?auto=compress,format&amp;rect=0,0,1400,1200&amp;w=1050&amp;h=900 1.5x, https://images.prismic.io/or-marketing-prod/5ebd117c-3bcf-4ca0-97f2-077ae5edb994_security-hero.png?auto=compress,format&amp;rect=0,0,1400,1200&amp;w=1400&amp;h=1200 2x">
        </div>
    </div>
    <!-- mobile simulation -->
    <div>
        <section class=" mappingcontent" data-interacts-mobilefeaturesteps="true"><img class="img_style3" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/c7210728-656d-40ef-87a6-3ecca1e009a4_app-steps-main.svg" alt="A view of Medical Records of the MyMediTales app on a mobile device.">
            <div class="mappingstep1 ">
                <div class=" mappingimg imgright">
                    <div class="img_1"><img class="img_2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/bb8a2bfb-619a-4211-8a7f-9b04be668cda_app-steps-1.svg" alt="Two bubbles showing medical providers"></div>
                    <div class="step">Step 1</div>
                    <p class=" stepcontent"><strong>Connect your hospitals, clinics and doctors</strong></p>
                    <div class="stepcontent_1">
                        <p>With the largest network of the most popular providers, you get instant access to the majority of healthcare facilities in the United States</p>
                    </div>
                </div>
                <div class=" mappingimg imgleft">
                    <div class="img_1"><img class="img_2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/57bf1692-4a1a-448c-943f-156f9ce7d5ce_app-steps-2.svg" alt="Multiple insurance provider logos"></div>
                    <div class="step">Step 2</div>
                    <p class="stepcontent"><strong>Get your insurance records too</strong></p>
                    <div class="stepcontent_1">
                        <p>Instant access to health care records and claims from past and present insurance companies</p>
                        <p class="muted"><em>Currently supporting Medicare Advantage, Medicaid &amp; CHIP Fee for Service, Medicaid &amp; CHIP Managed Care, Qualified Health Plans on Federally Funded Exchanges</em></p>
                    </div>
                </div>
                <div class="mappingimg imgright">
                    <div class="img_1"><img class="img_2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/4f9fe770-693d-4255-b768-74bef5629302_app-steps-3.svg" alt="A mobile vaccination card"></div>
                    <div class="step">Step 3</div>
                    <p class="stepcontent"><strong>Add a digital vaccination card</strong></p>
                    <div class="stepcontent_1">
                        <p>Add any immunization record to your iOS wallet, including your COVID-19 records</p>
                    </div>
                </div>
                <div class="mappingimg imgleft">
                    <div class="img_1"><img class="img_2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/681f2b07-1461-4bc2-8a7c-c0b9540d9eb0_app-steps-4.svg" alt="Illustration of a man, child, and elderly woman"></div>
                    <div class="step">Step 4</div>
                    <p class="stepcontent"><strong>Manage your whole family in one place</strong></p>
                    <div class="stepcontent_1">
                        <p>Gather all your loved one’s health information into one organized, secure place</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="area2">
        <section class="mob_demo" data-interacts-contentheroitems="true">
            <div class="img_style1"><img class="img_style2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/f86c4bd3-43ea-4d80-9f69-0d022948f959_checkcol-records.svg" alt="Mobile view of detailed medical data"></div>
            <div class=" mob_content1 mob_content2">
                <div class="mob_inner_content1">
                    <div class="content_link">Tap a feature to see it</div>
                    <h2 class="para_heading">Your health records, simplified</h2>
                </div>
                <div class="para_style1 para_style2">
                    <div>
                        <div class="tabled_content">
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Allergies</strong></p>
                                <div class="under_heading_style">
                                    <p>Your allergies that represent harmful or undesirable physiological responses associated with exposure to a substance</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tabled_content">
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Immunizations</strong></p>
                                <div class="under_heading_style">
                                    <p>Your immunizations include a record of an administration of a vaccination or a record of a vaccination as reported by you, a clinician, or another party.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tabled_content">
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Medications</strong></p>
                                <div class="under_heading_style">
                                    <p>Medicines that have been prescribed for you</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tabled_content">
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Labs</strong></p>
                                <div class="under_heading_style">
                                    <p>Your test results</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tabled_content">
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Vitals</strong></p>
                                <div class="under_heading_style">
                                    <p>A historical view on all your recurring health data, charted plainly</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tabled_content">
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Clinical Notes</strong></p>
                                <div class="under_heading_style">
                                    <p>Your doctor’s, nurse’s, other clinicians’ notes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tabled_content">
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Problems &amp; Proceedures</strong></p>
                                <div class="under_heading_style">
                                    <p>Findings from check-ups and examinations</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tabled_content">
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Care Team &amp; Care Plan</strong></p>
                                <div class="under_heading_style">
                                    <p>Suggestions and next steps for your care</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div>
        <section class="mob_demo" data-interacts-contentheroitems="true">
            <div class="img_style1 img_style2"><img class="img_style2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/d7a153d6-545b-477e-ae34-0de0222fbc0f_checkcol-share.svg" alt="The 'share medical records view' of the MyMediTales app"></div>
            <div class="mob_content1">
                <div class="mob_inner_content1">
                    <div class="content_link">For your family</div>
                    <h2 class="para_heading">Multi-profile management</h2>
                </div>
                <div class="para_style1">
                    <div>
                        <div class="tabled_content">
                            <div class="tick_icon"><svg viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.445 3.565c.74.753.74 1.974 0 2.727L9.55 20.435c-.74.753-1.94.753-2.68 0L.556 14.007a1.953 1.953 0 010-2.728 1.871 1.871 0 012.68 0l4.976 5.065 12.554-12.78a1.871 1.871 0 012.68 0z" fill="currentColor"></path></svg></div>
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>For partners, children, and relatives - as many as you like</strong></p>
                                <div class="under_heading_style">
                                    <p>Add and Switch easily between profiles for those for which you care</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tabled_content">
                            <div class="tick_icon"><svg viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.445 3.565c.74.753.74 1.974 0 2.727L9.55 20.435c-.74.753-1.94.753-2.68 0L.556 14.007a1.953 1.953 0 010-2.728 1.871 1.871 0 012.68 0l4.976 5.065 12.554-12.78a1.871 1.871 0 012.68 0z" fill="currentColor"></path></svg></div>
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Manage provider connections</strong></p>
                                <div class="under_heading_style">
                                    <p>As easily as connecting your own providers, you can connect and keep updated on your family’s health data</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tabled_content">
                            <div class="tick_icon"><svg viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.445 3.565c.74.753.74 1.974 0 2.727L9.55 20.435c-.74.753-1.94.753-2.68 0L.556 14.007a1.953 1.953 0 010-2.728 1.871 1.871 0 012.68 0l4.976 5.065 12.554-12.78a1.871 1.871 0 012.68 0z" fill="currentColor"></path></svg></div>
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Simple sharing</strong></p>
                                <div class="under_heading_style">
                                    <p>Securely share immunization records for your children’s school or lab updates to your pediatrician</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div>
        <section class="mob_demo" data-interacts-contentheroitems="true">
            <div class="img_style1"><img class="img_style2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/b8bc0268-2de6-4c4b-9f70-28c1de5f0144_checkcol-wallet.svg" alt="Vaccination wallet pass on mobile"></div>
            <div class="mob_content1">
                <div class="mob_inner_content1">
                    <div class="content_link">Share your records</div>
                    <h2 class="para_heading">Smart data sharing</h2>
                    <div class="content5">
                        <p>Send Doctors, schools and loved ones secure access to important records</p>
                    </div>
                </div>
                <div class="para_style1">
                    <div>
                        <div class="tabled_content">
                            <div class="iconsize"><img src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/125731ad-0301-4f85-b2a0-c888d6a784be_icon-airplane.svg" alt="Paper airplane icon"></div>
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Send a private link</strong></p>
                                <div class="under_heading_style">
                                    <p>Send a temporary, limited-access link to professionals or family members that are part of your health journey.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tabled_content">
                            <div class="iconsize"><img src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/3f0f22cc-0da2-4446-83e9-6da9c294a299_icon-folder-download.svg" alt="Folder download icon"></div>
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Download a consolidated PDF</strong></p>
                                <div class="under_heading_style">
                                    <p>Get a PDF of your consolidated medical record and share it with your care team or family.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tabled_content">
                            <div class="iconsize"><img src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/6d6e6e4b-f9be-4fda-ad15-83570d39cdb0_icon-qr.svg" alt="QR code icon"></div>
                            <div class="tabled_content1">
                                <p class="para_inner_content"><strong>Wallet preview for iOS</strong></p>
                                <div class="under_heading_style">
                                    <p>Add any immunization record to your iOS wallet, including your COVID-19 records, for easy access.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container tablet">
            <div class="row">
                <div class="tablets1 col-sm-8">
                    <h2 class="head4"> It's your health. Own it.</h2>
                    <h4 class="quote">Start building your MyMediTalestoday</h4>
                    <a href="https://my.MyMediTales.com/signup" target="_blank" style=" color: #ffffff;
                    text-decoration: none;">
                        <button class="btn getstart"> Get started </button>
                    </a>
                </div>
                <div class="col-sm-4">
                    <svg viewBox="0 0 425 334" fill="none" class="ekHaR6hVGAzlNHMxm6uoc">
                    <path
                        d="M248.807 227.194a9.729 9.729 0 01-10.31 7.227 9.765 9.765 0 01-3.101-.833c-4.267-1.908-6.66-6.682-5.432-11.362a9.728 9.728 0 0110.31-7.228 9.773 9.773 0 013.101.833c4.267 1.908 6.66 6.683 5.432 11.363z"
                        fill="#00C48C"></path>
                    <path
                        d="M243.375 215.831l-4.878 18.59a9.765 9.765 0 01-3.101-.833l4.878-18.59a9.773 9.773 0 013.101.833z"
                        fill="#01836A"></path>
                    <path
                        d="M196.816 232.438c3.407 5.902 10.96 7.953 16.882 4.534 5.895-3.403 7.937-10.958 4.514-16.887l-5.615-9.726-21.396 12.353 5.615 9.726z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M212.613 210.386l-5.616-9.726c-3.407-5.902-10.959-7.953-16.882-4.534-5.894 3.404-7.937 10.958-4.514 16.887l5.615 9.726 21.397-12.353z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M206.67 17.542c-5.895 3.403-7.938 10.958-4.515 16.886 3.407 5.902 10.959 7.953 16.882 4.534l9.715-5.61-12.367-21.42-9.715 5.61z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M228.736 33.325l9.716-5.609c5.895-3.403 7.937-10.958 4.514-16.887-3.407-5.901-10.959-7.952-16.881-4.533l-9.716 5.61 12.367 21.42z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M283.168 217.191c-3.407-5.902-10.959-7.953-16.881-4.534-5.895 3.403-7.938 10.958-4.515 16.887l5.616 9.726 21.396-12.353-5.616-9.726z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M267.388 239.27l5.615 9.727c3.407 5.901 10.96 7.952 16.882 4.533 5.895-3.403 7.938-10.958 4.515-16.886l-5.616-9.727-21.396 12.353z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M272.604 152.946a9.729 9.729 0 01-10.31 7.227 9.765 9.765 0 01-3.101-.833c-4.267-1.907-6.66-6.682-5.432-11.362a9.728 9.728 0 0110.31-7.228 9.766 9.766 0 013.101.833c4.251 1.881 6.66 6.683 5.432 11.363z"
                        fill="#00C48C"></path>
                    <path
                        d="M267.156 141.556l-4.878 18.59a9.766 9.766 0 01-3.1-.833l4.893-18.563c.54.053 1.068.149 1.585.287a12.27 12.27 0 011.5.519z"
                        fill="#01836A"></path>
                    <path
                        d="M222.548 181.813a9.728 9.728 0 01-10.31 7.227 9.646 9.646 0 01-3.1-.832c-4.268-1.908-6.66-6.683-5.432-11.363a9.727 9.727 0 0110.309-7.227 9.639 9.639 0 013.101.832c4.252 1.881 6.66 6.683 5.432 11.363z"
                        fill="#00C48C"></path>
                    <path
                        d="M217.101 170.423l-4.878 18.59a9.773 9.773 0 01-3.101-.833l4.894-18.562a9.677 9.677 0 011.585.287c.516.138 1.022.32 1.5.518z"
                        fill="#01836A"></path>
                    <path
                        d="M122.438 239.547a9.728 9.728 0 01-10.31 7.228 9.766 9.766 0 01-3.1-.833c-4.268-1.908-6.661-6.683-5.432-11.363 1.228-4.679 5.651-7.67 10.309-7.227a9.765 9.765 0 013.101.833c4.251 1.88 6.66 6.682 5.432 11.362z"
                        fill="#00C48C"></path>
                    <path
                        d="M116.99 228.157l-4.877 18.59a9.658 9.658 0 01-3.101-.833l4.894-18.562a9.753 9.753 0 011.584.287c.517.139 1.022.321 1.5.518z"
                        fill="#01836A"></path>
                    <path
                        d="M259.767 108.337c-5.895 3.403-7.938 10.958-4.515 16.887 3.407 5.901 10.959 7.952 16.881 4.533l9.716-5.609-12.367-21.42-9.715 5.609z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M281.849 124.149l9.716-5.61c5.895-3.403 7.937-10.958 4.514-16.886-3.407-5.902-10.959-7.953-16.881-4.534l-9.716 5.609 12.367 21.421z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M306.964 142.944c-3.407-5.901-10.959-7.952-16.881-4.533-5.895 3.403-7.938 10.958-4.515 16.887l5.616 9.726 21.396-12.353-5.616-9.727z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M291.184 165.024l5.615 9.727c3.408 5.901 10.96 7.952 16.882 4.533 5.895-3.403 7.938-10.958 4.515-16.886l-5.616-9.727-21.396 12.353z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M259.415 291.45c-3.407-5.902-10.96-7.953-16.882-4.534-5.895 3.404-7.937 10.958-4.514 16.887l5.615 9.727 21.396-12.354-5.615-9.726z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M243.634 313.53l5.616 9.726c3.407 5.902 10.959 7.953 16.881 4.534 5.895-3.404 7.938-10.958 4.515-16.887l-5.615-9.727-21.397 12.354z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M248.807 227.194a9.729 9.729 0 01-10.31 7.227 9.765 9.765 0 01-3.101-.833c-4.267-1.908-6.66-6.682-5.432-11.362a9.728 9.728 0 0110.31-7.228 9.773 9.773 0 013.101.833c4.267 1.908 6.66 6.683 5.432 11.363z"
                        fill="#00C48C"></path>
                    <path
                        d="M243.375 215.831l-4.878 18.59a9.765 9.765 0 01-3.101-.833l4.878-18.59a9.773 9.773 0 013.101.833z"
                        fill="#01836A"></path>
                    <path
                        d="M195.775 136.285a9.728 9.728 0 01-10.31 7.227 9.658 9.658 0 01-3.101-.832c-4.267-1.908-6.66-6.683-5.432-11.363a9.728 9.728 0 0110.31-7.227 9.658 9.658 0 013.1.832c4.268 1.908 6.661 6.683 5.433 11.363z"
                        fill="#00C48C"></path>
                    <path
                        d="M190.343 124.922l-4.878 18.59a9.765 9.765 0 01-3.101-.833l4.878-18.589a9.658 9.658 0 013.101.832z"
                        fill="#01836A"></path>
                    <path
                        d="M143.8 141.558c3.408 5.901 10.96 7.953 16.882 4.533 5.895-3.403 7.938-10.957 4.515-16.886l-5.616-9.727-21.396 12.353 5.615 9.727z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M159.581 119.478l-5.616-9.726c-3.423-5.929-10.986-7.937-16.881-4.534-5.895 3.404-7.938 10.958-4.515 16.887l5.616 9.726 21.396-12.353z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M182.953 91.704c-5.895 3.403-7.937 10.957-4.514 16.886 3.407 5.902 10.959 7.953 16.881 4.534l9.716-5.61-12.367-21.42-9.716 5.61z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M205.036 107.515l9.715-5.609c5.895-3.404 7.938-10.958 4.515-16.887-3.407-5.901-10.959-7.953-16.881-4.533l-9.716 5.609 12.367 21.42z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M199.246 255.808a9.729 9.729 0 01-10.31 7.227 9.765 9.765 0 01-3.101-.833c-4.267-1.907-6.66-6.682-5.432-11.362a9.727 9.727 0 0110.31-7.227 9.658 9.658 0 013.101.832c4.267 1.908 6.66 6.683 5.432 11.363z"
                        fill="#00C48C"></path>
                    <path
                        d="M193.814 244.445l-4.878 18.59a9.765 9.765 0 01-3.101-.833l4.878-18.59a9.766 9.766 0 013.101.833z"
                        fill="#01836A"></path>
                    <path
                        d="M173.035 306.713c3.407 5.902 10.96 7.953 16.882 4.534 5.895-3.404 7.938-10.958 4.515-16.887l-5.616-9.726-21.396 12.353 5.615 9.726z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M188.816 284.634l-5.616-9.727c-3.407-5.901-10.959-7.953-16.881-4.533-5.895 3.403-7.938 10.957-4.515 16.886l5.616 9.727 21.396-12.353z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M349.087 169.515a9.727 9.727 0 01-10.309 7.227 9.639 9.639 0 01-3.101-.832c-4.267-1.908-6.66-6.683-5.432-11.363a9.727 9.727 0 0110.309-7.227 9.639 9.639 0 013.101.833c4.267 1.907 6.66 6.682 5.432 11.362z"
                        fill="#00C48C"></path>
                    <path
                        d="M343.655 158.152l-4.877 18.59a9.658 9.658 0 01-3.101-.832l4.878-18.59c.54.052 1.068.148 1.585.287.532.166 1.022.32 1.515.545z"
                        fill="#01836A"></path>
                    <path
                        d="M336.266 124.933c-5.895 3.404-7.938 10.958-4.515 16.887 3.408 5.901 10.96 7.953 16.882 4.533l9.716-5.609-12.367-21.42-9.716 5.609z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M358.349 140.745l9.715-5.609c5.895-3.404 7.938-10.958 4.515-16.887-3.407-5.902-10.959-7.953-16.882-4.534l-9.715 5.61 12.367 21.42z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M383.464 159.54c-3.407-5.901-10.959-7.953-16.882-4.534-5.895 3.404-7.937 10.958-4.514 16.887l5.615 9.727 21.397-12.353-5.616-9.727z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M367.667 181.592l5.616 9.727c3.407 5.901 10.959 7.953 16.882 4.533 5.895-3.403 7.937-10.957 4.514-16.886l-5.615-9.727-21.397 12.353z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M372.857 95.283a9.728 9.728 0 01-10.31 7.228 9.773 9.773 0 01-3.101-.833c-4.267-1.908-6.66-6.683-5.432-11.362a9.728 9.728 0 0110.31-7.228 9.743 9.743 0 013.101.833c4.267 1.908 6.66 6.683 5.432 11.362z"
                        fill="#00C48C"></path>
                    <path
                        d="M367.409 83.894l-4.878 18.589a9.646 9.646 0 01-3.1-.832l4.893-18.563c.54.053 1.068.149 1.585.287.517.139 1.022.32 1.5.519z"
                        fill="#01836A"></path>
                    <path
                        d="M322.886 124.134a9.727 9.727 0 01-10.309 7.227 9.639 9.639 0 01-3.101-.833c-4.267-1.907-6.66-6.682-5.432-11.362a9.727 9.727 0 0110.31-7.227 9.646 9.646 0 013.1.832c4.267 1.908 6.66 6.683 5.432 11.363z"
                        fill="#00C48C"></path>
                    <path
                        d="M317.439 112.744l-4.878 18.59a9.766 9.766 0 01-3.101-.833l4.878-18.59c.54.053 1.068.148 1.585.287.532.166 1.038.348 1.516.546z"
                        fill="#01836A"></path>
                    <path
                        d="M320.865 100.529c3.408 5.902 10.96 7.953 16.882 4.534 5.895-3.404 7.938-10.958 4.515-16.887l-5.616-9.727-21.396 12.353 5.615 9.727z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M336.646 78.45l-5.615-9.727c-3.408-5.902-10.96-7.953-16.882-4.534-5.895 3.404-7.938 10.958-4.515 16.887l5.616 9.726 21.396-12.353z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M360.02 50.674c-5.895 3.404-7.938 10.958-4.515 16.887 3.407 5.901 10.96 7.953 16.882 4.533l9.715-5.609-12.367-21.42-9.715 5.61z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M382.102 66.486l9.716-5.61c5.922-3.419 7.938-10.957 4.515-16.886-3.408-5.902-10.96-7.953-16.882-4.534l-9.716 5.61 12.367 21.42z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M407.218 85.281c-3.408-5.902-10.96-7.953-16.882-4.534-5.895 3.404-7.938 10.958-4.515 16.887l5.616 9.727 21.396-12.354-5.615-9.726z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M391.437 107.361l5.616 9.726c3.407 5.902 10.959 7.953 16.881 4.534 5.895-3.404 7.938-10.958 4.515-16.887l-5.616-9.726-21.396 12.353z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M325.306 243.79a9.727 9.727 0 01-10.309 7.227 9.639 9.639 0 01-3.101-.832c-4.267-1.908-6.66-6.683-5.432-11.363a9.727 9.727 0 0110.309-7.227 9.639 9.639 0 013.101.832c4.267 1.908 6.66 6.683 5.432 11.363z"
                        fill="#00C48C"></path>
                    <path
                        d="M319.874 232.427l-4.877 18.59a9.639 9.639 0 01-3.101-.833l4.878-18.589a9.646 9.646 0 013.1.832z"
                        fill="#01836A"></path>
                    <path
                        d="M275.118 272.766a9.728 9.728 0 01-10.31 7.228 9.773 9.773 0 01-3.101-.833c-4.267-1.908-6.66-6.683-5.432-11.363a9.729 9.729 0 0110.31-7.227 9.765 9.765 0 013.101.833c4.267 1.908 6.66 6.682 5.432 11.362z"
                        fill="#00C48C"></path>
                    <path
                        d="M269.686 261.404l-4.878 18.589a9.658 9.658 0 01-3.101-.832l4.878-18.59a9.765 9.765 0 013.101.833z"
                        fill="#01836A"></path>
                    <path
                        d="M359.668 233.787c-3.407-5.902-10.959-7.953-16.882-4.534-5.895 3.404-7.937 10.958-4.514 16.887l5.615 9.727 21.397-12.354-5.616-9.726z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M343.887 255.867l5.616 9.726c3.407 5.902 10.959 7.953 16.882 4.534 5.894-3.404 7.937-10.958 4.514-16.887l-5.615-9.726-21.397 12.353z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M349.087 169.515a9.727 9.727 0 01-10.309 7.227 9.639 9.639 0 01-3.101-.832c-4.267-1.908-6.66-6.683-5.432-11.363a9.727 9.727 0 0110.309-7.227 9.639 9.639 0 013.101.833c4.267 1.907 6.66 6.682 5.432 11.362z"
                        fill="#00C48C"></path>
                    <path
                        d="M343.655 158.152l-4.877 18.59a9.658 9.658 0 01-3.101-.832l4.878-18.59c.54.052 1.068.148 1.585.287.532.166 1.022.32 1.515.545z"
                        fill="#01836A"></path>
                    <path
                        d="M259.454 108.299c-5.895 3.403-7.938 10.958-4.515 16.887 3.408 5.901 10.96 7.952 16.882 4.533l9.716-5.609-12.367-21.42-9.716 5.609z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M281.521 124.083l9.715-5.609c5.895-3.404 7.938-10.958 4.515-16.887-3.407-5.902-10.96-7.953-16.882-4.534l-9.715 5.61 12.367 21.42z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M296.071 78.634a9.728 9.728 0 01-10.31 7.227 9.743 9.743 0 01-3.1-.833c-4.268-1.907-6.661-6.682-5.433-11.362a9.728 9.728 0 0110.31-7.227 9.743 9.743 0 013.101.832c4.267 1.908 6.66 6.683 5.432 11.363z"
                        fill="#00C48C"></path>
                    <path
                        d="M290.623 67.244l-4.877 18.59a9.743 9.743 0 01-3.101-.833l4.893-18.563c.54.053 1.069.149 1.585.287.517.14 1.022.321 1.5.519z"
                        fill="#01836A"></path>
                    <path
                        d="M283.234 34.024c-5.895 3.404-7.938 10.958-4.515 16.887 3.408 5.901 10.96 7.953 16.882 4.534l9.716-5.61-12.367-21.42-9.716 5.61z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M305.316 49.836l9.716-5.61c5.895-3.403 7.938-10.957 4.515-16.886-3.407-5.902-10.96-7.953-16.882-4.534l-9.716 5.61 12.367 21.42z"
                        fill="#0F1551" fill-opacity="0.2"></path>
                    <path
                        d="M299.499 198.145a9.728 9.728 0 01-10.31 7.227 9.658 9.658 0 01-3.101-.832c-4.267-1.908-6.66-6.683-5.432-11.363a9.728 9.728 0 0110.31-7.227 9.658 9.658 0 013.101.832c4.267 1.908 6.66 6.683 5.432 11.363z"
                        fill="#00C48C"></path>
                    <path
                        d="M294.067 186.782l-4.878 18.59a9.784 9.784 0 01-1.585-.287 9.762 9.762 0 01-1.515-.546l4.877-18.589c.54.052 1.068.148 1.585.287.533.166 1.022.32 1.516.545z"
                        fill="#01836A"></path>
                    <path
                        d="M10.714 208.911c-5.895 3.403-7.938 10.957-4.515 16.886 3.407 5.902 10.96 7.953 16.882 4.534l9.715-5.61-12.367-21.42-9.715 5.61z"
                        fill="#0F1551" fill-opacity="0.75"></path>
                    <path
                        d="M32.78 224.694l9.716-5.609c5.895-3.403 7.938-10.958 4.515-16.887-3.408-5.901-10.96-7.952-16.882-4.533l-9.716 5.609 12.367 21.42z"
                        fill="#0F1551" fill-opacity="0.2" width="100" height="100" style="height: 100px;width: 100px;">
                    </path>
                </svg>
                </div>
            </div>
        </div>
    </div>
</div>