<div class="wave">
    <!-- wave line -->
    <div>
        <svg fill="none" viewBox="0 0 1440 81" preserveAspectRatio="none" class="waveline">
        <path d="M1440 81V17.182c-486.269 178.061-969.884-84.228-1440 0V81h1440z"></path>
        </svg>
    </div>
    <!-- character background -->
    <div>
        <svg viewBox="0 0 700 700" preserveAspectRatio="none" class="charback">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M390.165 699.994C211.34 700.281-.608 691.301.001 494.533c.42-135.268 63.419-148.651 85.124-268.841l.805-4.086c21.464-111.419 95.19-195.24 181.981-214.66C408.526-24.522 451.599 55.73 511.486 151.074 576.526 254.622 700 279.871 700 477.155c0 165.128-131.01 222.552-309.835 222.839z"></path>
        </svg>
    </div>
    <!-- content -->
    <div class=" content">
        <div class="content2">
            <h1 class="content3">Your medical records at your fingertips</h1>
            <div class="content4">
                <p>A new law requires doctors and insurance companies to give you access to your electronic medical records. You have the right to get them through an app and at no cost.</p>
            </div><a href="https://my.MyMediTales.com/signup" data-role="button" class="btn_icon" target="_blank" rel="noopener noreferrer" data-appdownload="false" data-interacts-button="true"><span class="OPl9hNpsaTkcK44UIVaY-">Sign up</span></a></div>
    </div>
    <!-- women image -->
    <div>
        <img class="_3qJyyswL8WCoBq4KITaWMB womenimg" width="1400" height="1200" loading="lazy" src="https://images.prismic.io/or-marketing-prod/5ebd117c-3bcf-4ca0-97f2-077ae5edb994_security-hero.png?auto=compress,format&amp;rect=0,0,1400,1200&amp;w=700&amp;h=600"
            alt="Woman looking cheerful" srcset="https://images.prismic.io/or-marketing-prod/5ebd117c-3bcf-4ca0-97f2-077ae5edb994_security-hero.png?auto=compress,format&amp;rect=0,0,1400,1200&amp;w=1050&amp;h=900 1.5x, https://images.prismic.io/or-marketing-prod/5ebd117c-3bcf-4ca0-97f2-077ae5edb994_security-hero.png?auto=compress,format&amp;rect=0,0,1400,1200&amp;w=1400&amp;h=1200 2x">
    </div>
</div>
<!-- mobile simulation -->
<div>
    <section class=" mappingcontent" data-interacts-mobilefeaturesteps="true"><img class="img_style3" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/c7210728-656d-40ef-87a6-3ecca1e009a4_app-steps-main.svg" alt="A view of Medical Records of the MyMediTales app on a mobile device.">
        <div class="mappingstep1 ">
            <div class=" mappingimg imgright">
                <div class="img_1"><img class="img_2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/bb8a2bfb-619a-4211-8a7f-9b04be668cda_app-steps-1.svg" alt="Two bubbles showing medical providers"></div>
                <div class="step">Step 1</div>
                <p class=" stepcontent"><strong>Connect your hospitals, clinics and doctors</strong></p>
                <div class="stepcontent_1">
                    <p>With the largest network of the most popular providers, you get instant access to the majority of healthcare facilities in the United States</p>
                </div>
            </div>
            <div class=" mappingimg imgleft">
                <div class="img_1"><img class="img_2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/57bf1692-4a1a-448c-943f-156f9ce7d5ce_app-steps-2.svg" alt="Multiple insurance provider logos"></div>
                <div class="step">Step 2</div>
                <p class="stepcontent"><strong>Get your insurance records too</strong></p>
                <div class="stepcontent_1">
                    <p>Instant access to health care records and claims from past and present insurance companies</p>
                    <p class="muted"><em>Currently supporting Medicare Advantage, Medicaid &amp; CHIP Fee for Service, Medicaid &amp; CHIP Managed Care, Qualified Health Plans on Federally Funded Exchanges</em></p>
                </div>
            </div>
            <div class="mappingimg imgright">
                <div class="img_1"><img class="img_2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/4f9fe770-693d-4255-b768-74bef5629302_app-steps-3.svg" alt="A mobile vaccination card"></div>
                <div class="step">Step 3</div>
                <p class="stepcontent"><strong>Add a digital vaccination card</strong></p>
                <div class="stepcontent_1">
                    <p>Add any immunization record to your iOS wallet, including your COVID-19 records</p>
                </div>
            </div>
            <div class="mappingimg imgleft">
                <div class="img_1"><img class="img_2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/681f2b07-1461-4bc2-8a7c-c0b9540d9eb0_app-steps-4.svg" alt="Illustration of a man, child, and elderly woman"></div>
                <div class="step">Step 4</div>
                <p class="stepcontent"><strong>Manage your whole family in one place</strong></p>
                <div class="stepcontent_1">
                    <p>Gather all your loved one’s health information into one organized, secure place</p>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="area2">
    <section class="mob_demo" data-interacts-contentheroitems="true">
        <div class="img_style1"><img class="img_style2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/f86c4bd3-43ea-4d80-9f69-0d022948f959_checkcol-records.svg" alt="Mobile view of detailed medical data"></div>
        <div class=" mob_content1 mob_content2">
            <div class="mob_inner_content1">
                <div class="content_link">Tap a feature to see it</div>
                <h2 class="para_heading">Your health records, simplified</h2>
            </div>
            <div class="para_style1 para_style2">
                <div>
                    <div class="tabled_content">
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Allergies</strong></p>
                            <div class="under_heading_style">
                                <p>Your allergies that represent harmful or undesirable physiological responses associated with exposure to a substance</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tabled_content">
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Immunizations</strong></p>
                            <div class="under_heading_style">
                                <p>Your immunizations include a record of an administration of a vaccination or a record of a vaccination as reported by you, a clinician, or another party.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tabled_content">
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Medications</strong></p>
                            <div class="under_heading_style">
                                <p>Medicines that have been prescribed for you</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tabled_content">
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Labs</strong></p>
                            <div class="under_heading_style">
                                <p>Your test results</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tabled_content">
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Vitals</strong></p>
                            <div class="under_heading_style">
                                <p>A historical view on all your recurring health data, charted plainly</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tabled_content">
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Clinical Notes</strong></p>
                            <div class="under_heading_style">
                                <p>Your doctor’s, nurse’s, other clinicians’ notes</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tabled_content">
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Problems &amp; Proceedures</strong></p>
                            <div class="under_heading_style">
                                <p>Findings from check-ups and examinations</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tabled_content">
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Care Team &amp; Care Plan</strong></p>
                            <div class="under_heading_style">
                                <p>Suggestions and next steps for your care</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <section class="mob_demo" data-interacts-contentheroitems="true">
        <div class="img_style1 img_style2"><img class="img_style2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/d7a153d6-545b-477e-ae34-0de0222fbc0f_checkcol-share.svg" alt="The 'share medical records view' of the MyMediTales app"></div>
        <div class="mob_content1">
            <div class="mob_inner_content1">
                <div class="content_link">For your family</div>
                <h2 class="para_heading">Multi-profile management</h2>
            </div>
            <div class="para_style1">
                <div>
                    <div class="tabled_content">
                        <div class="tick_icon"><svg viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.445 3.565c.74.753.74 1.974 0 2.727L9.55 20.435c-.74.753-1.94.753-2.68 0L.556 14.007a1.953 1.953 0 010-2.728 1.871 1.871 0 012.68 0l4.976 5.065 12.554-12.78a1.871 1.871 0 012.68 0z" fill="currentColor"></path></svg></div>
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>For partners, children, and relatives - as many as you like</strong></p>
                            <div class="under_heading_style">
                                <p>Add and Switch easily between profiles for those for which you care</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tabled_content">
                        <div class="tick_icon"><svg viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.445 3.565c.74.753.74 1.974 0 2.727L9.55 20.435c-.74.753-1.94.753-2.68 0L.556 14.007a1.953 1.953 0 010-2.728 1.871 1.871 0 012.68 0l4.976 5.065 12.554-12.78a1.871 1.871 0 012.68 0z" fill="currentColor"></path></svg></div>
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Manage provider connections</strong></p>
                            <div class="under_heading_style">
                                <p>As easily as connecting your own providers, you can connect and keep updated on your family’s health data</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tabled_content">
                        <div class="tick_icon"><svg viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.445 3.565c.74.753.74 1.974 0 2.727L9.55 20.435c-.74.753-1.94.753-2.68 0L.556 14.007a1.953 1.953 0 010-2.728 1.871 1.871 0 012.68 0l4.976 5.065 12.554-12.78a1.871 1.871 0 012.68 0z" fill="currentColor"></path></svg></div>
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Simple sharing</strong></p>
                            <div class="under_heading_style">
                                <p>Securely share immunization records for your children’s school or lab updates to your pediatrician</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <section class="mob_demo" data-interacts-contentheroitems="true">
        <div class="img_style1"><img class="img_style2" src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/b8bc0268-2de6-4c4b-9f70-28c1de5f0144_checkcol-wallet.svg" alt="Vaccination wallet pass on mobile"></div>
        <div class="mob_content1">
            <div class="mob_inner_content1">
                <div class="content_link">Share your records</div>
                <h2 class="para_heading">Smart data sharing</h2>
                <div class="content5">
                    <p>Send Doctors, schools and loved ones secure access to important records</p>
                </div>
            </div>
            <div class="para_style1">
                <div>
                    <div class="tabled_content">
                        <div class="iconsize"><img src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/125731ad-0301-4f85-b2a0-c888d6a784be_icon-airplane.svg" alt="Paper airplane icon"></div>
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Send a private link</strong></p>
                            <div class="under_heading_style">
                                <p>Send a temporary, limited-access link to professionals or family members that are part of your health journey.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tabled_content">
                        <div class="iconsize"><img src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/3f0f22cc-0da2-4446-83e9-6da9c294a299_icon-folder-download.svg" alt="Folder download icon"></div>
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Download a consolidated PDF</strong></p>
                            <div class="under_heading_style">
                                <p>Get a PDF of your consolidated medical record and share it with your care team or family.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tabled_content">
                        <div class="iconsize"><img src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/6d6e6e4b-f9be-4fda-ad15-83570d39cdb0_icon-qr.svg" alt="QR code icon"></div>
                        <div class="tabled_content1">
                            <p class="para_inner_content"><strong>Wallet preview for iOS</strong></p>
                            <div class="under_heading_style">
                                <p>Add any immunization record to your iOS wallet, including your COVID-19 records, for easy access.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>