.expands.current {
    background-color: #010743;
}

.expands {
    background-color: #f6f6f9;
    overflow: hidden;
    position: relative;
}

@media (min-width: 48rem) {
    ._2ZeRHtXkLUoXs611T9ZHoA {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 64rem) {
    section {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

section {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

._2XDZ0MyKdj3Ms9KBxu92RK {
    text-transform: uppercase;
    font-family: Volte-Semibold, sans-serif;
    font-size: 0.9375em;
    letter-spacing: 1px;
}

._2XDZ0MyKdj3Ms9KBxu92RK+.WN-AFzZmRLaeV3qWuyW17 {
    margin-top: 0.75rem;
}

.WN-AFzZmRLaeV3qWuyW17 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

._2XDZ0MyKdj3Ms9KBxu92RK {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.9375em;
    letter-spacing: 1px;
}

._2XDZ0MyKdj3Ms9KBxu92RK+.WN-AFzZmRLaeV3qWuyW17 {
    margin-top: 0.75rem;
}

.WN-AFzZmRLaeV3qWuyW17 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

._3YUV9YM0RhkLeHSBvhhRQc {
    display: flex;
    align-items: center;
}

._3V_9tYwAg9vuiuqPrr77ub {
    text-decoration: none;
}

._3V_9tYwAg9vuiuqPrr77ub+._1J6w4BclIaeaFFMg9YzkH6 {
    margin-left: 0.5rem;
}

._1J6w4BclIaeaFFMg9YzkH6 {
    font-size: 0.75em;
    line-height: 1em;
    border-radius: 0.125rem;
    padding: 0.1875em 0.375em;
    background-color: rgb(70, 86, 214);
    color: rgb(255, 255, 255);
}

._3YUV9YM0RhkLeHSBvhhRQc+._3YUV9YM0RhkLeHSBvhhRQc {
    margin-top: 0.5rem;
}

._3YUV9YM0RhkLeHSBvhhRQc {
    display: flex;
    align-items: center;
}

._3V_9tYwAg9vuiuqPrr77ub {
    text-decoration: none;
}

._2XDZ0MyKdj3Ms9KBxu92RK {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.9375em;
    letter-spacing: 1px;
}

._2XDZ0MyKdj3Ms9KBxu92RK+.WN-AFzZmRLaeV3qWuyW17 {
    margin-top: 0.75 rem;
}

.WN-AFzZmRLaeV3qWuyW17 {
    margin: 0 px;
    padding: 0 px;
    list-style: none;
}

._3YUV9YM0RhkLeHSBvhhRQc {
    display: flex;
    align-items: center;
}

._3V_9tYwAg9vuiuqPrr77ub+._1J6w4BclIaeaFFMg9YzkH6 {
    margin-left: 0.5rem;
}

._1J6w4BclIaeaFFMg9YzkH6 {
    font-size: 0.75em;
    line-height: 1em;
    border-radius: 0.125rem;
    padding: 0.1875em 0.375em;
    background-color: rgb(70, 86, 214);
    color: rgb(255, 255, 255);
}

._3YUV9YM0RhkLeHSBvhhRQc+._3YUV9YM0RhkLeHSBvhhRQc {
    margin-top: 0.5rem;
}

._3YUV9YM0RhkLeHSBvhhRQc {
    display: flex;
    align-items: center;
}

@media (min-width: 64rem) {
    ._3FRiHbsQ8jHOS6iVwoDSV9+._2IPVFr9Q1GS6nX-6koNGl5 {
        margin-left: 3rem;
    }
}

@media (min-width: 48rem) {
    ._3FRiHbsQ8jHOS6iVwoDSV9+._2IPVFr9Q1GS6nX-6koNGl5 {
        margin-top: 0px;
        margin-left: 5rem;
    }
}

._3FRiHbsQ8jHOS6iVwoDSV9+._2IPVFr9Q1GS6nX-6koNGl5 {
    margin-top: 2.5rem;
}

@media (min-width: 48rem) {
    ._2IPVFr9Q1GS6nX-6koNGl5 {
        flex: 1 1 0%;
        max-width: 56rem;
    }
}

@media (min-width: 64rem) {
    .DaLXdDfexxPS1MxQTea3S+.DaLXdDfexxPS1MxQTea3S {
        margin-top: 3rem;
        padding-top: 3rem;
    }
}

.DaLXdDfexxPS1MxQTea3S+.DaLXdDfexxPS1MxQTea3S {
    margin-top: 2.5rem;
    border-top: 1px solid rgb(217, 216, 226);
    padding-top: 2.5rem;
}

@media (min-width: 64rem) {
    ._3FzGHD30hpZYMmyZIcG17j+._3FzGHD30hpZYMmyZIcG17j {
        margin-top: 7.5rem;
    }
}

._3FzGHD30hpZYMmyZIcG17j+._3FzGHD30hpZYMmyZIcG17j {
    margin-top: 3.75rem;
}

._3LdvDJt7upxfKoqWhBJhJK {
    margin: 0px;
}

@media (min-width: 70rem) {
    h4 {
        font-size: 2em;
        line-height: 1.1875em;
    }
}

@media (min-width: 64rem) {
    h4 {
        font-size: 1.875em;
        line-height: 1.1875em;
    }
}

h4 {
    font-size: 1.6875em;
    line-height: 1.2592em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Volte-Semibold", sans-serif;
    font-weight: 400;
    margin-bottom: 1.875 rem;
}

@media (min-width: 64rem) {
    ._3LdvDJt7upxfKoqWhBJhJK+._33eRVw0vTXYUGOVdph5ThH {
        margin-top: 1.25rem;
    }
}

._3LdvDJt7upxfKoqWhBJhJK+._33eRVw0vTXYUGOVdph5ThH {
    margin-top: 1rem;
}

@media (min-width: 48rem) {
    ._33eRVw0vTXYUGOVdph5ThH {
        max-width: 42.5rem;
    }
}

@media (min-width: 64rem) {
    ._33eRVw0vTXYUGOVdph5ThH+[data-role="button"] {
        margin-top: 2.5rem;
    }
}

._33eRVw0vTXYUGOVdph5ThH+[data-role="button"] {
    margin-top: 2rem;
}

@media (min-width: 48rem) {
    .FQheX3eEiNv_yeA47M5XD {
        padding: 0.75em 1.75em;
        align-self: flex-start;
    }
}

.FQheX3eEiNv_yeA47M5XD {
    background-color: #4656d6;
    color: #fff;
    border-radius: 0.125rem;
    padding: 0.75em 1.25em;
    font-family: "Volte-Semibold", sans-serif;
    text-decoration: none;
    font-size: 1.125em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease;
    border: 0;
}

.expands.current {
    background-color: #010743;
}

.expands {
    background-color: #f6f6f9;
    overflow: hidden;
    position: relative;
}

@media (min-width: 84rem) {
    ._1IPQbpg5xW7vKsdcvtKN0p {
        min-height: 40.25rem;
    }
}

@media (min-width: 64rem) {
    ._1IPQbpg5xW7vKsdcvtKN0p {
        margin-top: 5.625rem;
        min-height: 37rem;
    }
}

@media (min-width: 48rem) {
    ._1IPQbpg5xW7vKsdcvtKN0p {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        min-height: 30rem;
    }
}

@media (min-width: 64rem) {
    ._1IPQbpg5xW7vKsdcvtKN0p {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

._1IPQbpg5xW7vKsdcvtKN0p {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 4.3125rem;
    padding-top: 2rem;
}

.current ._2jSVTgIWYF4ltuAe7Zyn7d {
    color: #fff;
}

@media (min-width: 84rem) {
    ._2jSVTgIWYF4ltuAe7Zyn7d {
        width: 31.25rem;
    }
}

@media (min-width: 64rem) {
    ._2jSVTgIWYF4ltuAe7Zyn7d {
        margin-top: 3rem;
        margin-bottom: 5rem;
        margin-right: 5rem;
        padding-bottom: 6rem;
    }
}

@media (min-width: 48rem) {
    ._2jSVTgIWYF4ltuAe7Zyn7d {
        width: 40%;
        align-self: center;
        margin-top: 3rem;
        margin-bottom: 8.75rem;
        margin-right: 3rem;
        max-width: 32rem;
    }
}

._2jSVTgIWYF4ltuAe7Zyn7d {
    z-index: 5;
    position: relative;
}

._3ZlSiKPxigAJVcdvcjgToi {
    margin: 0;
}

@media (min-width: 70rem) {
    h1 {
        font-size: 3.625em;
        line-height: 1em;
    }
}

@media (min-width: 64rem) {
    h1 {
        font-size: 3.125em;
        line-height: 1em;
    }
}

@media (min-width: 48rem) {
    ._3ZlSiKPxigAJVcdvcjgToi+.OzrxiEWZ-K6v1e3UeuWx5 {
        margin-top: 1.25rem;
    }
}

h1 {
    font-size: 2.5em;
    line-height: 1em;
    letter-spacing: -.5px;
}

@media (min-width: 84rem) {
    ._1hcqLe5VqDq6Vqk31w9-mC {
        width: inherit;
        flex: 1;
    }
}

@media (min-width: 48rem) {
    ._1hcqLe5VqDq6Vqk31w9-mC {
        margin-top: 0;
        width: 60%;
        justify-content: flex-end;
    }
}

._1hcqLe5VqDq6Vqk31w9-mC {
    display: flex;
    margin-top: 2rem;
    position: relative;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 64rem) {
    ._3qJyyswL8WCoBq4KITaWMB {
        flex-shrink: 16;
    }
}

._3qJyyswL8WCoBq4KITaWMB {
    position: absolute;
    z-index: 1;
}

img {
    max-width: 104%;
    height: auto;
}

@media (min-width: 64rem) {
    .plP5Ci8Ts7DlL5_fiIrFr {
        height: 5rem;
    }
}

@media (min-width: 48rem) {
    .plP5Ci8Ts7DlL5_fiIrFr {
        height: 3.5rem;
        transform: none;
    }
}

.plP5Ci8Ts7DlL5_fiIrFr {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 3rem;
    fill: #fff;
    user-select: none;
    transform: scaleY(1.001);
}