.expands.current {
    background-color: #010743;
    height: 649px;
}

.expands {
    background-color: #f6f6f9;
    overflow: hidden;
    position: relative;
}

@media (min-width: 48rem) {
    .friction {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 64rem) {
    section {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

section {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.condition {
    text-transform: uppercase;
    font-family: Volte-Semibold, sans-serif;
    font-size: 0.8375em;
    letter-spacing: 1px;
    font-weight: 600;
}

.condition1 {
    margin-top: 50px;
}

.condition2 {
    margin-top: 20px;
}

.condition+.palx {
    margin-top: 0.75rem;
    line-height: 0.905rem;
}

.palx {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-left: -42px;
    font-size: 1.005rem;
    line-height: 2.05;
}

.palx {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.junction {
    display: flex;
    align-items: center;
}

.toggle {
    text-decoration: none;
    font-size: 0.890rem;
    /* color: rgb(70, 86, 214); */
    font-weight: 600;
    color: #4656d6 !important;
}

.toggle+.plaxer {
    margin-left: 0.5rem;
}

.plaxer {
    font-size: 0.75em;
    line-height: 1em;
    border-radius: 0.125rem;
    padding: 0.1875em 0.375em;
    background-color: rgb(70, 86, 214);
    color: rgb(255, 255, 255);
}

.junction+.junction {
    margin-top: 0.5rem;
}

.junction {
    display: flex;
    align-items: center;
}

.junction {
    display: flex;
    align-items: center;
}

.junction+.junction {
    margin-top: 0.5rem;
}

.junction {
    display: flex;
    align-items: center;
}

@media (min-width: 64rem) {
    .blinker+.gimber {
        margin-left: 3rem;
    }
}

@media (min-width: 48rem) {
    .blinker+.gimber {
        margin-top: 0px;
        margin-left: 5rem;
    }
}

.blinker+.gimber {
    margin-top: 2.5rem;
}

@media (min-width: 48rem) {
    .gimber {
        flex: 1 1 0%;
        max-width: 56rem;
    }
}

@media (min-width: 64rem) {
    .seconds+.seconds {
        margin-top: 3rem;
        padding-top: 3rem;
    }
}

.seconds+.seconds {
    margin-top: 2.5rem;
    border-top: 1px solid rgb(217, 216, 226);
    padding-top: 2.5rem;
}

@media (min-width: 64rem) {
    .frame+.frame {
        margin-top: 7.5rem;
    }
}

.frame+.frame {
    margin-top: 3.75rem;
}

.clicker {
    font-size: 1.802rem;
    font-weight: 600;
    margin-top: 37px;
}

.clicker1 {
    font-size: 1.802rem;
    font-weight: 600;
    margin-top: 37px;
}

@media (min-width: 70rem) {
    h4 {
        font-size: 2em;
        line-height: 1.1875em;
    }
}

@media (min-width: 64rem) {
    h4 {
        font-size: 1.875em;
        line-height: 1.1875em;
    }
}

h4 {
    font-size: 1.6875em;
    line-height: 1.2592em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Volte-Semibold", sans-serif;
    font-weight: 400;
    margin-bottom: 1.875 rem;
}

@media (min-width: 64rem) {
    .clicker+.provider {
        margin-top: 1.25rem;
    }
}

.clicker+.provider {
    margin-top: 1rem;
}

@media (min-width: 48rem) {
    .provider {
        max-width: 42.5rem;
    }
}

@media (min-width: 64rem) {
    .provider+[data-role="button"] {
        margin-top: 2.5rem;
    }
}

.providers {
    color: #5c5969;
    font-size: 1.002rem;
    width: 722px;
    margin-top: 22px;
}

.providers1 {
    color: #5c5969;
    font-size: 1.002rem;
    width: 666px;
    margin-top: 22px;
}

.seconds1 {
    padding-top: 0.5rem;
}

.providers2 {
    color: #5c5969;
    font-size: 1.000rem;
    width: 646px;
    margin-top: 22px;
}

.providers3 {
    color: #5c5969;
    font-size: 1.000rem;
    width: 646px;
    margin-top: 22px;
    margin-bottom: 27px;
}

.provider+[data-role="button"] {
    margin-top: 2rem;
}

@media (min-width: 48rem) {
    .retain {
        padding: 0.75em 1.75em;
        align-self: flex-start;
    }
}

.provider ul li::before {
    content: '\2022 ';
    margin-left: 0.25em;
}

.provider ul li::before {
    font-family: "Volte-Semibold", sans-serif;
    color: #5466f7;
    margin-right: 0.75rem;
    font-size: 1.325em;
    line-height: 1.325em;
}

.provider ul li {
    list-style-type: inherit;
    display: flex;
    font-size: 0.994rem;
}

.retain {
    background-color: #4656d6;
    color: #fff;
    border-radius: 0.125rem;
    padding: 0.75em 2.25em;
    font-family: "Volte-Semibold", sans-serif;
    text-decoration: none;
    font-size: 1.125em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    padding-bottom: 10px;
}

@media (min-width: 84rem) {
    .return {
        min-height: 40.25rem;
    }
}

@media (min-width: 64rem) {
    .return {
        margin-top: 5.625rem;
        min-height: 37rem;
    }
}

@media (min-width: 48rem) {
    .return {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        min-height: 30rem;
    }
}

@media (min-width: 64rem) {
    .return {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.return {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 4.3125rem;
    padding-top: 2rem;
}

.current .control {
    color: #fff;
    width: 559px;
    font-weight: 400;
    font-size: 1.207rem;
}

.clock1 {
    font-size: 3.007rem;
    font-weight: 700;
    margin-top: 130px;
    margin-bottom: 30px;
}

.clock {
    font-size: 3.007rem;
    font-weight: 700;
    margin-top: 29px;
    margin-bottom: 30px;
}

@media (min-width: 84rem) {
    .control {
        width: 31.25rem;
    }
}

@media (min-width: 64rem) {
    .control {
        margin-top: 3rem;
        margin-bottom: 5rem;
        margin-right: 5rem;
        padding-bottom: 6rem;
    }
}

@media (min-width: 48rem) {
    .control {
        width: 40%;
        align-self: center;
        margin-top: 3rem;
        margin-bottom: 8.75rem;
        margin-right: 3rem;
        max-width: 32rem;
    }
}

.control {
    z-index: 5;
    position: relative;
}

.fetch {
    margin: 0;
}

@media (min-width: 70rem) {
    h1 {
        font-size: 3.625em;
        line-height: 1em;
    }
}

@media (min-width: 64rem) {
    h1 {
        font-size: 3.125em;
        line-height: 1em;
    }
}

@media (min-width: 48rem) {
    .fetch+.archive {
        margin-top: 1.25rem;
    }
}

h1 {
    font-size: 3em;
    line-height: 1em;
    font-weight: bolder;
    letter-spacing: -.5px;
}

@media (min-width: 84rem) {
    .policy {
        width: inherit;
        flex: 1;
    }
}

@media (min-width: 48rem) {
    .policy {
        margin-top: 0;
        width: 60%;
        justify-content: flex-end;
    }
}

.policy {
    display: flex;
    margin-top: 2rem;
    position: relative;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 64rem) {
    .frick {
        flex-shrink: 16;
    }
}

.frick {
    position: absolute;
    z-index: 1;
}

img {
    max-width: 100%;
    height: auto;
    left: 31px;
    top: 10px;
}

@media (min-width: 64rem) {
    .bricks {
        height: 5rem;
    }
}

@media (min-width: 48rem) {
    .bricks {
        height: 3.5rem;
        transform: none;
    }
}

.bricks {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 3rem;
    fill: #fff;
    user-select: none;
    transform: scaleY(1.001);
}