<main>
    <div class=" expands current" data-role="hero">
        <div class="return container ">
            <div class="control row">
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <h1 class="fetchsi">Policies Archive</h1>
                    <div class="archive">
                        <p class="parasi">MyMediTales is committed to treating you with respect and being forthright about recent updates and changes to our policies. Read the latest changes to those policies and stay informed.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="policy"><img class="frick imgsi" width="1400" height="1200" loading="lazy" src="https://prismic-io.s3.amazonaws.com/or-marketing-prod/1ef4aad4-ab35-4ba2-b49d-2f087b5b6000_hero-sm-archive.svg" alt="A filing cabinet">
                </div>
            </div>
        </div>
        <svg fill="none" viewBox="0 0 1440 81" preserveAspectRatio="none" class="bricks"><path d="M1440 81V17.182c-486.269 178.061-969.884-84.228-1440 0V81h1440z"></path></svg>
    </div>

    <section class=" container">
        <div class="row">
            <div class=" col-md-6 col-sm-6 col-lg-6 ">
                <div class="   ">
                    <div class="">
                        <div class="">
                            <div class="condition condition1">Terms of Service</div>
                            <ul class="palx">
                                <li class="junction"><a href="#2020-09-22" class="togglesi" aria-label="Scroll to 2020-09-22">Sep 22, 2020</a>
                                    <div class="plaxer">current</div>
                                </li>
                                <li class="junction"><a href="#2019-02-22" class="togglesi" aria-label="Scroll to 2019-02-22">Feb 22, 2019</a></li>
                            </ul>
                        </div>
                        <div class="fetcher">
                            <div class="condition condition2">Privacy Policy</div>
                            <ul class="palx">
                                <li class="junction"><a href="#2020-10-23" class="togglesi" aria-label="Scroll to 2020-10-23">Oct 23, 2020</a>
                                    <div class="plaxer">current</div>
                                </li>
                                <li class="junction"><a href="#2020-08-31" class="togglesi" aria-label="Scroll to 2020-08-31">Aug 31, 2020</a></li>
                                <li class="junction"><a href="#2019-02-19" class="togglesi" aria-label="Scroll to 2019-02-19">Feb 19, 2019</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="gimber">
                        <div class="frame">
                            <h2 class="clock">Terms of Service Changelog</h2>
                            <div class="seconds2">
                                <h4 id="terms2020-09-22"><span class="clicker">Sep 22, 2020</span><span class="clicker"> - Current</span></h4>
                                <div class="providersi">
                                    <p class="providerssi">We revised our Terms of Service into a combined document to addresses both the web app and mobile apps. Many of the updates to the terms were made to include language for both web and mobile. We also broke it into more
                                        easily scannable and concise sections. Many updates to language were made to include our mobile applications as part of our terms. </p>
                                    <p class="providerssi">A highlight of major changes included the following:</p>
                                    <ul>
                                        <li>How we treat non-confidential data that is transmitted through our service.</li>
                                        <li>More descriptive language around the license to use our service.</li>
                                    </ul>
                                </div>
                                <a href="/policies/terms" data-role="button" class="retain retain1" data-interacts-button="true" style="margin-top: 14px;"><span >View this Version</span></a></div>
                            <div class="seconds2">
                                <h4 id="terms2019-02-22"><span class="clicker">Feb 22, 2019</span></h4>
                                <div class="providersi">
                                    <p class="providerssi1">This is our initially published terms of service. It established the terms on which MyMediTales is used and MyMediTales's obligations to those who use it. Some important areas included the below:</p>
                                    <ul class="bandsi">
                                        <li>By using MyMediTales, you agree to the terms provided here.</li>
                                        <li>If these terms change, we'll put the new version here.</li>
                                        <li>We are not your doctor and aren't recommending a particular treatment path.</li>
                                    </ul>
                                </div><a href="/policies/archive/terms/2019-02-22" data-role="button" class="retain retain1" data-interacts-button="true" style="margin-top: 18px;"><span >View this Version</span></a></div>
                        </div>
                        <div class="frame">
                            <h2 class="clock1">Privacy Policy Changelog</h2>
                            <div class="seconds2">
                                <h4 id="privacy2020-10-23"><span class="clicker1">Oct 23, 2020</span><span class="clicker1"> - Current</span></h4>
                                <div class="providersi">
                                    <p class="providerssi2">This policy update added more detailed language around data retention and data deletion requests including the below updates:</p>
                                    <ul class="bandsi">
                                        <li>A&nbsp;timeline&nbsp;on how long you might retain personal data for dormant accounts.</li>
                                        <li>A&nbsp;timeline&nbsp;for how long it will take to honor a data deletion request.</li>
                                    </ul>
                                </div><a href="/policies/privacy" data-role="button" class="retain  retain1" data-interacts-button="true" style="margin-top: 18px;"><span >View this Version</span></a></div>
                            <div class="seconds2 seconds1">
                                <h4 id="privacy2020-08-31"><span class="clicker">Aug 31, 2020</span></h4>
                                <div class="providersi">
                                    <p class="providerssi3">This policy update added more protections to how we keep your data secure as well as how we keep you updated on changes:</p>
                                    <ul class="bandsi">
                                        <li>A new section was added, highlighting data retention practices for dormant/inactive accounts and how you can request your data be deleted at any time.</li>
                                        <li>Our policy for updating you on our privacy agreement changes was enhanced to specify that we would highlight and notify you of any changes.</li>
                                        <li>If you disapprove of changes to this privacy agreement, you'll have the opportunity to opt-out of the services we provide.</li>
                                    </ul>
                                </div><a href="/policies/archive/privacy/2020-08-31" data-role="button" class="retain retain1" data-interacts-button="true" style="margin-top: 18px;"><span >View this Version</span></a></div>
                            <div class="seconds2">
                                <h4 id="privacy2019-02-19"><span class="clicker">Feb 19, 2019</span></h4>
                                <div class="providersi">
                                    <p class="providerssi3">This is our initial privacy policy. It established transparency into how we use the data we collect. Here are some of the important items it covered:</p>
                                    <ul class="bandsi">
                                        <li>How you can choose not to share information with us.</li>
                                        <li>The ways you decide how your medical information is shared.</li>
                                        <li>How we protect your data.</li>
                                        <li>Our pledge to keep you updated when this policy is changed.</li>
                                    </ul>
                                </div><a href="/policies/archive/privacy/2019-02-19" data-role="button" class="retain retain1 retain3 " data-interacts-button="true" style="margin-top: 18px;"><span class="notify">View this Version</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>