    

<div class="container-fluid" class="carincodecontainer1">
    <div class="row carincoderow">
        <div class=" col-sm-6 carincodetext">
            <h1 class="">Carin Code of Conduct</h1>
            <div class="carincodeparag">
                <p>The CARIN Code of Conduct is a set of guidelines that were created to keep your information safe
                    and secure. </p>
                <p>The code describes the guidelines we follow and the rights we guarantee you. The rules of the
                    code are optional, yet we follow them in order to provide the best service and to protect all
                    your privacy and information.</p>
            </div>
        </div>
        <div class=" col-sm-6"><img class="carinladyimg" width="1400" height="1200"
                loading="lazy"
                src="https://images.prismic.io/or-marketing-prod/d6f1d5d2-1923-4859-b573-767d9590cee2_hero-image-carin.svg?auto=compress,format&amp;rect=0,0,700,600&amp;w=1400&amp;h=1200"
                alt="Illustration of a document with a seal on it.">
        </div>
        <svg fill="none" viewBox="0 0 1440 81" preserveAspectRatio="none" class="wavelength">
            <path d="M1440 81V17.182c-486.269 178.061-969.884-84.228-1440 0V81h1440z"></path>
        </svg>
    </div>
</div>

<div class="container-fluid carincodecontainer2">
    <div class="carincode-menu">
        <div class="carincode-menutable hrule">TABLE OF CONTENTS</div>
      
        <ul>
            <li><a href="#">I. Who is the CARIN Alliance?</a></li>
            <li><a href="#">II. What is consumer-directed<br> exchange?</a></li>
            <li><a href="#">III. Individual Right of Access<br> request vs. HIPAA Authorization</a></li>
            <li><a href="#">IV. Who is the audience for the<br> CARIN code of conduct?</a></li>
            <li><a href="#">V. What is the purpose and<br> structure of the CARIN Trust <br>Framework?</a></li>
            <li><a href="#">VI. Who helped provide input to<br> the CARIN code of conduct?</a></li>
            <li><a href="#">VII. Can we provide input to the<br> CARIN code of conduct?</a></li>
            <li><a href="#">VIII. How does the CARIN<br> Alliance plan on operationalizing<br> the code of conduct?</a>
            </li>
        </ul>
    </div>

    <div class="carincode-main">
        <div class="carincode-maintext">
            <h1 class="backsec"> Section I – Background and Overview</h1>
            <br>
            <p class="carintrust">The CARIN Trust Framework and Code of Conduct</p>
           
            <p>A foundational set of principles for how health care organizations can share data with consumer applications.</p>
           
            <hr/>
        </div>

        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingOne">
            <div class="col-sm-11">
                <h3>I. Who is the CARIN Alliance?</h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseOne"
                data-bs-parent="#myAccordion">
              
                <p class="p1">The <a href="https://www.carinalliance.com/"><u> CARIN Alliance</u></a> is a multi-sector
                    group of stakeholders representing numerous hospitals, thousands of physicians, and millions of
                    consumers and caregivers. We are committed to enabling consumers and their authorized caregivers to
                    get easy access to their personal health information. Specifically, we are promoting the ability for
                    consumers and their authorized caregivers to gain digital access to their health information via the
                    non-proprietary, open APIs included in recently proposed ONC and CMS proposed and final regulations
                    to have their digital health information sent to any third-party application they choose.
                </p>
                <p class="p1">Working collaboratively with government leaders, the group seeks to rapidly advance the
                    ability for consumers and their authorized caregivers to easily obtain, use, and share their digital
                    health information when, where, and how they want to achieve their goals. With a membership composed
                    of patients and caregiver organizations, health care entities, health information exchanges, health
                    information technology vendors and others, the CARIN Alliance is uniquely positioned at the
                    intersection of public and private organizations to advance the development of person-centered,
                    value-driven health care through the adoption of consumer-directed health information exchange.
                </p>
                </div>
            </div>
        
            <div class="col-sm-1">
            <button
                type="button"
                class="accordion-button button-carin"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne">
             </button>
            </div>
        </div></div>
    
</div>
        <br>


        <!-- ----------------2nd row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingTwo">
            <div class="col-sm-11">
                <h3>II. What is consumer-directed exchange?</h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseTwo"
                data-bs-parent="#myAccordion">
                <p class="p1">Consumer-directed exchange is when a consumer invokes their individual right of access
                    under HIPAA to request a copy of their health information from a covered entity and then directs
                    their health information to any third party of their choice. The CARIN Alliance believes that
                    consumer-directed exchange is an essential piece of the interoperability equation. Despite
                    significant public and private sector investments in standards-based EHRs, and provider-to-provider
                    health information exchange in recent years, advances in consumer-directed exchange have been
                    limited. Most consumers still lack the ability to easily obtain, use, and share their digital health
                    information when, where, and how they want using third party applications they control. Barriers to
                    consumer-directed exchange include a lack of:</p>
                <ul>
                    <li> Consensus trust, privacy and security frameworks for consumer-directed exchange.</li>
                    <li> Availability and adoption of technologies that facilitate consumer-directed exchange.</li>
                    <li> Understanding of existing policies supporting consumer-directed exchange.</li>
                    <li> Health care organizational policy or workflow barriers that may exist.</li>
                    <li> Availability of sustainable business models.</li>
                    <li> Widespread consumer education and awareness about consumer-directed exchange options.</li>
                </ul>
                <p class="p1"> The consumer-directed exchange has raised some concerns because it relies on sharing
                    personally identifiable data with consumer-facing applications, many of which may not be regulated
                    by HIPAA privacy and security rules. However, data held by consumer-facing applications is governed
                    by Section 5(a) of the Federal Trade Commission Act, which makes it unlawful for companies to engage
                    in “unfair or deceptive acts or practices in or affecting commerce” (15 U.S.C. Sec. 45(a)(1)).
                    "Unfair" practices are defined as those that "cause or [are] likely to cause substantial injury to
                    consumers, which is not reasonably avoidable by consumers themselves and not outweighed by
                    countervailing benefits to consumers or to competition" (15 U.S.C. Sec. 45(n))”.</p>

                <p class="p1"> The FTC Act provides the ability for the government to hold companies accountable for
                    “unfair or deceptive acts or practices,” and for violating commitments made to consumers regarding
                    how their personal data will be handled. Data held by consumer-facing applications also may be
                    subject to state privacy and consumer protection laws.</p>

                <p class="p1"> Imagine a world where a consumer or authorized caregiver could download one or more
                    mobile health applications to access their digital health information from any provider, hospital,
                    health plan, health information exchange, or other covered entity of their choosing. These
                    applications would endorse and agree to the code of conduct as part of the application registration
                    process. The FTC, through its Section 5(a) authority, could then enforce that code of conduct
                    against apps who publicly commit to following it. The CARIN Alliance code of conduct is intended to
                    help address the concerns associated with sharing personal health information with consumer-facing
                    apps.</p>

                <p class="p1"> The CARIN Alliance is focused on addressing the barriers associated with the
                    consumer-directed exchange, helping organizations and individuals understand existing policies
                    supporting consumer-directed exchange, assisting health care organizations to eliminate policy or
                    workflow barriers that may exist for consumer-directed exchange, and educating consumers on their
                    consumer-directed exchange options.</p>

                <p class="p1"> The CARIN Alliance is primarily focused on solving two use cases:</p>
                <ol>
                    <li> How a consumer electronically requests access to their data using APIs, indicates where it
                        should be sent, and is informed how their data will be used.</li>
                    <li> How a covered entity electronically sends that data to the consumer.</li>
                </ol>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo">
                 </button>
                </div>
                </div></div>
        </div>
        <br>


        <!-- ----------------3nd row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingThree">
            <div class="col-sm-11">
                <h3>III. Individual Right of Access request vs. HIPAA <br>Authorization</h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseThree"
                data-bs-parent="#myAccordion">
                <p class="p1">The CARIN Alliance believes that when an individual makes a request for their data to be
                    sent to an application of their choice it should be treated as an individual “right of access”
                    request pursuant to the HIPAA Privacy Rule. We also believe that when an application makes a request
                    for a consumer’s data at the direction of, and on behalf of, an individual, it should also be
                    treated as an individual “right of access” request when it does the following:</p>
                <ul>
                    <li> Is submitted directly by a ‘personal health record’ (which HITECH says is an electronic record
                        of personally identifiable health information on an individual that can be drawn from multiple
                        sources and that is managed, shared, and controlled by or primarily for the individual);</li>
                    <li> Meets the identity proofing and authentication requirements of the ONC’s common agreement
                        (currently <a href="https://pages.nist.gov/800-63-3/sp800-63a.html"><u> Identity Assurance Level
                                (IAL) 2 </u> </a>and<a
                            href="https://pages.nist.gov/800-63-3/sp800-63b.html"><u>Authenticator Assurance Level (AAL)
                                2)</u></a>;</li>
                    <li> Clearly indicates the destination for sending the information; and</li>
                    <li> Is requesting data from the then-current US Core Data Interoperability Set (USCDI).</li>
                </ul>
                <p class="p1"> A HIPAA Authorization request is typically initiated by a provider or other entity to
                    document consumer consent in order to exchange data with third parties within HIPAA in circumstances
                    where the HIPAA Privacy Rule provides no other route for disclosure (for example, where the
                    disclosure is not for treatment, payment or operations, or under the individual’s right of access).
                </p>

                <p class="p1"> More information on the difference between a HIPAA Authorization and an Individual Right
                    of Access request can be found on the<a
                        href="https://www.hhs.gov/hipaa/for-professionals/privacy/guidance/access/index.html"> <u>Office
                            for Civil Rights website</u></a>.
                </p>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree">
                 </button>
                </div>
        </div></div></div>
        <br>


        <!-- ----------------4nd row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingFour">
            <div class="col-sm-11">
                <h3>IV. Who is the audience for the CARIN code of conduct?</h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseFour"
                data-bs-parent="#myAccordion">
                <ol class="p1">
                    <li> Consumer Advocate Groups, Consumers, and their Authorized Caregivers: Those who are looking to
                        understand how they can electronically access their health information from multiple systems.
                    </li>
                    <li> Entities covered by HIPAA: Organizations that are designated as covered entities under HIPAA
                        including providers, payers, and clearinghouses and their business associates who operate on
                        their behalf.</li>
                    <li> Electronic Health Record Companies: Companies that provide the technology required for
                        providers and hospitals to record clinical documentation, track workflows, and bill
                        appropriately for care.</li>
                    <li> Health Information Exchanges: Organizations that facilitate digital health information exchange
                        on behalf of payers, providers, and consumers.</li>
                    <li> Policymakers: Administration and congressional officials who are enacting health information
                        exchange policies and procedures.</li>
                    <li> Non-Covered Entities: Community-based organizations, consumer platform companies, and other
                        entities not covered by HIPAA that develop health IT applications and/or services for the
                        consumer to aggregate, analyze, and share their health information.</li>
                </ol>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour">
                 </button>
                </div>
        </div></div></div>
        <br>



        <!-- ----------------5th row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingFive">
            <div class="col-sm-11">
                <h3>V. What is the purpose and structure of the CARIN Trust Framework?</h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseFive"
                data-bs-parent="#myAccordion">
                <p class="p1"><i>Purpose:</i> A consensus, voluntary framework by which applications used by the
                    consumer agree to treat the individual’s health care information. </p>
                <p class="p1"><i>Structure:</i> There are three phases of the CARIN trust framework. The CARIN code of
                    conduct is phase one. This is the foundational phase where third-party application and consumer
                    platform companies will endorse and agree to the CARIN code of conduct as part of their registration
                    process with the “application aggregators” or primary data holders (e.g., EHR application stores,
                    iOS or Android Application stores, etc.). During phase two, applications will publicly endorse and
                    agree to a set of questions regarding how they use, manage, and secure the consumer’s health data
                    based on the principles in the code of conduct. This will include incorporating and expanding the
                    ONC’s Model Privacy Notice to be consistent with the code of conduct. These structured questions
                    will allow the consumer to filter and search for the applications that meet their individual
                    preferences across platforms. Phase three is a potential future phase where independent,
                    private-sector third parties could certify the applications based on the code of conduct,
                    questionnaire, and possibly other criteria (e.g. validity of the application’s clinical guidelines,
                    etc.).</p>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFive">
                 </button>
                </div>
        </div></div></div>
        <br>


        <!-- ----------------6th row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingSix">
            <div class="col-sm-11">
                <h3>VI. Who helped provide input to the CARIN code of conduct?</h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseSix"
                data-bs-parent="#myAccordion">
                <p class="p1">We are enormously indebted to the organizations who have provided valuable input to the
                    CARIN Trust Framework and code of conduct. These are organizations that care deeply about consumers
                    receiving electronic access to their health information and we are incredibly grateful for their
                    ongoing support. For a list of those organizations, please access our website <a
                        href="https://www.carinalliance.com/"><u>www.carinalliance.com</u></a> under the section ‘Our
                    Membership’.</p>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSix">
                 </button>
                </div>
        </div></div></div>
        <br>


        <!-- ----------------7th row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingSeven">
            <div class="col-sm-11">
                <h3>VII. Can we provide input to the CARIN code of conduct?</h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseSeven"
                data-bs-parent="#myAccordion">
                <p class="p1">We welcome and encourage comments and input from across the health care industry. Please
                    submit your comments online at <a
                        href="https://www.carinalliance.com/"><u>www.carinalliance.com</u></a>. The CARIN Alliance board
                    and membership will examine and carefully consider all comments to include in future releases of
                    this document.</p>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven">
                 </button>
                </div>
        </div></div></div>
        <br>


        <!-- ----------------8th row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingEight">
            <div class="col-sm-11">
                <h3>VIII. How does the CARIN Alliance plan on operationalizing the code of conduct?</h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseEight"
                data-bs-parent="#myAccordion">
                <p class="p1">The CARIN Alliance welcomes the opportunity to work with primary data holders of
                    personally identifiable health information including health plans, the Federal Government, state
                    Medicaid agencies, providers, hospitals, EHR vendors, HIEs, and other organizations who are
                    implementing APIs for consumers to access their health information. We want to work with these
                    organizations to include the code of conduct as part of their application registration process and
                    ensure the data holders can inform consumers what applications have endorsed and agreed to the code
                    of conduct so they can make an informed decision regarding the applications they would like to
                    choose to access their health information.</p>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseEight">
                 </button>
                </div>
        </div></div></div>
        <br>
    </div>
</div>
<!-- ------------------------------------------------next container------------------------------------------------------------ -->


<div class="container-fluid carincodecontainer2">
    <div class="carincode-menu">
        <div class="carincode-menutable hrule">TABLE OF CONTENTS</div>
        <ul>
            <li><a href="#">I. Transparency</a></li>
            <li><a href="#">II. Consent</a></li>
            <li><a href="#">III. Use & Disclosure</a></li>
            <li><a href="#">IV. Individual Access</a></li>
            <li><a href="#">V. Security</a></li>
            <li><a href="#">VI. Provenance</a></li>
            <li><a href="#">VII. Accountability</a></li>
            <li><a href="#">VIII. Education</a></li>
            <li><a href="#">IX. Advocacy</a></li>
        </ul>
    </div>

    <div class="carincode-main">
        <div class="carincode-maintext hrule">
            <h1 class="backsec" >Section II – The CARIN Alliance<br> Code of Conduct</h1>
            <p><b>Background:</b> The CARIN Alliance code of conduct represents the consensus view of a group of
                multi-sector stakeholders that include leading providers, payers, health IT companies, EHR
                companies, consumer platform companies, consumers, caregivers, and others focused on advancing
                consumer-directed exchange across the U.S. The Code is based on internationally recognized standards
                including the Code of Fair Information Practices (FIP) (See NCVHS report, “<a href="#">Health
                    Information Privacy Around HIPAA: A 2018 Environmental Scan of Major Trends and Challenges</a>",
                p.19) and numerous other information-sharing accepted principles and practices. The Alliance is
                working collaboratively with other stakeholders and leaders in government to overcome the policy,
                cultural, and technological barriers to advancing consumer-directed exchange. The CARIN Alliance
                envisions a future where any consumer can choose any application or service to retrieve both their
                complete health record and their complete claims information from any provider or health plan in the
                U.S. and have that information used, managed, and stored by a third-party application based on the
                individual’s consent and personal preferences. </p>
            <p><b>Application:</b> The CARIN code of conduct is meant to apply to all consumer-facing applications
                (defined as technology-enabled platforms, services, and tools) that collect health information and
                are offered to and used by consumers in the United States, regardless of whether or not they are
                covered by HIPAA. </p>
            <p><b>The CARIN Alliance Code of Conduct</b> </p>
            <p>The CARIN Alliance code of conduct is meant to provide consumers with transparency into how their
                health information is being used by their chosen consumer-facing application.</p>
            <p>As a company or organization that collects health care information on behalf of consumers, and
                facilitates the further use and sharing of that information as authorized by the consumer, we commit
                to the following: </p>
        </div>
        <br>
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingTwo-1">
            <div class="col-sm-11">
                <h3>I. Transparency</h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseTwo-1"
                data-bs-parent="#myAccordion">
                <p class="p1"><i>The Principle of Openness, which provides that the existence of record-keeping
                        systems and databanks containing data about individuals be publicly known, along with a
                        description of the main purpose and uses of the data. </i></p>
                <p><b>We will:</b></p>
                <ol>
                    <li>Have a privacy policy that is based on industry best practices and is prominent, publicly
                        accessible, and easy to read (i.e., written in lay language) and that addresses all of the
                        issues addressed in this Framework.</li>
                    <li>Ensure our privacy policy specifies our Company’s data collection, consent, use, disclosure,
                        access, security, and retention/deletion practices, including the use and sharing of
                        de-identified, anonymized, or pseudonymized data.</li>
                    <li>Address in our policy when data sharing could have an impact on others (such as the impact
                        of sharing genetic or family history information on relatives).</li>
                    <li>Proactively provide clear updates to users when privacy policies or practices have changed.
                    </li>
                    <li>Use the ONC’s Model Privacy Notice (MPN) and the CARIN questionnaire as a resource when
                        developing the privacy policies of the application.</li>
                    <li>Be clear with users regarding whether data is collected, or it is shared with third parties,
                        on a one-time basis or persistently collected (and if so, for what duration) and allow the
                        user rights to change those options consistent with our consent policies.</li>
                    <li>Be clear with users regarding their rights (or lack thereof) to change or annotate data or
                        to share portions of their health information and whether any such changes, annotations, or
                        notices of lack of completeness are communicated to any downstream recipients authorized by
                        the user.</li>
                </ol>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo-1">
                 </button>
                </div>
        </div></div></div>
        <br>

        <!-- ----------------2nd row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingTwo-2">
            <div class="col-sm-11">
                <h3>II. Consent</h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseTwo-2"
                data-bs-parent="#myAccordion">
                <p><i>The Principle of Collection Limitation, which provides that there should be limits to the
                        collection of personal data, that data should be collected by lawful and fair means, and
                        that data should be collected, where appropriate, with the knowledge or consent of the data
                        subject. </i></p>
                <p><i>The Principle of Disclosure Limitation, which provides that personal data should not be
                        communicated externally without the consent of the data subject or other legal authority.
                    </i></p>

                <p><b>We will:</b></p>
                <ol>
                    <li>Avoid default data sharing by obtaining informed, proactive consent from users in advance of
                        data sharing, with such consent clearly describing how user data will be collected, used and
                        shared.</li>
                    <li>Obtain separate, informed, proactive opt-in consent to use or disclose data from any
                        individual or other individual identified in the protected health information (PHI) for
                        marketing purposes. (For example, Individual A’s consent does not extend to Individual B who
                        may be referenced in Individual A’s PHI.)</li>
                    <li>Comply with the Children’s Online Privacy Protection Act that is defined by applicable law.
                    </li>
                    <li>Provide users with advance notice of our privacy policy changes and allow the user to affirm
                        their consent to the updated privacy policy changes in order to continue to share their data
                        with the application or given the option to withdraw consent.</li>
                    <li>Provide users with an easy process for how to withdraw their consent with the application
                        used to access the health information and clearly communicate those processes.</li>
                    <li>Allow the user to always indicate the destination for sending their health information.</li>
                </ol>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo-2">
                 </button>
                </div>
        </div></div></div>
        <br>


        <!-- ----------------3nd row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingTwo-3">
            <div class="col-sm-11">
                <h3>III. Use & Disclosure</h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseTwo-3"
                data-bs-parent="#myAccordion">
                <p><i>The Principle of Use Limitation, which provides that there must be limits to the uses of
                        personal data and that the data should be used only for the purposes specified at the time
                        of collection. </i></p>
                <p><i>The Principle of Disclosure Limitation, which provides that personal data should not be
                        communicated externally without the consent of the data subject or other legal authority.
                    </i></p>

                <p><b>We will:</b></p>
                <ol>
                    <li>Contractually bind third-party vendors and contractors to our privacy policies and prohibit
                        use or disclosure of user information (including de-identified, anonymized or pseudonymized
                        data) for any undisclosed purposes without express consent from the user.</li>
                    <li>Except for the contracted third-party vendors identified above, prohibit the use of sharing
                        of user data without user consent.</li>
                    <li>Limit the collection of health information to only what the user has expressly consented
                        that the application can collect.</li>
                    <li>Collect, use, and disclose health information in ways that are consistent with reasonable
                        user expectations given the context in which the users provided (or authorized the provision
                        of) the health information.</li>
                </ol>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo-3">
                 </button>
                </div>
        </div></div></div>
        <br>

        <!-- ----------------4nd row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingTwo-4">
            <div class="col-sm-11">
                <h3>IV. Individual Access
                </h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseTwo-4"
                data-bs-parent="#myAccordion">
                <p><i>The Principle of Individual Participation, which provides that each individual should have a
                        right to see any data about himself or herself and to annotate any data that is not timely,
                        accurate, relevant, or complete where the application has the ability to do so. </i></p>

                <p><b>We will:</b></p>
                <ol>
                    <li>Provide the ability for users to access all identifiable information about the user
                        collected by the application and a clear, easy process for requesting corrections to any
                        inaccurate information.</li>
                    <li>Establish and clearly communicate to users clear policies for how the application will
                        handle health information it collects that may not be timely, accurate, relevant or
                        complete.</li>
                    <li>Upon user request, securely dispose of the user’s identifiable health data completely and
                        indefinitely to allow the user the “right to be forgotten” with respect to any future uses
                        or disclosures of user data.</li>
                </ol>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo-4">
                 </button>
                </div>
        </div></div></div>
        <br>


        <!-- ----------------5th row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingTwo-5">
            <div class="col-sm-11">
                <h3>V. Security
                </h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseTwo-5"
                data-bs-parent="#myAccordion">
                <p><i>The Principle of Security, which provides that personal data should be protected by reasonable
                        security safeguards against such risks as loss, unauthorized access, destruction, use,
                        modification or disclosure. </i></p>

                <p><b>We will:</b></p>
                <ol>
                    <li>Follow safeguards consistent with the responsible stewardship associated with the protection
                        of a user’s health information against risks such as loss or unauthorized access, use,
                        alteration, destruction, unauthorized annotation, or disclosure.</li>
                    <li>Store and retain health information in a manner consistent with the best practices
                        associated with the protection of personally identifiable health information.</li>
                    <li>Protect identifiable health information through a combination of mechanisms including, at a
                        minimum: secure storage, encryption of digital records both in transit and at rest, data-use
                        agreements and contractual obligations, and accountability measures (e.g., access controls
                        and logs and independent audits) that could be made available to the user.</li>
                    <li>Comply with applicable breach notification laws and provide meaningful remedies to address
                        security breaches, privacy, or other violations incurred because of misuse of the user’s
                        health information.</li>
                    <li>On behalf of our users, request a copy of their health data from the HIPAA designated record
                        set maintained by a health care provider, health plan, or health information exchange by 1)
                        relying on a health care provider or health plan portal identity credential using <a
                            href="http://hl7.org/fhir/smart-app-launch/"><u>SMART</u></a> or accept a digital
                        identity credential for the user that is at least <a
                            href="https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-63a.pdf"><u>NIST
                                Identity Assurance Level 2 (IAL2)</u></a> and<a
                            href="https://pages.nist.gov/800-63-3/sp800-63b.html"><u> Authenticator Assurance Level
                                2 (AAL2) </u></a> and 2) clearly indicating the destination for sending the health
                        information.</li>
                    <li>Adopt internal policies and secure contractual commitments with third parties to prohibit
                        the re-identification of de-identified or anonymized data.</li>
                    <li>Establish and implement a policy for how to handle dormant user accounts.</li>

                </ol>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo-5">
                 </button>
                </div>
        </div></div></div>
        <br>



        <!-- ----------------6th row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingTwo-6">
            <div class="col-sm-11">
                <h3>VI. Provenance
                </h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseTwo-6"
                data-bs-parent="#myAccordion">
                <p><i>The Principle of Data Quality, which provides that personal data should be relevant to the
                        purposes for which they are to be used, and should be accurate, complete, and timely.</i>
                </p>

                <p><b>We will:</b></p>
                <ol>
                    <li>Where possible, as data is changed continue to maintain the provenance of the data to
                        provide users, their caregivers, and authorized recipients information about who or what
                        entity originally supplied the data and, where relevant, who made changes to the data, and
                        what changes were made.</li>

                </ol>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo-6">
                 </button>
                </div>
        </div></div></div>
        <br>


        <!-- ----------------7th row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingTwo-7">
            <div class="col-sm-11">
                <h3>VII. Accountability
                </h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseTwo-7"
                data-bs-parent="#myAccordion">
                <p><i>The Principle of Accountability, which provides that record keepers should be accountable for
                        complying with fair information practices.</i></p>

                <p><b>We will:</b></p>
                <ol>
                    <li>Comply with all applicable federal and state laws.</li>
                    <li>Designate a responsible executive officer within the company who is committed to these
                        health information principles and ensure these commitments are publicly facing to allow
                        oversight enforcement by the Federal Trade Commission (FTC), State Attorneys General, or
                        other applicable authorities.</li>
                    <li>Establish and clearly communicate a process for collecting and responding to user
                        complaints.</li>
                    <li>Train our staff on these principles and ensure compliance by regularly evaluating our
                        performance internally.</li>
                    <li>Notify the public when we have received any certification or accreditation from any
                        independent certifying organizations (and indicate the timing/duration of such
                        certifications).</li>

                </ol>
                <p><i>In addition to the above commitments that give meaning to the Code of Fair Information
                        Practices, we agree to support the vision of the CARIN Alliance as follows: </i></p>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo-7">
                 </button>
                </div>
        </div></div></div>
        <br>


        <!-- ----------------8th row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingTwo-8">
            <div class="col-sm-11">
                <h3>VIII. Education
                </h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseTwo-8"
                data-bs-parent="#myAccordion">
                <ol>
                    <li>Inform users about their health information sharing choices and the consequences of those
                        choices including the risks, benefits, and limitations of data sharing by providing
                        educational materials ourselves or pointing to appropriate third-party resources.</li>

                </ol>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo-8">
                 </button>
                </div>
        </div></div></div>
        <br>

        <!-- ----------------8th row----------------- -->
        <div class="row hrule">
            <div class="accordion" id="myAccordion">
                <div class="row accordion-header" id="headingTwo-9">
            <div class="col-sm-11">
                <h3>IX. Advocacy
                </h3>
                <div
                class="accordion-collapse collapse show"
                id="collapseTwo-9"
                data-bs-parent="#myAccordion">
                <p><b>We will:</b></p>
                <ol>
                    <li>Actively work with other industry stakeholders to expand the set of standardized
                        individually identifiable health information that could be made “<a
                            href="https://www.hhs.gov/hipaa/for-professionals/privacy/guidance/access/index.html"><u>readily
                                producible</u></a>” for collection by consumer-facing applications.</li>

                </ol>
            </div></div>
            <div class="col-sm-1">
                <button
                    type="button"
                    class="accordion-button button-carin"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo-9">
                 </button>
                </div>
        </div></div></div>
        <br>
    </div>
</div>