    /* 1/6 */
    
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
    
    .example-full-width {
        width: 100%;
    }
    
    .card {
        /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); */
        box-shadow: -35px 33px 36px -6px;
        width: 40%;
        border-radius: 5px;
        background-color: #ffff;
        width: 791px;
        height: 690px;
        margin-left: 159px;
        margin-top: 37px;
        margin-bottom: 100px;
    }
    /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */
    /* .container {
    padding: 2px 16px;
} */
    /* 
::ng-deep .mat-progress-bar-fill::after {
    background-color: #1E457C;
} */
    
     ::ng-deep .mat-progress-bar-buffer {
        background: #E4E8EB;
    }
    
     ::ng-deep .mat-progress-bar {
        border-radius: 2px;
    }
    
    .text {
        font-size: 35px;
        top: 10px;
        padding-bottom: 90px;
        margin-left: 40%;
    }
    
    .text1 {
        font-size: 35px;
        top: 10px;
        padding-bottom: 90px;
        margin-left: 17%;
    }
    
    .usernames1 {
        position: absolute!important;
        font-size: 18px;
        font-weight: bold;
        margin-left: 71px;
        top: 130px;
    }
    
    .usernames2 {
        position: absolute;
        background-color: rgb(241, 245, 246);
        width: 329px;
        border-radius: 12px;
        text-align: center;
        line-height: 2.3;
        left: 258px;
        top: 128px;
        height: 35px;
    }
    
    .usernames3 {
        position: absolute!important;
        font-size: 18px;
        font-weight: bold;
        margin-left: 71px;
        top: 180px;
    }
    
    .usernames4 {
        position: absolute;
        background-color: rgb(241, 245, 246);
        width: 329px;
        border-radius: 12px;
        text-align: center;
        line-height: 2.3;
        left: 259px;
        top: 174px;
        height: 35px;
    }
    
    .usernames5 {
        position: absolute!important;
        font-size: 18px;
        font-weight: bold;
        margin-left: 71px;
        top: 229px;
    }
    
    .usernames6 {
        position: absolute;
        background-color: rgb(241, 245, 246);
        width: 329px;
        border-radius: 12px;
        text-align: center;
        line-height: 2.3;
        left: 260px;
        top: 224px;
        height: 35px;
    }
    
    .usernames7 {
        position: absolute!important;
        font-size: 18px;
        font-weight: bold;
        margin-left: 71px;
        top: 280px;
    }
    
    .usernames8 {
        position: absolute;
        background-color: rgb(241, 245, 246);
        width: 329px;
        border-radius: 12px;
        text-align: center;
        line-height: 2.3;
        left: 260px;
        top: 274px;
        height: 35px;
    }
    
    .usernames9 {
        position: absolute!important;
        font-size: 18px;
        font-weight: bold;
        margin-left: 71px;
        top: 329px;
    }
    
    .usernames10 {
        position: absolute;
        background-color: rgb(241, 245, 246);
        width: 329px;
        border-radius: 12px;
        text-align: center;
        line-height: 2.3;
        left: 259px;
        top: 325px;
        height: 35px;
    }
    
    .text2 {
        font-size: 34px;
        top: 10px;
        padding-bottom: 90px;
        margin-left: 28%;
    }
    
    .passsg {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 29%;
        font-weight: 700;
    }
    
    .form {
        padding-top: 10px;
    }
    
    .text-muted {
        font-size: 20px;
        margin-top: -80px;
        margin-bottom: 31px;
        width: 463px;
        line-height: 26px;
        margin-left: 31%;
    }
    
    .text-muted1 {
        font-size: 20px;
        margin-top: -80px;
        margin-bottom: 31px;
        width: 463px;
        line-height: 26px;
        margin-left: 17%;
    }
    
    .username {
        font-size: 17px;
        margin-bottom: -5px;
        padding-top: 48px;
        margin-left: 21%;
    }
    
    .conpw_align {
        margin-top: -20px;
    }
    
    .email {
        font-size: 17px;
        margin-bottom: 0px;
        margin-left: 21%;
    }
    
    .eror1 {
        margin-top: 14px;
    }
    
    .button {
        width: 400px;
        height: 50px;
        border-radius: 10px;
        top: 20px;
        margin-left: 143px;
        color: white;
        font-size: 20px;
    }
    
    .acc-already {
        padding-top: 125px;
    }
    
    .login {
        margin-top: -17px;
        font-size: 20px;
        margin-left: 44%;
    }
    
    .icon {
        font-size: 16px;
        padding-left: 11px;
        color: #007bff;
    }
    /* ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 3.34375em;
} */
    /* ::ng-deep.mat-step-header .mat-step-icon-selected {
    display: none;
}

::ng-deep.mat-step-header:hover {
    background-color: #ffff;
    cursor: default;
} */
    /* ::ng-deep.mat-step-header::after {
    background-color: #ffff;
} */
    
     ::ng-deep.mat-form-field-infix {
        border-bottom: none;
    }
    /* ::ng-deep.mat-progress-bar-element {
    width: 20%;
    color: greenyellow;
    height: 10px;
} */
    /* ::ng-deep.mat-progress-bar .mat-progress-bar-background {

}

::ng-deep.mat-progress-bar .mat-progress-bar-element,
.mat-progress-bar .mat-progress-bar-fill::after {
    height: 100%;
    position: absolute;
    width: 10%;
    color: green;
} */
    /* ::ng-deep.mat-horizontal-content-container {
    margin-right: 1px;
    right: 282px;
    padding-right: 279px;
    position: absolute;
} */
    
    .mat-progress-bar .mat-progress-bar-buffer {
        transform-origin: top left;
        transition: transform 250ms ease;
    }
    
    .example-full-width {
        background-color: rgb(241, 245, 246);
        border-radius: 10px;
        height: 45px;
        margin-left: 49%;
    }
    
     ::ng-deep.mat-progress-bar-fill::after {
        background-color: #00CC99;
    }
    
     ::ng-deep.example-full-width {
        width: 80% !important;
    }
    
    .backcolor {
        background-color: blue;
        width: 100px
    }
    
    .area1 {
        /* display: block; */
        position: absolute;
        height: 500px;
        background-color: rgb(28, 40, 88);
        padding-bottom: 639px;
        top: -59px;
        right: -57px;
        padding-left: 275px;
    }
    
    .loginarea {
        padding-top: 20px;
    }
    
     ::ng-deep .mat-form-field-underline {
        display: none;
    }
    
    .pg_nation {
        padding-left: 122px;
        padding-bottom: 10px;
        margin-top: -18px;
        color: #6c757d
    }
    
    .pw_align {
        margin-top: -58px;
    }
    
    .conpw_align {
        margin-top: 25px;
    }
    
    .toggle_btn {
        padding-top: 15px;
    }
    
     ::ng-deep.mat-slide-toggle-bar {
        position: relative;
        width: 38px;
        height: 21px;
        flex-shrink: 0;
        border-radius: 12px;
    }
    
     ::ng-deep.mat-slide-toggle-content {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        color: gray;
    }
    /* 4/6 */
    
    .margin {
        margin-left: 10px;
        width: 424px;
        margin-top: 80px;
        font-size: 19px;
        height: 45px;
        border-radius: 8px;
        color: white;
    }
    
    .margin1 {
        margin-left: 23%;
        width: 428px;
        margin-top: 33px;
        font-size: 15px;
        height: 45px;
        color: white;
        border-radius: 8px;
    }
    
    .margin3 {
        margin-left: 133px;
        width: 375px;
        margin-top: 2px;
        font-size: 15px;
        height: 45px;
        border-radius: 8px;
    }
    
    .margin4 {
        margin-left: 156px;
        width: 428px;
        margin-top: 2px;
        font-size: 15px;
        height: 45px;
        border-radius: 8px;
    }
    
    .signupsg {
        padding-top: 5%;
    }
    
    .signupsg1 {
        padding-top: 3%;
    }
    
    .signupsg3 {
        padding-top: 2%;
    }
    
     ::ng-deep.mark {
        font-size: 24px;
        margin-left: 227px;
        font-weight: bolder;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        /* background-color: white; */
    }
    
     ::ng-deep.mark1 {
        font-size: 24px;
        margin-left: 272px;
        font-weight: bolder;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
     ::ng-deep .mark,
    mark {
        background: transparent;
    }
    
    .top {
        margin-top: 55px!important;
    }
    
    .fronts {
        color: rgb(49, 40, 40)
    }
    
    .flex {
        width: 678px;
        /* height: 12px; */
        margin-top: 13px;
        font-size: 18px;
        font-weight: 200px;
        color: rgb(158 155 155);
        letter-spacing: .5px;
        line-height: 1.7rem;
    }
    
    .click {
        /* padding-left: 5px;
    margin-top: 33px; */
        color: #1540ff;
        font-size: 19px;
        margin-top: -20px;
        font-weight: 888px;
        margin-bottom: 48px;
        margin-left: 97px;
    }
    
    .click1 {
        margin-left: 5px;
    }
    
    .current {
        font-size: 19px;
        color: rgb(158 155 155);
    }
    
    .current1 {
        font-size: 19px;
        color: rgb(158 155 155);
        margin-top: -2px;
        /* padding-bottom: 37px */
        /* margin-top: 12px; */
    }
    
    .flex1 {
        width: 683px;
        /* height: 12px; */
        margin-top: 10px;
        font-size: 17px;
        font-weight: 200px;
        color: rgb(158 155 155);
        letter-spacing: .5px;
        line-height: 1.7rem;
    }
    
     ::ng-deep.mat-form-field {
        /* padding-bottom: 0.30375em; */
        margin-top: 1px;
        margin-left: 38%;
        left: -104px;
        /* background-color: rgb(251, 251, 251); */
        background-color: rgb(241, 245, 246);
        border-radius: 8px;
        height: 50px;
        padding-left: 8px;
        width: 431px;
    }
    
    .icon {
        /* color: rgb(25, 39, 230); */
        color: #1540ff;
        font-size: 20px;
        margin-top: 12px;
        margin-bottom: 37px;
        font-weight: 888px;
        margin-left: -11px!important;
        /* margin-left: -10px; */
        /* margin-top: 12px; */
    }
    
    .icon2 {
        color: #1540ff;
        font-size: 18px;
        margin-top: 20px;
        font-weight: 888px;
        margin-bottom: -24px;
        margin-left: 1px;
    }
    
    .icon1 {
        margin-top: 39px;
        margin-left: -18px !important;
        font-size: 18px;
        /* margin-top: 12px; */
    }
    
    .scroll {
        width: 675px;
        height: 390px;
        overflow-y: scroll;
        margin-top: 5px;
        font-size: 16px;
        letter-spacing: .5px;
        line-height: 1.5105rem;
        color: rgb(158 155 155);
    }
    
    .envelope {
        color: rgb(42, 105, 201);
    }
    
    .slit {
        margin-top: -18px;
        margin-left: 121px;
        color: rgb(189, 179, 179);
        font-size: 16px;
        font-weight: 600;
    }
    
    .git {
        width: 111px;
        height: 8px;
        border-radius: 99px;
        margin-top: 2px;
        /* margin-left: 4px; */
    }
    
     ::ng-deep.mat-form-field-infix {
        margin-left: 8px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: -87px;
    }
    
    .rows {
        margin-left: -16px;
        margin-top: 8px;
        margin-bottom: -2px;
    }
    
     ::ng-deep.mat-error {
        display: block;
        color: red;
        margin-top: -4px;
    }
    
     ::ng-deep.mat-horizontal-content-container {
        margin-top: -31px;
        margin-left: -30px;
    }
    
    .map {
        font-weight: bolder;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: transparent;
        font-size: 23px;
        margin-left: 4px;
    }
    
    .map1 {
        font-weight: bolder;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: transparent;
        font-size: 18px;
        margin-left: 23%;
    }
    
    .map3 {
        font-weight: bolder;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: transparent;
        font-size: 23px;
        margin-left: 157px;
    }
    
    .raised {
        background-color: #0005FF;
        font-size: 18px;
        /* 0909FF */
    }
    
    .raised2 {
        background-color: #0005FF;
        font-size: 17px;
        margin-top: -13px;
        width: 417px;
        color: white;
    }
    
    .raised1 {
        color: #0005FF;
        box-shadow: none;
        background-color: #ffff;
        font-size: 17px;
        padding-left: 61px;
        margin-top: 1px;
        font-weight: 500;
        border: none;
        opacity: 0.5;
        /* 0909FF */
    }
    
    .conduct {
        /* margin-top: -7px; */
        padding-right: 9px;
        width: 25px;
        height: 17px;
    }
    
     ::ng-deep.raised1.mat-button-wrapper>* {
        vertical-align: "0";
    }
    
    mat-progress-bar {
        display: block;
        height: 10px;
        overflow: hidden;
        position: relative;
        width: 111px;
        border-radius: 10px;
    }
    /* ::ng-deep .mat-progress-bar-fill::after {
    background-color: #25b98d;
} */
    /* ::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
} */
    
     ::ng-deep.mat-flat-button.mat-primary,
    .mat-raised-button.mat-primary,
    .mat-fab.mat-primary,
    .mat-mini-fab.mat-primary {
        background-color: #3A58FF;
        color: white;
    }
    
     ::ng-deep.mat-horizontal-stepper-header {
        margin-top: 17px;
        left: -215px;
        display: unset!important;
        /* padding: 0px 33px; */
        margin-left: -9px;
        padding: 0 83px !important;
    }
    
     ::ng-deep.mat-step-text-label {
        font-size: 13px;
    }
    /* ::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
        padding: 16px 0 0 0;
        text-align: center;
        width: 100%;
    }
     */
    
     ::ng-deep.mat-step-header .mat-step-label.mat-step-label-active {
        color: rgb(226, 37, 153);
        font-weight: bolder;
        /* background-color: slateblue; */
    }
    
     ::ng-deep.mat-step-label {
        color: rgb(22, 21, 22);
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 50px;
        vertical-align: middle;
        font-weight: 500;
        font-style: italic;
    }
    
    .user {
        left: 99px;
    }
    
     ::ng-deep.mat-step-label-selected {
        font-size: 14px;
        font-weight: 500;
    }
    /* ::ng-deep.mat-step-icon-selected {
      
        font-weight: bolder;

    }
     */
    
     ::ng-deep.mat-step-icon {
        border-radius: 50%!important;
        height: 24px;
        width: 24px;
        flex-shrink: 0;
        position: relative;
        font-weight: 500;
    }
    
     ::ng-deep.mat-step-icon-content {
        visibility: hidden!important;
        /* opacity: 0.1; */
    }
    
     ::ng-deep.mat-step-header .mat-step-icon {
        /* background-color: rgba(32, 168, 221, 0.54)!important; */
        background-color: #3A58FF;
    }
    
     ::ng-deep.mat-step-header .mat-step-icon::before {
        font-family: FontAwesome !important;
    }
    
     ::ng-deep.mat-step-header .mat-step-icon-state-edit {
        background-color: rgba(226, 205, 15, 0.78)!important;
    }
    
     ::ng-deep.mat-step-header .mat-step-icon-state-edit::after {
        font-family: FontAwesome !important;
        content: "\f00c"!important;
        margin-left: 2px;
        /* color: #3A58FF; */
        color: rgb(34, 141, 30);
        font-size: 18px;
    }
    
    .home {
        color: rgb(226, 37, 153);
        top: -81px;
        left: -7px;
        font-size: 19px;
        position: absolute !important;
        border-radius: 4px;
        /* right: 0 !important;
        bottom: 0px !important;
        margin-bottom: 0px!important;
        float: left !important; */
    }
    
    .home7 {
        position: absolute !important;
    }
    
    .home1 {
        color: rgb(226, 37, 153);
        top: -79px;
        left: 104px;
        font-size: 17px;
        position: absolute !important;
    }
    
    .home2 {
        color: rgb(226, 37, 153);
        top: -80px;
        left: 214px;
        font-size: 17px;
        position: absolute;
        border-radius: 4px;
    }
    
    .home3 {
        color: rgb(226, 37, 153);
        top: -79px;
        left: 324px;
        font-size: 17px;
        position: absolute;
        border-radius: 4px;
    }
    
    .home4 {
        color: rgb(226, 37, 153);
        top: -80px;
        left: 433px;
        font-size: 17px;
        position: absolute;
        border-radius: 4px;
    }
    
    .home5 {
        color: rgb(226, 37, 153);
        top: -78px;
        left: 544px;
        font-size: 17px;
        position: absolute;
        border-radius: 4px;
    }
    
    .home6 {
        color: rgb(226, 37, 153);
        top: -80px;
        left: 655px;
        font-size: 17px;
        position: absolute;
        border-radius: 4px;
    }
    
     ::ng-deep .mat-icon {
        /* height: 0 !important;
        width: 0 !important; */
        /* display:  !important;
        position: absolute !important; */
        /* display: inline-block !important; */
        position: absolute !important;
        right: 0 !important;
        bottom: 0px !important;
        margin-bottom: 0px!important;
        float: left !important;
    }
    
     ::ng-deep.mat-horizontal-stepper-header-container {
        white-space: nowrap;
        display: flex;
        align-items: center;
        margin-bottom: 42px;
        margin-top: -34px;
        margin-left: 125px;
    }
    
     ::ng-deep.mat-step-header {
        padding-right: 157px;
    }
    
     ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
        padding-top: 3px!important;
    }
    
    .crop {
        width: 494px;
        height: 412px;
        margin-left: 93px;
    }
    
    .cancel {
        margin-left: 231px;
        margin-top: 427px;
        color: white;
    }
    
    .bg_img {
        /* background-image: url(../../../assets/pexels-karolina-grabowska-4210656.jpg); */
        background-repeat: no-repeat;
        background-size: 1000px 900px !important;
        padding: 48px;
    }
    
    .reset {
        background-color: #f44336;
        ;
        color: white;
        margin-left: 54%;
        top: -38px;
        padding-left: 22px;
        padding-right: 21px;
        padding-top: 1px;
        height: 38px;
    }
    
     ::ng-deep.mat-stepper-horizontal-line {
        min-width: 91px !important;
        position: relative;
        border-top-width: 7px !important;
        top: -15px !important;
        left: -154px !important;
        margin-left: -122px !important;
        border-radius: 4px;
        /* border-color: rgba(32, 168, 221, 0.54)!important; */
        border-color: #3A58FF;
        ;
        ;
    }