    /* 1/6 */
    
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
    
    .example-full-width {
        width: 100%;
    }
    
    .shadowsignup {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
        border-radius: 5px;
        background-color: #ffff;
        height: 690px;
        margin-bottom: 100px;
        /* width: 783px; */
    }
    
    .text {
        font-size: 35px;
        top: 10px;
        padding-bottom: 90px;
        margin-left: 18%;
    }
    
    .text1 {
        font-size: 35px;
        top: 10px;
        padding-bottom: 90px;
        margin-left: 10%;
        width: 477px;
    }
    
    .usernames1 {
        position: absolute!important;
        font-size: 18px;
        font-weight: bold;
        margin-left: 71px;
        top: 130px;
    }
    
    .usernames2 {
        position: absolute;
        background-color: rgb(241, 245, 246);
        width: 329px;
        border-radius: 12px;
        text-align: center;
        line-height: 2.3;
        left: 258px;
        top: 128px;
        height: 35px;
    }
    
    .Email3 {
        position: absolute!important;
        font-size: 18px;
        font-weight: bold;
        margin-left: 71px;
        top: 180px;
    }
    
    .Email4 {
        position: absolute;
        background-color: rgb(241, 245, 246);
        width: 329px;
        border-radius: 12px;
        text-align: center;
        line-height: 2.3;
        left: 259px;
        top: 174px;
        height: 35px;
    }
    
    .password5 {
        position: absolute!important;
        font-size: 18px;
        font-weight: bold;
        margin-left: 71px;
        top: 229px;
    }
    
    .password6 {
        position: absolute;
        background-color: rgb(241, 245, 246);
        width: 329px;
        border-radius: 12px;
        text-align: center;
        line-height: 2.3;
        left: 260px;
        top: 224px;
        height: 35px;
    }
    
    .phoneNumber7 {
        position: absolute!important;
        font-size: 18px;
        font-weight: bold;
        margin-left: 71px;
        top: 280px;
    }
    
    .phoneNumber8 {
        position: absolute;
        background-color: rgb(241, 245, 246);
        width: 329px;
        border-radius: 12px;
        text-align: center;
        line-height: 2.3;
        left: 260px;
        top: 274px;
        height: 35px;
    }
    
    .pinNumber9 {
        position: absolute!important;
        font-size: 18px;
        font-weight: bold;
        margin-left: 71px;
        top: 329px;
    }
    
    .pinNumber10 {
        position: absolute;
        background-color: rgb(241, 245, 246);
        width: 329px;
        border-radius: 12px;
        text-align: center;
        line-height: 2.3;
        left: 259px;
        top: 325px;
        height: 35px;
    }
    
    .text2 {
        font-size: 34px;
        top: 10px;
        padding-bottom: 90px;
        margin-left: 28%;
    }
    
    .passsg {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 29%;
        font-weight: 700;
    }
    
    .form {
        padding-top: 10px;
    }
    
    .text-muted {
        font-size: 20px;
        margin-top: -80px;
        margin-bottom: 31px;
        width: 463px;
        line-height: 26px;
        margin-left: 23%;
    }
    
    .text-muted1 {
        font-size: 17px;
        margin-top: -98px;
        margin-bottom: 31px;
        margin-left: 3%;
        width: 623px;
        color: rgb(158 155 155);
    }
    
    .username {
        font-size: 17px;
        margin-bottom: -5px;
        padding-top: 48px;
        margin-left: 19%;
    }
    
    .conpw_align {
        margin-top: -20px;
    }
    
    .email {
        font-size: 18px;
        margin-bottom: 0px;
        margin-left: 23%;
    }
    
    .eror1 {
        margin-top: 14px;
    }
    
    .button {
        width: 400px;
        height: 50px;
        border-radius: 10px;
        top: 20px;
        margin-left: 143px;
        color: white;
        font-size: 20px;
    }
    
    .acc-already {
        padding-top: 125px;
        margin-left: 141px;
    }
    
    .login {
        margin-top: -17px;
        font-size: 20px;
        margin-left: 19%;
    }
    
    .icon {
        font-size: 16px;
        padding-left: 11px;
        color: #007bff;
    }
    
     ::ng-deep.mat-form-field-infix {
        border-bottom: none;
    }
    
     ::ng-deep.mat-progress-bar .mat-progress-bar-element,
    .mat-progress-bar .mat-progress-bar-fill::after {
        height: 100%;
        position: absolute;
        width: 10%;
        color: green;
    }
    
    .example-full-width {
        background-color: rgb(241, 245, 246);
        border-radius: 10px;
        height: 45px;
        margin-left: 49%;
    }
    
     ::ng-deep.example-full-width {
        width: 80% !important;
    }
    
    .backcolor {
        background-color: blue;
        width: 100px
    }
    
    .area1 {
        position: absolute;
        height: 500px;
        background-color: rgb(28, 40, 88);
        padding-bottom: 639px;
        top: -59px;
        right: -57px;
        padding-left: 275px;
    }
    
    .loginarea {
        padding-top: 20px;
    }
    
     ::ng-deep .mat-form-field-underline {
        display: none;
    }
    
    .pg_nation {
        padding-left: 122px;
        padding-bottom: 10px;
        margin-top: -18px;
        color: #6c757d
    }
    
    .pw_align {
        margin-top: -58px;
    }
    
    .conpw_align {
        margin-top: 25px;
    }
    
    .toggle_btn {
        padding-top: 15px;
    }
    
     ::ng-deep.mat-slide-toggle-bar {
        position: relative;
        width: 38px;
        height: 21px;
        flex-shrink: 0;
        border-radius: 12px;
    }
    
     ::ng-deep.mat-slide-toggle-content {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        color: gray;
    }
    /* 4/6 */
    
    .margin {
        margin-left: 10px;
        width: 424px;
        margin-top: 80px;
        font-size: 19px;
        height: 45px;
        border-radius: 8px;
        color: white;
    }
    
    .margin1 {
        margin-left: 21%;
        width: 428px;
        margin-top: 33px;
        font-size: 15px;
        height: 45px;
        color: white;
        border-radius: 8px;
    }
    
    .margin3 {
        margin-left: 95px;
        width: 375px;
        margin-top: 2px;
        font-size: 15px;
        height: 45px;
        border-radius: 8px;
    }
    
    .margin4 {
        margin-left: 118px;
        width: 428px;
        margin-top: 47 px;
        font-size: 15px;
        height: 45px;
        border-radius: 8px;
    }
    
    .signupsg {
        padding-top: 4%;
    }
    
    .signupsg1 {
        padding-top: 4%;
    }
    
    .signupsg3 {
        padding-top: 4%;
    }
    
     ::ng-deep.mark {
        font-size: 30px;
        margin-left: 149px;
        font-weight: bolder;
        text-align: center;
    }
    
     ::ng-deep.mark1 {
        font-size: 30px;
        margin-left: 235px;
        font-weight: bolder;
    }
    
     ::ng-deep .mark {
        background: transparent;
    }
    
    .top {
        margin-top: 55px!important;
    }
    
    .fronts {
        color: rgb(49, 40, 40)
    }
    
    .flex {
        width: 578px;
        margin-top: 13px;
        font-size: 18px;
        font-weight: 200px;
        color: rgb(158 155 155);
        letter-spacing: .5px;
        line-height: 1.7rem;
    }
    
    .click {
        color: #1540ff;
        font-size: 19px;
        margin-top: -20px;
        font-weight: 888px;
        margin-bottom: 48px;
        margin-left: 97px;
    }
    
    .click1 {
        margin-left: 5px;
    }
    
    .current {
        font-size: 19px;
        color: rgb(158 155 155);
    }
    
    .current1 {
        font-size: 19px;
        color: rgb(158 155 155);
        margin-top: -2px;
    }
    
    .flex1 {
        width: 579px;
        margin-top: 10px;
        font-size: 17px;
        font-weight: 200px;
        color: rgb(158 155 155);
        letter-spacing: .5px;
        line-height: 1.7rem;
    }
    
     ::ng-deep.mat-form-field {
        margin-top: 14px;
        margin-left: 38%;
        left: -104px;
        background-color: rgb(241, 245, 246);
        border-radius: 8px;
        height: 50px;
        padding-left: 8px;
        width: 431px;
    }
    
    .icon {
        color: #1540ff;
        font-size: 20px;
        margin-top: 12px;
        margin-bottom: 37px;
        font-weight: 888px;
        margin-left: -11px!important;
    }
    
    .icon2 {
        color: #1540ff;
        font-size: 18px;
        margin-top: 20px;
        font-weight: 888px;
        margin-bottom: -24px;
        margin-left: 1px;
    }
    
    .icon1 {
        margin-top: 39px;
        margin-left: -22px !important;
        font-size: 18px;
    }
    
    .scroll {
        width: 585px;
        height: 340px;
        overflow-y: scroll;
        margin-top: 7px;
        font-size: 14px;
        letter-spacing: .5px;
        line-height: 1.5rem;
        color: rgb(158 155 155);
    }
    
    .envelope {
        color: rgb(42, 105, 201);
    }
    
    .slit {
        margin-top: -18px;
        margin-left: 121px;
        color: rgb(189, 179, 179);
        font-size: 16px;
        font-weight: 600;
    }
    
    .git {
        width: 111px;
        height: 8px;
        border-radius: 99px;
        margin-top: 2px;
    }
    
     ::ng-deep.mat-form-field-infix {
        margin-left: 8px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: -87px;
    }
    
    .rowsignup {
        margin-left: -16px;
        margin-top: 8px;
        margin-bottom: -2px;
    }
    
     ::ng-deep.mat-error {
        display: block;
        color: red;
        margin-top: -4px;
    }
    
     ::ng-deep.mat-horizontal-content-container {
        margin-top: -31px;
        margin-left: 51px;
    }
    
    .map {
        font-weight: bolder;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: transparent;
        font-size: 23px;
        margin-left: 4px;
    }
    
    .map1 {
        font-weight: bolder;
        background: transparent;
        font-size: 18px;
        margin-left: 20%;
        position: absolute;
        margin-top: -25px;
    }
    
    .map3 {
        font-weight: bolder;
        background: transparent;
        font-size: 19px;
        margin-left: 119px;
    }
    
    .raised {
        background-color: #0005FF;
        font-size: 18px;
    }
    
    .raised2 {
        background-color: #0005FF;
        font-size: 17px;
        margin-top: -13px;
        width: 417px;
        color: white;
    }
    
    .position_sign {
        position: absolute;
    }
    
    .raised1 {
        color: #0005FF;
        box-shadow: none;
        background-color: #ffff;
        font-size: 17px;
        padding-left: 61px;
        margin-top: 1px;
        font-weight: 500;
        border: none;
        opacity: 0.5;
    }
    
    .conduct {
        padding-right: 9px;
        width: 25px;
        height: 17px;
    }
    
     ::ng-deep.raised1.mat-button-wrapper>* {
        vertical-align: "0";
    }
    
    mat-progress-bar {
        display: block;
        height: 10px;
        overflow: hidden;
        position: relative;
        width: 111px;
        border-radius: 10px;
    }
    
     ::ng-deep.mat-flat-button.mat-primary,
    .mat-raised-button.mat-primary,
    .mat-fab.mat-primary,
    .mat-mini-fab.mat-primary {
        background-color: #3A58FF;
        color: white;
    }
    
     ::ng-deep.mat-horizontal-stepper-header {
        margin-top: 49px;
        left: -241px;
        display: unset!important;
        margin-left: -9px;
        padding: 0 81px !important;
    }
    
     ::ng-deep.mat-step-text-label {
        font-size: 13px;
    }
    
     ::ng-deep.mat-step-header .mat-step-label.mat-step-label-active {
        color: rgb(226, 37, 153);
        font-weight: bolder;
    }
    
     ::ng-deep.mat-step-label {
        color: rgb(22, 21, 22);
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 50px;
        vertical-align: middle;
        font-weight: 500;
        font-style: italic;
    }
    
    .user {
        left: 99px;
    }
    
     ::ng-deep.mat-step-label-selected {
        font-size: 14px;
        font-weight: 500;
    }
    
     ::ng-deep.mat-step-icon {
        border-radius: 50%!important;
        height: 24px;
        width: 24px;
        flex-shrink: 0;
        position: relative;
        font-weight: 500;
    }
    
     ::ng-deep.mat-step-icon-content {
        visibility: hidden!important;
    }
    
     ::ng-deep.mat-step-header .mat-step-icon {
        background-color: #3A58FF;
    }
    
     ::ng-deep.mat-step-header .mat-step-icon::before {
        font-family: FontAwesome !important;
    }
    
     ::ng-deep.mat-step-header .mat-step-icon-state-edit {
        background-color: rgba(226, 205, 15, 0.78)!important;
    }
    
     ::ng-deep.mat-step-header .mat-step-icon-state-edit::after {
        font-family: FontAwesome !important;
        content: "\f00c"!important;
        margin-left: 2px;
        color: rgb(34, 141, 30);
        font-size: 18px;
    }
    
    .home {
        color: rgb(226, 37, 153);
        top: -80px;
        left: -24px;
        font-size: 19px;
        position: absolute !important;
        border-radius: 4px;
    }
    
    .home7 {
        position: absolute !important;
    }
    
    .home1 {
        color: rgb(226, 37, 153);
        top: -80px;
        left: 77px;
        font-size: 17px;
        position: absolute !important;
    }
    
    .home2 {
        color: rgb(226, 37, 153);
        top: -81px;
        left: 179px;
        font-size: 17px;
        position: absolute;
        border-radius: 4px;
    }
    
    .home3 {
        color: rgb(226, 37, 153);
        top: -79px;
        left: 280px;
        font-size: 17px;
        position: absolute;
        border-radius: 4px;
    }
    
    .home4 {
        color: rgb(226, 37, 153);
        top: -80px;
        left: 380px;
        font-size: 17px;
        position: absolute;
        border-radius: 4px;
    }
    
    .home5 {
        color: rgb(226, 37, 153);
        top: -78px;
        left: 482px;
        font-size: 17px;
        position: absolute;
        border-radius: 4px;
    }
    
    .home6 {
        color: rgb(226, 37, 153);
        top: -80px;
        left: 583px;
        font-size: 17px;
        position: absolute;
        border-radius: 4px;
    }
    
     ::ng-deep .mat-icon {
        position: absolute !important;
        right: 0 !important;
        bottom: 0px !important;
        margin-bottom: 0px!important;
        float: left !important;
    }
    
     ::ng-deep.mat-horizontal-stepper-header-container {
        white-space: nowrap;
        display: flex;
        align-items: center;
        margin-bottom: 42px;
        margin-top: 53px;
        margin-left: 217px;
    }
    
     ::ng-deep.mat-step-header {
        padding-right: 157px;
    }
    
     ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
        padding-top: 3px!important;
    }
    
    .crop {
        width: 494px;
        height: 412px;
        margin-left: 93px;
    }
    
    .mapsign {
        position: absolute;
    }
    
    .cancel {
        margin-left: 202px;
        margin-top: 427px;
        color: white;
    }
    
    .reset {
        background-color: #f44336;
        color: white;
        margin-left: 54%;
        top: -38px;
        padding-left: 22px;
        padding-right: 21px;
        padding-top: 1px;
        height: 38px;
    }
    
     ::ng-deep.mat-stepper-horizontal-line {
        min-width: 79px !important;
        position: relative;
        border-top-width: 7px !important;
        top: 1px !important;
        left: -184px !important;
        margin-left: -115px !important;
        border-radius: 4px;
        border-color: #3A58FF;
    }