<div class="container-fluid">
<div class=" container prof">
    <div class="row">
        <!-- <div class="col-sm-2"></div> -->
        <div class="col-sm-6">
            <div class="Coordinate">
                <h4 class="care1" style="font-family:Arial, Helvetica, sans-serif !important;">Coordinate care, from
                    anywhere</h4>
                <div class="info">
                    <p class="text1">MyMediTaleshelps you organize your important health information for you
                        <br>and your family in one easy and secure place - MyMediTales
                    </p>
                </div>
                <a href="/for-patients" class="learn1" data-interacts-linkcta="true">
                    <span>Learn More</span>
                    <svg viewBox="0 0 16 16"  fill="none" class="learn2">
                        <path clip-rule="evenodd" d="M16 8a1 1 0 01-1 1H1a1 1 0 110-2h14a1 1 0 011 1z">
                        </path>
                        <path clip-rule="evenodd" d="M16 8a1 1 0 01-.293.707l-7 7a1 1 0 01-1.414-1.414L13.586 8 7.293 1.707A1
                             1 0 018.707.293l7 7A1 1 0 0116 8z">
                        </path>
                    </svg>
                </a>
            </div>
            <div class="image">
                <img src="../../assets/checkcol-share.svg" style="width:488px;height: 493px; margin-top: -21%;">
            </div>
        </div>


        <div class="col-sm-6">
            <div class="Record" style="margin-left: 40px;">
                <h4 class="care1">MyMediTalesputs you in
                    control</h4>
                <div class="info2">
                    <p>When you share your information, you have complete control over what <br>
                        you share and the people and institutions you share with. </p>
                </div>
                <a href="/for-patients" class="learn1" data-interacts-linkcta="true">
                    <span>Learn More</span>
                    <svg viewBox="0 0 16 16" fill="none" class="learn2">
                        <path clip-rule="evenodd" d="M16 8a1 1 0 01-1 1H1a1 1 0 110-2h14a1 1 0 011 1z">
                        </path>
                        <path clip-rule="evenodd" d="M16 8a1 1 0 01-.293.707l-7 7a1 1 0 01-1.414-1.414L13.586 8 7.293 1.707A1
                             1 0 018.707.293l7 7A1 1 0 0116 8z">
                        </path>
                    </svg>
                </a>
            </div>
            <div class="image1">
                <img src="../../assets/checkcol-wallet.svg" style="width:488px;height: 493px; margin-left: 65px;">
            </div>
        </div>
        <!-- <div class="col-sm-2"></div> -->

    </div>
</div>
</div>