<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card-log" style="width: 32rem;">
        <img class="medi" src="../../../assets/Meditales_Logo_new1.ico">
        <h2 class="text-head222">MYMEDITALES</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()" style=" margin-top: 15%;">
          <div class="form-group-log">
            <label class="text-alignment1" for="exampleInputtext1">Username</label>
            <input type="text" class="control-form1" placeholder="Enter Username" formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Username is required!</div>
            </div>
          </div>
          <div class="form-group-log">
            <label class="Passtextalignment" for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required!</div>
            </div>
          </div>
          <div class="form-group-log form-check">
            <input type="checkbox" class="form-box">
            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
          </div>
          <button class="login-button">
            <i class="fa fa-sign-in" aria-hidden="true">
            </i> &nbsp; Login </button>
        </form>
        <p class="forgotPassword"> Forgot Password </p>
      </div>
    </div>
  </div>