
.termcontainer{
    background-color: #010743;
    overflow: hidden;
    /* height:568px; */
}

.termladyimg {
    position: relative;
    padding-right:40px;
    z-index: 1;
    width:750px;
     height:600px;
}
img {
     max-width: 100%;
     height: auto;
}
    
.termsrow{
    padding-top:50px;
   
}
.termstext{
    padding-left:60px;
    padding-top: 70px;;
    color:white;
    font-family: "Lato",sans-serif;
}
.termstext h1{
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 1.5px;
} 
.termstext  .termsparag{
    font-size: 18px;
    font-weight: 400;
margin-top: 1.25rem;
}
/* .termsrow svg{
    background-color: #ffff;
} */
svg {
    fill:#ffff;
    width:100%;
    margin-top: -80px !important;
  z-index: 1;

}
.svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 4rem
;
    fill: #fff;
    /* margin-top:-50px; */
    user-select: none;
    transform: scaleY(1.001);
}
/* ----------------------------------- */
.hzrule{
    border-bottom: 1px solid #cdccd9;
    padding-bottom: 3.125rem;
    position: relative;
    max-width: 62rem;
}
.sticky {
    position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
    position: sticky;
    top: 0px;
  }
.termcontainer2{
    padding-top:100px;
}
.menu {
    width: 25%;
    float: left;
    /* padding: 5px; */
    /* border: 1px solid red; */
    overflow-y: scroll;
    height:800px;
    position: sticky !important;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    max-height: 100
vh
;
  }
  
  .main {
    width: 75%;
    float: left;
    padding: 30px;
    /* border: 1px solid red; */
  }
.menutable{
    text-align: center;
    padding:10px;
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.menu ul li{
    list-style-type: none;
    margin-top: 1.5rem;
    line-height: 1.375em;
}
.dated{
    font-size: 20px;
}
.circle {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 30rem;
    background-color: #cdccd9;
    color: #fff;
    cursor: pointer;
    transition: background-color .2s ease;
    margin-top: 1.875rem;
}
h1{
    font-family: "Volte-Semibold",sans-serif;
    font-weight: bold;
    font-size:50px;
    letter-spacing: 1.5px;
}
h3{
    font-family: "Volte-Semibold",sans-serif;
    font-weight: bold;
    font-size:30px;
    margin-top: 2.375rem;
    margin-bottom: 1.875rem;
    
}
.subheadings{
    font-family: "Volte-Semibold",sans-serif;
    font-weight: bold;
    font-size:25px;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
.p1{
    color: #413d46;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    line-height: 1.75em;
}
.simplyput{
    color: #5c5969;
   font-size: 22px;
   font-family: "Lato",sans-serif;
   margin-top: 1.875rem;
}
.p2{
    font-family: "Lato",sans-serif;
    line-height: 1.3;
    color: #262224;
    font-size: 18px;
    font-weight:bold;
    letter-spacing: 1px;
    padding:20px 0px;
}
