/*--------------------- CONTAINER-1------------ */
.container1 {
    background-color: #010743;
    /* width: 100%; */
    /* height: 120%; */
    position: relative;
    overflow: hidden;
    z-index: -2;
    /* margin: 0%; */
    /* padding: 0%; */
    /* display: inline-block; */
}

.wave {
        fill: #fff;
        height: -5rem;
        /* position: static; */
 }

.wave {
    position: absolute;
     display: block; 
     left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: -5rem;
     fill: #fff;
     /* user-select: none;  */
     /* transform: scaleY(1.001); */
}

.container1 .full {
    /* margin-left: -100px; */
    /* padding-right: 100px; */
    padding-top: 20px;
    padding-left: 80px;
}

/* .container1 .half {
    margin-left: 300px;
} */

.container1 .full .medical {
    color: #fff;
    display: block;
    margin-top: 110px;
    text-align: left;
    /* font-family: "Volte-Semibold",sans-serif; */
    font-family: "Lato",sans-serif;
    font-size: 58px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 2px;
    /* padding-left: 50px; */
}
/* -------------- */

/* --------------- */
.container1 .full .where {
    color: #fff;
    display: block;
    font-size: 19px;
    /* line-height: 1.5em; */
    font-family: "Lato",sans-serif;
    /* box-sizing: border-box; */
    font-weight: 100;
    letter-spacing: 2.0;
    margin-top: 20px;
    /* padding-left: 50px; */
}

.container1 .full .records {
    display: inline;
    background-color: #4656d6;
    color: #fff;
    border: hidden;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    /* cursor: pointer; */
    /* padding: 10px; */
    width: 32%;
    height: 52px;
}

.container1 .full .search {
    display: inline;  
    /* padding: 5px; */
    height: 52px;
    width: 64%;
    font-size: 14px;
    text-align: center;
    color:rgb(119, 116, 139);
    margin-top: 20px;
    margin-left: 2px;
    /* padding-bottom: 30px; */
    border: hidden;
    /* border: 2px solid pink; */
}

.full .search .fa {
    font-size: 20px;
    font-weight: lighter;
    float: left;
}

.mango {
    top: 3rem;
    left: 2rem;
    width: 300%;
    z-index: -2;
    height: 300%;
    overflow: hidden;
}
.half .mango {
    position: absolute;
    top: 5rem;
    left: -5rem;
    right: 5rem;
  
    z-index: -1;
    overflow: hidden;
    fill: #3846B5;
    opacity: 0.33;
}


.half .lady {
    z-index: 2;  
    /* --------------------changas-----------   */
    margin-left: 550px;   
    margin-top: -300px;   
    width: 624px;    
    height: 535px;     
    /* --------------------changas-----------   */
}

.half .mango {
    /* --------------------changas-----------   */
    margin-left: 600px;   
    margin-top: -300px; 
     width: 1100px;
    height: 1000px;
    /* --------------------changas-----------   */
    top: -4rem;
    /* bottom: 10rem; */
    left: -15rem;
    /* bottom: 3rem; */
}
* {
    box-sizing: border-box;
  }
.max{
    margin-top: -1px;
}
  .club input[type=text] {
    padding: 12px;
    font-size: 17px;
    /* border: 1px solid white; */
    border-right: 0px solid black;
    float: left;
    width: 50%;
    margin-left: -2px;
    border-left: 1px solid white ;
    margin-top: -1.5px;
  }

  .club button {
    float: left;
    width: 10%;
    padding: 13px;
    background: white;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
  
    /* cursor: pointer; */
    

  }
  /* .records{
    margin-top: 2px;
  } */