<div class="container-fluid whale">
    
    <div class="row">
        <div class="flea col-sm-6">
            <h1 class="medical"><b>All your medical<br> records in one<br> place.</b></h1>
            <h4 class="where"><b>Where have you received care in the last five years?</b></h4>
            <!-- <input class="search" type="text" aria-label="Hospital, Network or Zip" aria-labelledby="signup_searchterm"
                aria-invalid="false" aria-describedby="" autocomplete="off" id="signup_searchterm" required=""
                value="Search by hospital or doctor's practice"> -->
            <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
            <form  style="max-width:500px;margin:auto">
               
                <div class="input-container">
                    <a href="#" class="hospital">
                        <!-- Here's the inline SVG icon -->
                        <svg class="svg-icon search-icon" aria-labelledby="title desc" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.9 19.7"><title id="title">Search Icon</title><desc id="desc">A magnifying glass icon.</desc><g class="search-path" fill="none" stroke="#848F91"><path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4"/><circle cx="8" cy="8" r="7"/></g></svg>
                      </a>
                  <input class="input-field" type="text" placeholder="Search by hospital or doctor's practice" name="usrnm">
                  <button type="submit" class="btn max-btn">Get Your Records</button>
                </div>
            </form>
        </div>
        <!-- ----------------------------- -->
        <div class="elf col-sm-6">
            <svg viewBox="0 0 600 600" fill="none" class="mazaa">
                <path
                    d="M344.117 43.647C365.992 17.39 395.82 3.928 422.636 1.059c88.398-9.619 153.544 47.259 171.624 131.5 16.262 75.785-2.598 169.646-49.346 253.165C454.491 547.037 287.7 600 171.526 600 55.353 600-26.499 480.387 7.938 382.386c34.437-98 100.202-61.128 161.231-85.634 72.331-29.044 109.207-81.721 130.297-152.415 10.242-34.214 20.131-71.426 44.651-100.69z">
                </path>
            </svg>
            <img class="hand" src="../../../assets/lady.png">
        </div>

        <svg fill="none" viewBox="0 0 1440 81" preserveAspectRatio="none" class="all-wave">
            <path d="M1440 81V17.182c-486.269 178.061-969.884-84.228-1440 0V81h1440z"></path>
        </svg>
    </div>
</div>
