<!-- <div class="container-fluid healthsys">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="head1">365 Health Systems and<br> growing</h2>
        </div>
        <div class="col-sm-6">
            <div class="row border">
                <div class="col-sm-10">
                    <p class="p2">Can't find your healthcare provider?</p>
                    <p class="paragraph1">Send us a note and we'll get them listed</p>
                </div>
                <div class="col-sm-2">
                    <span>
                        <svg style="margin-top: 14px; margin-left:20px;color:blue;" viewBox="0 0 30 30" fill="none"
                            class="_1fXhdoGg2guXw1BLQTYO_w">
                            <path d="M23 12H1M11 1l12 11-12 11" stroke="currentColor" stroke-width="2"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"
                                fill="transparent">
                            </path>
                        </svg></span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid healthsys" >
    <div class="container ">
        <div class="row">
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-6">
                <h2 class="head1">365 Health Systems and<br> growing</h2>
            </div>
            <div class="col-sm-6">
                <div class="row border"  data-toggle="modal" data-target="#myModal">
                
                    <div class="col-sm-8">
                        <p class="p2">Can't find your healthcare provider?</p>
                        <p class="paragraph1">Send us a note and we'll get them listed</p>
                    </div> <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                        <span>
                            <svg style="margin-top: -3px; margin-left:30px;color:blue;" viewBox="0 0 30 30" fill="none"
                                class="_1fXhdoGg2guXw1BLQTYO_w">
                                <path d="M23 12H1M11 1l12 11-12 11" stroke="currentColor" stroke-width="2"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"
                                    fill="transparent">
                                </path>
                            </svg></span>
                    </div>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    <h4 class="modal-title">Request your health system</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                    <input type="text" name="username" placeholder="Your email address *">
                                    <input type="password" name="password" placeholder="Health system name *" autocomplete="new-password">
                                    <input type="password" name="password" placeholder="Address (optional)" autocomplete="new-password">
                                    <input type="password" name="password" placeholder="Website (optional)" autocomplete="new-password">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Request your health system</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-2"></div> -->
        </div>
    </div>
    </div>
    <div class="container-fluid ipad">
        <div class="texts">
            <h2 class="head2">Many sources. MyMediTales.</h2>
            <p class="Wherever" style="padding-top:20px;">Wherever they are, whatever system they’re in, we’ll help you get
                your health care and health<br>plan records in.</p>
        </div>
        <svg width="1440" height="800" fill="none" class="Gb7zSxgxxbdInKGTSQjU4">
            <mask id="centerpiece-blobs_inline_svg__a" maskUnits="userSpaceOnUse" x="0" y="0" width="1440" height="800"
                style="mask-type: alpha;">
                <path fill="#8296FF" d="M0 0h1440v800H0z"></path>
            </mask>
            <g mask="url(#centerpiece-blobs_inline_svg__a)" fill="#3D4DCD">
                <path
                    d="M-417.016-436.446c250.499-227.558-55.753-653.194 329.936-688.494 244.442-22.44 247.005 164.355 459.689 198.003 252.208 39.904 384.446 120.286 385.456 291.117 1.941 320.667-345.389 283.783-453.711 517.093C183.686 141.186-20.612 257.158-295.804 198.632c-275.115-58.525-371.712-407.519-121.212-635.078z">
                </path>
                <path
                    d="M328.115 60.588c292.043-180.105 77.262-651.255 463.262-619.117 244.673 20.348 209.343 204.264 411.543 274.221 239.71 82.899 353.39 184.779 319.84 352.805-62.97 315.274-396.63 218.931-550.225 429.305-171.141 234.389-395.162 312.902-653.66 207.715-258.498-105.188-282.802-464.823 9.24-644.929z">
                </path>
                <path
                    d="M1690.1 627.074c186.05 258.691 672.92 68.448 639.68 410.396-21.04 216.7-211.05 185.5-283.34 364.6-85.65 212.31-190.94 312.97-364.49 283.28-325.75-55.72-226.2-351.37-443.62-487.4-242.19-151.56-323.335-350.076-214.62-579.072 108.71-228.924 480.26-250.494 666.39 8.196z">
                </path>
            </g>
        </svg>
    </div>
    <div class="mobiles">
        <div class="row">
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-3"><img style="margin-top:20px;z-index: 1; margin-left: 42px;"
                    src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/d5298a7d-c105-42eb-8c52-a489e2ec3cab_centerpiece-mobile.svg">
            </div>
            <div class="col-sm-9" style="margin-left: 0px; ">
                <img style="margin-right: 500px;"
                    src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/5b82d9e4-0b39-4aff-8071-0bd4a912fed2_centerpiece-ipad.svg">
            </div>
            <!-- <div class="col-sm-2"></div> -->
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-6 Temp" >
                <img loading="lazy"
                    src="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/2f61c0bc-b1a1-4dc0-8c62-541cf41c382a_twocol-data.svg"
                    alt="The MyMediTalesuser interface displaying health and insurance data."
                    srcset="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/2f61c0bc-b1a1-4dc0-8c62-541cf41c382a_twocol-data.svg 1.5x,
                     https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/2f61c0bc-b1a1-4dc0-8c62-541cf41c382a_twocol-data.svg 2x"
                    width="550" height="500">
            </div>
            <div class="col-sm-6 twocol ">
                <h2 class="head3"> All sorts of data easily <br>sorted</h2>
                <p class="parag3">See the full picture of all your health, or zoom in on the
                    details. With each new record, your MyMediTales
                    gets better, building up a detailed history of your health journey over time.</p>
                <ul>
                    <li>Detailed Clinical Records</li>
                    <li>Clinical Notes</li>
                    <li>Basic Coverage Overview</li>
                    <li>Full Claims Listing</li>
                </ul>
            </div>
            <!-- <div class="col-sm-2"></div> -->
        </div>
    </div>
    
    