<div class="row flex-head">
    <div class="navbar-header ">
        <a class="navbar-brand"><img id="logo" src="../../../assets/mymeditales-logo.png" height="20px"
                width="50px"><span class="myMedi">MYMEDITALES</span></a>

        <ul class="nav navbar-nav navbar-right toplink" style="display:-webkit-inline-box !important;">
            <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-sign-out color" aria-hidden="true" title="Logout"></i></a></li>
        </ul>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

    </div>
</div>