* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}
.main {
  height: auto;
  /* border: 1px solid red; */
  position: relative;
  text-decoration: none;
  list-style-type: none;
}
.imglogo {
  position: relative;
  margin: 10px 50px;
  font-size: 18px;
}

.dropdown-toggle::after {
  display: none !important;
}
.navbar-collapse {
  position: relative;
  display: flex !important;
  flex-direction: row !important;
  list-style-type: none !important;
  text-decoration: none;
}
.navbar-nav {
  display: flex !important;
  flex-direction: row !important;
  margin: 6px 0;
  margin-left: 15px;
}

.navbar-nav .dropdown {
  padding-right: 20px !important;
  padding-left: 20px !important;
  padding: 15px 0px;
  text-decoration: none !important;
  list-style-type: none !important;
}
.navbar-nav .dropdown a {
  color: black !important;
  font-size: 16px;
}
.fa-angle-down {
  position: relative;
  padding-left: 4px;
  font-weight: bold;
  top: 0;
  transition: transform ease 300ms;
}
.navbar-nav .dropdown:hover .fa-angle-down {
  transform: translate(0, 3px);
}
.navbar-collapse:hover .dropdown:hover .dropdown-toggle {
  color: #262224 !important;
  text-decoration: none !important;
  list-style-type: none !important;
}
.navbar-collapse:hover .dropdown .dropdown-toggle {
  color: #77748b !important;
  text-decoration: none !important;
  list-style-type: none !important;
}

/* --------------------dropdown area----------------- */

.dropdown-menu.solution {
  position: absolute;
  display: none;
  min-width: 100px;
  width: 610px;
  border-radius: 10px;
  margin-left: -240px;
  margin-top: 0px !important;
  border: none;
  height: auto;
  font-family: "Lato", sans-serif;
  border: none;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%), 3px 6px 17px 1px rgb(0 0 0 / 10%);
}
.dropdown-menu.solution::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  box-shadow: 10px;
}
/* .navbar-nav:hover {
  background-color: white !important;
} */
.dropdown:hover .dropdown-menu.solution {
  display: block;
}
/* .dropdown-1 {
    margin: 30px 25px;
  } */
.solution-li {
  margin: 20px 25px;
  padding: 10px;
  margin-right: 8px;
}
.solution-li:hover {
  background-color: #f2f2f3 !important;
  border-radius: 6px;
}
.row-2 .developers {
  margin-top: -21px;
}
.media-body {
  margin-top: -50px;
  margin-left: 60px;
}
.media-body:hover .media-text,
.media-body:hover .media-heading {
  color: #5466f7;
}
li a {
  text-decoration: none;
}
.media-heading {
  font-size: 16px;
}
.media-text {
  color: #77748b;
  font-size: 15px;
  margin-top: 10px;
}
.row-3 {
  margin: 0;
  margin-top: -10px;
  background-color: #f6f6f9;
  padding: 30px 0px;
  /* opacity: 0.8; */
}
.row3-li {
  margin: 0px 30px;
}
.app {
  margin-top: 20px;
  margin-left: -40px;
}

.app .row3-android {
  margin-top: -68px;
  margin-left: 140px;
  border: none !important;
}

.row-4 {
  margin: 0;
  background-color: #8296ff;
  padding: 30px 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.last {
  margin-left: 10px;
  margin-top: 20px;
}
.row-4-li {
  margin: 0 20px;
}
.footer-text {
  margin-left: -47px;
}
.endpoint .row-4-li {
  margin-top: 13px;
  background-color: #4656d6;
  margin-left: 10px;
  padding: 10px 0px;
  /* border-radius: 3px; */
}
.endpoint .row-4-li:hover {
  opacity: 0.8;
}
.endpoint li .endpoint-btn {
  color: #fff !important;
  font-weight: bold !important;
  padding-left: 6px;
}

/* ----------------about starting area--------------- */
.about {
  position: absolute;
  display: none;
  left: -180px;
  margin-top: 0px !important;
  min-width: 100px !important;
  width: 450px;
  border-radius: 8px;
  font-family: "Lato", sans-serif;
  margin: 0px;
  /* z-index: 1; */
  border: none;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%), 3px 6px 17px 1px rgb(0 0 0 / 10%);
  height: auto;
}
.dropdown-menu.about::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  box-shadow: 10px;
}
.dropdown:hover .dropdown-menu.about {
  display: block;
}
.abt-li {
  /* width: 50px; */
  margin: 30px 25px;
  z-index: 1;
  background-color: none;
}
.abt-li:hover {
  background-color: #f2f2f3 !important;
  border-radius: 6px;
}
.abt-link {
  margin-left: 10px;
}
.abt-body {
  margin-top: -24px;
  margin-left: 40px;
  font-size: 15px;
  line-height: 25px;
  font-family: "Lato", sans-serif;
}
.abt-body:hover {
  color: #142deb;
  border-radius: 6px;
}
.abt-heading {
  font-weight: bold;
}
.abt-text {
  font-weight: 500px;
  opacity: 0.7;
  /* padding-top: 50px; */
}
.blog-li {
  margin: 0px 35px;
  /* background-color: #4E56AD; */
  background-color: rgb(248, 241, 241);
  margin: 0;
  padding: 0;
  /* #F4F5FF; */
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}
.blog-heading {
  margin-left: 37px;
  font-weight: 500px;
  font-size: 16px;
  color: #77748b;
  transition: color 0.2s ease;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  font-family: "Lato", sans-serif;
}
.blog {
  width: 100px !important;
}
.blog-span1 {
  display: block !important;
  margin-left: 37px !important;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}

.blog-span2 {
  display: block !important;
  margin-left: 37px !important;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}
.blog-span1:hover {
  color: #142deb;
}
.blog-span2:hover {
  color: #142deb;
}
.blog-footer {
  padding-top: 10px !important;
}

.blog-li .blog-link span {
  color: #4b5ee6;
  font-size: 14px;
  margin-left: 37px !important;
}
.blog-li .blog-link span:hover {
  color: #001df6;
  text-decoration: underline;
}
/* ----------support starting area ------------*/
.support {
  position: absolute;
  display: none;
  max-width: 800px;
  width: 450px !important;
  margin-top: 0px;
  left: -170px;
  border-radius: 10px 10px;
  border: none;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%), 3px 6px 17px 1px rgb(0 0 0 / 10%);
}
.dropdown-menu.support::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 100%;
  margin-left: -225px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  box-shadow: 10px;
}
.dropdown:hover .dropdown-menu.support {
  display: block;
}
.support-li {
  margin: 30px 25px;
  z-index: 1;
  background-color: none;
}
.support-li:hover {
  background-color: #f3f3f5;
  border-radius: 6px;
}
.support-link {
  margin-left: 10px;
}
.support-body {
  margin-top: -24px;
  margin-left: 40px;
  font-size: 15px;
  line-height: 25px;
  font-family: "Lato", sans-serif;
}
.support-heading {
  font-weight: bold;
}
.support-text {
  font-weight: 500px;
  opacity: 0.7;
  /* padding-top: 50px; */
}
.support-body:hover {
  color: #142deb;
  border-radius: 10px;
}
/* ----------support ending area ------------*/
/* ----------policy starting area ------------*/
.policy {
  position: absolute;
  display: none;
  max-width: 800px;
  width: 450px !important;
  margin-top: 0px;
  left: -175px;
  border: none;
  border-radius: 10px 10px;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%), 3px 6px 17px 1px rgb(0 0 0 / 10%);
}
.dropdown-menu.policy::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 100%;
  margin-left: -225px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  box-shadow: 10px;
}
.dropdown:hover .dropdown-menu.policy {
  display: block;
}
.contact-li {
  margin: 30px 25px;
  z-index: 1;
  background-color: none;
}
.contact-li:hover {
  background-color: #f3f3f5;
  border-radius: 6px;
}
.contact-link {
  margin-left: 10px;
}
.contact-body {
  margin-top: -24px;
  margin-left: 40px;
  font-size: 15px;
  line-height: 25px;
  font-family: "Lato", sans-serif;
}
.contact-heading {
  font-weight: bold;
}
.contact-text {
  font-weight: 500px;
  opacity: 0.7;
  /* padding-top: 50px; */
}
.contact-body:hover {
  color: #142deb;
  border-radius: 10px;
}
/* ----------policy ending area ------------*/

/* --------------------dropdown end area----------------- */
/* --------------------login area----------------- */
.login {
  /* background-color: burlywood; */
}
.navbar-right {
  margin-left: 20px;
  margin-top: 20px;
}
.navbar-right li {
  margin-left: 30px;
}
.signin {
  color: #010743;
  font-size: 16px;
}
.signin span {
  margin-left: 10px;
}
.signin:hover {
  color: #4b5ee6 !important;
  text-decoration: none;
  list-style-type: none;
}
.signup-li {
  margin-top: -3px;
}
.signup {
  background-color: #4b5ee6;
  border-radius: 1px;
  outline: none !important;
  height: 33px;
  width: 80px;
  font-size: 16px;
  padding-bottom: 4px;
  /* top: -500px; */
  color: white;
  box-shadow: none !important;
}
.signup:hover {
  opacity: 0.8;
  text-decoration: none;
  list-style-type: none;
}
/* --------------------login end area----------------- */
