/* 

.media {
    overflow: hidden;
    background-color: #010743;
    position: relative;
    z-index: -1;
    padding-top: 50px;
}

.full-media h1 {
    color: #fff;
    margin: 0;
    font-size: 45px;
    letter-spacing: -.5px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
}

.full-media p {
    color: #fff;
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 17px;
    font-family: "Lato",sans-serif;
}

.full-media {
    margin-top: 130px;
    padding-left: 30px;
}

.media .media-wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 80px;
    fill: #fff;
}

.half-media img {
    position: relative;
    z-index: 1;
    margin-left: -90px;
}



.downloads {
    padding-top: 7.5rem;
    padding-bottom: 4.5rem;
}

.downloads .black {
    font-size: 48px;
    letter-spacing: -.5px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
}

.downloads p {
    color: #5c5969;
    font-size: 16px;
    font-family: "Lato",sans-serif;
}

.button a {
    padding: 18px 42px;
    background-color: #4656d6;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    font-size: 14px;
    border: 0;
    font-family: "Lato",sans-serif;
}

.button {
    margin-top: 50px;
}

.button a:hover {
    opacity: 0.9;
}

.downloads1 .blue img {
  background-color: #4656d6;
}

.downloads1 .blue img {
    opacity: 0.9;
}

.downloads1 .logo-box {
    padding: 2rem;
    background-color: #f6f6f9;
}

.downloads2 .logo-box {
    padding: 2rem;
    background-color: #f6f6f9;
}

.downloads3 .logo-box {
    padding: 2rem;
    background-color: #f6f6f9;
}

.downloads2 {
    padding-top: 70px;
}

.downloads1 h5 {
    font-size: 20px;
    font-weight: 500;
    font-family: "Lato",sans-serif;
    color: #262224;
}

.downloads1 p {
    color: #5c5969;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    margin-top: 20px;
}

.downloads1 .scenes {
    color: #4b5ee6;
    text-decoration: none;
    font-family: "Lato",sans-serif;
    margin-top: 10px;
    font-size: 16px;
}
.arrow {
    margin-left: -90px;
    color: #4b5ee6;
    font-weight: lighter;
    font-size: 17px;
}

.downloads2 .transparent {
    color: #4b5ee6;
    text-decoration: none;
    padding: 2rem;
    background-color: #f6f6f9;
    width: 612px;
    height: 87px;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 0.5rem;
    font-family: "Lato",sans-serif;
    margin-left: -18px;
    padding-right: 103px;
}

.api {
    padding-top: 6.0rem;
    padding-bottom: 3.0rem;
    margin-left: -20px;
}

.announcement h2 {
    font-size: 46px;
    font-family: "Lato",sans-serif;
    line-height: 17px;
    font-weight: 500;
    padding-bottom: 50px;
    padding-top: 100px;
    padding-left: 10px;
    margin-top: 0.75rem;
}

.announcement1 .news {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #3846b5;
    font-weight: 400;
    font-family: "Lato",sans-serif;
    padding-top: 50px;
}

.announcement1 .bold {
    text-decoration: none;
    color: rgb(63, 78, 197);
    font-family: "Lato",sans-serif;
}

.announcement1 .bold h3 {
    font-size: 30px;
}

.announcement1 .bold h3:hover {
    opacity: 0.9;
}

.announcement1 p {
    font-style: italic;
    color: #77748b;
    margin-top: 0.75rem;
    font-family: "Lato",sans-serif;
}

.announcement2 span {
    margin-bottom: 160px;
    margin-left: -5px;
}
.boom .newyork {
    object-fit: cover;
    z-index: -1;
}
.boom .newyork:hover {
    transition: .2s ease;
    width: 350px;
    height: 270px;
    z-index: 1;
}


.last {
    padding-top: 6.0rem;
    padding-bottom: 7.9rem;

}


.learn h2 {
    font-size: 49px;
    font-family: "Lato",sans-serif;
    padding-left: 10px;
    padding-bottom: 30px;
}

.learn p {
    color: #5c5969;
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato",sans-serif;
    padding-left: 10px;
    padding-bottom: 30px;
}

.learn a {
    text-decoration: underline;
    color: #3f4ec5;
}

.learn a:hover {
    text-decoration: none;
}

.learn2 {
    padding-left: 10px;
}

.learn2 h6 {
    font-size: 22px;
    color: #262224;
    font-family: "Lato",sans-serif;
    padding-bottom: 20px;
}

.learn2 p {
    color: #5c5969;
    font-size: 16px;
    padding-bottom: 20px;
    font-family: "Lato",sans-serif;
}

.learn2 a {
    background-color: #4656d6;
    color: #fff;
    border-radius: 0.125rem;
    padding: 0.80em 1.50em;
    text-decoration: none;
    font-family: "Lato",sans-serif;
    font-size: 17px;
    border: 0;
    display: inline-flex;
    font-weight: 600;
}

.learn2 a:hover {
    opacity: 0.9;
} */
