<!-- --------speaker-container------------- -->

<div class="container-fluid">
    <div class="row white">
        <div class="col-sm-6 full-white">
            <h1 class="one"><b>MyMediTales Media</b></h1>
            <p class="going">Read about what's going on with MyMediTales and<br> download our media kit to help you
                use
                our brand
                and<br> assets
                for your publication.</p>
        </div>
        <div class="col-sm-6 half-white">
            <img class="speaker" loading="lazy"
                src="https://prismic-io.s3.amazonaws.com/or-marketing-prod/743853ed-9011-4cd0-8b57-e1bc703903bf_hero-image-media.svg"
                alt="Illustration of a bullhorn">
        </div>
        <svg fill="none" viewBox="0 0 1440 81" preserveAspectRatio="none" class="white-wave">
            <path d="M1440 81V17.182c-486.269 178.061-969.884-84.228-1440 0V81h1440z"></path>
        </svg>
    </div>
</div>


<!-- ---------------resources-container--------------- -->

<div class="container-fluid">
    <div class="row resource">
        <div class="col-sm-8 resouces">
            <h2 class="black"><b>Media Resources</b></h2>
            <p class="collab">Writing about MyMediTales, or collaborating with us on content? Here’s where you’ll
                find
                all our<br>
                brand
                assets.</p>
        </div>
        <div class="col-sm-4 kit">
            <a href="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/578fe48d-694f-4e5a-80fe-aac4d200dbaf_MyMediTales_Full_Media_Kit.zip"
                data-role="button" class="full-press" target="_blank" rel="noopener noreferrer" download=""
                data-appdownload="false" data-interacts-button="true"><span class="OPl9hNpsaTkcK44UIVaY-"><b>Download
                        full
                        Press kit (75.53 MB)</b></span></a>
        </div>
    </div>
    <div class="row downloads1">
        <div class="col-sm-4 blue">
            <div class="row">
                <img class="one rounded" loading="lazy"
                    src="https://prismic-io.s3.amazonaws.com/or-marketing-prod/3783c6bc-bbd2-4924-808b-9c4d7668b873_download_logo.svg"
                    alt="Download the MyMediTales Logo">
                <div class="logo-box1 rounded">
                    <h5 class="logos"><b>Logos and icons</b></h5>

                    <p class="png">MyMediTales logos and icons in SVG and PNG formats</p>
                    <a href="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/2ef7c29c-ddc4-463c-8d2f-27117cce4b52_MyMediTales_Logos_Icons.zip"
                        class="scenes">Download logos and icons (702.59 KB)</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 dark-blue">
            <div class="row">
                <img class="one rounded" loading="lazy"
                    src="https://prismic-io.s3.amazonaws.com/or-marketing-prod/be838e37-96e8-4ea6-8c55-ff70c12bd295_download-screenshots.svg"
                    alt="Screenshot of webapp">
          
                <div class="logo-box2 rounded">
                    <h5 class="logos"><b>Web and app screenshots</b></h5>

                    <p class="png">Screenshots of our iOS, Android and Web Application in PNG format.</p>
                    <a href="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/a92b00ca-81d2-4054-b163-d1ba6714b9d7_MyMediTales_Screenshots.zip"
                        class="scenes">Download screenshots (793.32 KB)</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ash">
            <div class="row">
                <img class="one rounded" loading="lazy"
                    src="https://images.prismic.io/or-marketing-prod/2ecd8164-3734-4e6d-b5c8-7d71f1964ca4_download-scenes.jpg?auto=compress,format"
                    alt="3d render of the mobile app">
            
                <div class="logo-box3 rounded">
                    <h5 class="logos"><b>Scenes and devices</b></h5>

                    <p class="png">Styled scenes of the MyMediTales app in devices like phones, tablets and laptops.
                    </p>
                    <a href="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/07eb8f36-c29a-4e27-bfff-7c03f6189a3c_Devices+%26+Scenes.zip"
                        class="scenes">Download scenes (67.4 MB)</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row downloads2">
        <div class="col-sm-6">
            <a href="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/6c10a30f-bd6f-4c20-8bf1-0b23d139c061_MyMediTales_Onesheets.zip"
                class="transparent" download="">
                <span class="pdf">Download PDF Onesheets
                    descriptions (6.64 MB)

                </span></a>

        </div>
        <div class="col-sm-2 arrow">
            <a
                href="https://or-marketing-prod.cdn.prismic.io/or-marketing-prod/6c10a30f-bd6f-4c20-8bf1-0b23d139c061_MyMediTales_Onesheets.zip">
                <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="col-sm-4"></div>

    </div>
</div>


<!-- ----------announcements-comtainer--------------- -->

<div class="container-fluid api">
    <div class="row announcement">
        <div class="col-sm-6">
            <h2 class="announ"><b>Announcements</b></h2>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row announcement1">
        <div class="col-sm-4" style="padding-left: 20px;">
            <div class="boom">
                <img class="newyork" loading="lazy"
                    src="https://images.prismic.io/or-marketing-prod/ef16d58a-c61d-4ebe-87b8-c2652f569cdb_Header.png?auto=compress,format&amp;rect=150,0,1623,1080&amp;w=640&amp;h=426"
                    alt="OneRecord Digital Health Awards Trophy Header"
                    srcset="https://images.prismic.io/or-marketing-prod/ef16d58a-c61d-4ebe-87b8-c2652f569cdb_Header.png?auto=compress,format&amp;rect=149,0,1623,1080&amp;w=960&amp;h=639 1.5x, https://images.prismic.io/or-marketing-prod/ef16d58a-c61d-4ebe-87b8-c2652f569cdb_Header.png?auto=compress,format&amp;rect=148,0,1623,1080&amp;w=1280&amp;h=852 2x"
                    width="340" height="267">
            </div>
            <div class="my">
                <a href="https://MyMediTales.com/blog/category/news" class="news">
                    <h6 style="padding-top: 20px;">MyMediTales News</h6>
                </a><br>
                <a href="/blog/MyMediTales-introduces-MyMediTales-api" class="bold">
                    <h3 class="award"><b>MyMediTales Wins Two Fall 2021 Digital
                            Health Awards</b></h3>
                </a>
                <p class="italic">Nov 19, 2021</p>
            </div>
        </div>
        <div class="col-sm-4" style="padding-left: 20px;">
            <div class="boom">
                <img class="newyork" loading="lazy"
                    src="https://images.prismic.io/or-marketing-prod/976f62ca-7232-44d6-b6c7-5747f560e34d_OneRecord+API.png?auto=compress,format&amp;rect=150,0,1623,1080&amp;w=640&amp;h=426"
                    alt="OneRecord Introduces OneRecord API to&nbsp;Enable Medical Record Interoperability Across Healthcare"
                    srcset="https://images.prismic.io/or-marketing-prod/976f62ca-7232-44d6-b6c7-5747f560e34d_OneRecord+API.png?auto=compress,format&amp;rect=149,0,1623,1080&amp;w=960&amp;h=639 1.5x, https://images.prismic.io/or-marketing-prod/976f62ca-7232-44d6-b6c7-5747f560e34d_OneRecord+API.png?auto=compress,format&amp;rect=148,0,1623,1080&amp;w=1280&amp;h=852 2x"
                    width="340" height="267">
            </div>
            <div class="my">
                <a href="https://MyMediTales.com/blog/category/news" class="news">
                    <h6 style="padding-top: 20px;">MyMediTales News</h6>
                </a><br>
                <a href="/blog/MyMediTales-awarded-2021-drivenxdesign-new-york-design" class="bold">
                    <h3 class="award"><b>MyMediTales Introduces OneRecord API to Enable Medical Record
                            Interoperability
                            Across
                            Healthcare</b></h3>
                </a>
                <p class="italic">Oct 28, 2021</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="boom">
                <img class="newyork" loading="lazy"
                    src="https://images.prismic.io/or-marketing-prod/b6678ed8-5303-4515-8a76-bff60ac0b662_NY+Design+Awards.png?auto=compress,format&amp;rect=150,0,1623,1080&amp;w=640&amp;h=426"
                    alt="OneRecord Awarded 2021 DRIVENxDESIGN New York Design Award"
                    srcset="https://images.prismic.io/or-marketing-prod/b6678ed8-5303-4515-8a76-bff60ac0b662_NY+Design+Awards.png?auto=compress,format&amp;rect=149,0,1623,1080&amp;w=960&amp;h=639 1.5x, https://images.prismic.io/or-marketing-prod/b6678ed8-5303-4515-8a76-bff60ac0b662_NY+Design+Awards.png?auto=compress,format&amp;rect=148,0,1623,1080&amp;w=1280&amp;h=852 2x"
                    width="340" height="267">
            </div>
            <div class="my">
                <a href="https://MyMediTales.com/blog/category/news" class="news">
                    <h6 style="padding-top: 20px;">MyMediTales News</h6>
                </a><br>
                <a href="/blog/jennifer-blumenthal-interviewed-on-the-cube" class="bold">
                    <h3 class="award"><b>MyMediTales Awarded 2021 DRIVENxDESIGN New York Design Award</b></h3>
                </a>
                <p class="italic">Oct 21, 2021</p>
            </div>
        </div>
    </div>
</div>



<!-- --------------learn-container---------------- -->

<div class="container-fluid us">
    <div class="row us1">
        <div class="col-sm-6">
            <h2 class="more"><b>Learn More About Us</b></h2>
            <p class="press">General Press Inquiries: <a class="email"
                    href="mailto:media@MyMediTales.com">media@MyMediTales.com</a>
            </p>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row us2">
        <div class="col-sm-4">
            <h6 class="leader"><b>Our leadership</b></h6>
            <p class="make">Read more about the people who make up MyMediTales.</p>
            <a href="https://MyMediTales.com/team" data-role="button" class="discover"
                data-interacts-button="true"><span class="OPl9hNpsaTkcK44UIVaY-">Learn who we are</span></a>
        </div>
        <div class="col-sm-4">
            <h6 class="leader"><b>Our community</b></h6>
            <p class="make">Hear the stories of advocates at the core of<br> our mission.</p>
            <a href="https://MyMediTales.com/community" data-role="button" class="discover"
                data-interacts-button="true"><span class="OPl9hNpsaTkcK44UIVaY-">Discover our community</span></a>
        </div>
        <div class="col-sm-4">
            <h6 class="leader"><b>Our Blog</b></h6>
            <p class="make">Read the latest updates from the MyMediTales<br> team.</p>
            <a href="https://MyMediTales.com/blog" data-role="button" class="discover"
                data-interacts-button="true"><span class="latest">Read the latest news</span></a>
        </div>
    </div>
</div>