<main>
    <div class="fetch crap" data-role="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="glitch">
                        <div class="junc">
                            <h1 class="opto">Contact<br> MyMediTales</h1>
                            <div class="blink">
                                <p class=" secondcts">Need to get in touch with the team? We'd love to hear <br> from you. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="ardo "><img class="imgscontact" width="1400" height="1200" loading="lazy" src="https://images.prismic.io/or-marketing-prod/ad3ca18c-2279-43fa-88b2-5511b6ec82d6_hero-image-contact.svg?auto=compress,format&amp;rect=0,0,700,600&amp;w=1400&amp;h=1200"
                            alt="Illustration of a rotary telephone"></div>
                </div>
            </div>
        </div>
        <svg fill="none" viewBox="0 0 1440 81" preserveAspectRatio="none" class="split"><path d="M1440 81V17.182c-486.269 178.061-969.884-84.228-1440 0V81h1440z"></path></svg>
    </div>


    <section class=" container-fluid">
        <div class=" row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="edger1cs">
                    <div class="lite">
                        <h2 class="flicks">We’re here to help</h2>
                    </div>
                    <div class="ladar">
                        <div><img class="board imgscontact" loading="lazy" src="https://images.prismic.io/or-marketing-prod/293d76ab-2cc5-453c-b514-fada5d84d841_icon-contact-message.svg?auto=compress,format" alt="Chat bubbles" width="100" height="100">
                            <div class="stack" style="margin-left: 116px;">Talk to our team</div>
                            <div class="policycts">
                                <p class="petal " style="margin-left: 11px;">Can't find the answer in our Resource Center? Send us a message.</p>
                            </div><button data-role="button" class="appraisal btcs" data-interacts-button="true" style="margin-left: 114px;"><span>Message us</span></button></div>
                        <div class="imgcts1"><img class="board  imgscontact" loading="lazy" src="https://images.prismic.io/or-marketing-prod/bb4b5029-801c-4cb6-b81a-3d3a6d0076d7_icon-contact-docs.svg?auto=compress,format" alt="Documents" width="100" height="100">
                            <div class="stack stackcs3">Visit our help center</div>
                            <div class="policycts" style="width:388px">
                                <p class="petal apct3">Need help with your MyMediTales? Check out our help articles.</p>
                            </div><a href="https://help.MyMediTales.com" data-role="button" class="appraisal appt" target="_blank" rel="noopener noreferrer" data-appdownload="false" data-interacts-button="true"><span >Visit the Help Center</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class=" container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="edger1cs">
                    <div class="leadcts">
                        <h1 class="supportcts">Drop us a line</h1>
                        <div class=" settingcs ">You can email us at hello@MyMediTales.com. Or fill out the form below and we'll be in touch.</div>
                    </div>
                    <div class="band ">
                        <div>
                            <form>
                                <div class=" " style="margin-top: -22px;">
                                    <div class="cardcts " data-has-error="false " novalidate=" "><input class="templatects " type="email " aria-label="Email Address " aria-labelledby="formEmail " aria-invalid="false " aria-describedby=" " id="formEmail " name="formEmail
                " data-state="unfilled "><label class="profit " for="formEmail ">Email Address <span class="labelscts ">*</span></label></div>
                                </div>
                                <div class=" ">
                                    <div class="cardcts " data-has-error="false " novalidate=" "><select class="controlcs " aria-label="Subject " aria-labelledby="formSubject " aria-invalid="false " aria-describedby=" " id="formSubject " name="formSubject
                " data-state="unfilled "><option value=" "></option><option value="User needs help ">I use MyMediTalesand need help</option><option value="Not a user but has a question ">I dont use MyMediTalesbut have a question</option><option value="Business outreach
                ">Im interested in business partnerships</option><option value="Other question ">I have a general inquiry</option></select>
                                        <label class="profit1 " for="formSubject ">Subject <span class="labelscts ">*</span></label>
                                    </div>
                                </div>
                                <div class=" ">
                                    <div class="cardcts " data-has-error="false " novalidate=" "><textarea class="areacts " aria-label="Tell us whats going on? " aria-labelledby="formMessage " aria-invalid="false " aria-describedby=" " id="formMessage " name="formMessage
                " data-state="unfilled "></textarea><label class="profit3 " for="formMessage " style="margin-top: -91px;">Tell us whats going on? <span class="labelscts ">*</span></label></div>
                                </div><button type="submit " class="patch cross "><span class="path ">Submit</span></button></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>