.main1 {
    flex: 1 0 auto;
    margin-top: 90px;
}



@media (min-width: 64rem) {
    .split {
        height: 5rem;
    }
}

@media (min-width: 48rem) {
    .split {
        height: 3.5rem;
        transform: none;
    }
}

.split {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 4rem;
    fill: #fff;
    user-select: none;
    transform: scaleY(1.001);
}

@media (min-width: 64rem) {
    .ladar {
        grid-gap: 4rem 20rem;
    }
}

@media (min-width: 48rem) {
    .ladar {
        grid: auto-flow/repeat(2, 1fr);
        grid-gap: 4rem 6rem;
    }
}

.ladar {
    display: grid;
    grid-gap: 6rem;
}

main {
    display: block;
}

@media (min-width: 84rem) {
    .glitch {
        min-height: 40.25rem;
    }
}

@media (min-width: 64rem) {
    .glitch {
        margin-top: 5.625rem;
        min-height: 37rem;
    }
}

@media (min-width: 48rem) {
    .glitch {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        min-height: 61rem;
    }
}

@media (min-width: 64rem) {
    .glitch {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.junc {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: -243px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 4.3125rem;
    padding-top: 2rem;
}

.junc .glitch {
    color: #fff;
}

@media (min-width: 84rem) {
    .junc {
        width: 31.25rem;
    }
}

@media (min-width: 64rem) {
    .junc {
        margin-top: 3rem;
        margin-bottom: 5rem;
        margin-right: 5rem;
        padding-bottom: 6rem;
    }
}

@media (min-width: 48rem) {
    .junc {
        width: 10%;
        align-self: left;
        margin-top: 3.1rem;
        margin-bottom: 28.7rem;
        margin-right: 3 rem;
        max-width: 992rem;
        padding-left: 4px;
    }
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.3;
    color: #262224;
}

@media (min-width: 70rem) {
    h1 {
        font-size: 3.625em;
        line-height: 1em;
    }
}

@media (min-width: 64rem) {
    h1 {
        font-size: 3.125em;
        line-height: 1em;
    }
}

@media (min-width: 48rem) {
    .opto+.blink {
        margin-top: 0;
    }
}

.opto+.blink {
    margin-top: -6.75rem;
    margin-left: -510px;
    font-size: 18px
}


/* .blink1 {
        margin-left:
    } */

.fetch.crap {
    background-color: #010743;
    height: 580px;
    margin-top: -81px;
}

.fetch {
    background-color: #f6f6f9;
    overflow: hidden;
    position: relative;
}

.glitch {
    max-width: 62.5rem;
    margin-top: 0;
    margin-right: 88px;
    margin-bottom: 0;
    margin-left: 796px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 4.3125rem;
    padding-top: 2rem;
}

.crap .junc {
    color: #fff;
}

.junc {
    z-index: 5;
    position: absolute;
}

.opto {
    /* margin: 83px; */
    margin-left: -431px;
    margin-top: -28px;
    font-family: "Volte-Semibold", sans-serif;
}


/* h1 {
    font-size: 2.5em;
    line-height: 1.005em;
    letter-spacing: -.5px;
} */

.flicks {
    font-family: "Volte-Semibold", sans-serif;
    font-weight: 400;
    margin-bottom: 1.875rem;
    font-weight: bolder;
    font-size: 50px;
    margin-left: 148px;
    margin-top: 167px;
}

h1 {
    font-family: "Volte-Semibold", sans-serif;
    display: block;
    font-size: 3.395em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.second {
    margin-left: 80px;
    margin-top: 126px;
    font-size: 1.075rem;
}

@media (min-width: 64rem) {
    .redo {
        flex-shrink: 0;
    }
}

.ardo {
    display: flex;
    margin-top: 2rem;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.redo {
    position: relative;
    z-index: 1;
}

img {
    width: 105%;
    height: 557px;
    margin-left: -18%;
    top: -459px;
}

.lite+.ladar {
    margin-top: 2rem;
    color: #262224;
    margin-left: 46px;
}

.ladar {
    display: grid;
    grid-gap: 6rem;
}

.board {
    height: 6.25rem;
    margin-left: 118px;
    width: 93px;
    margin-top: 8px;
}

div {
    display: block;
}

@media (min-width: 48rem) {
    .board+.stack {
        margin-top: 3.5rem;
    }
}

@media (min-width: 48rem) {
    .stack {
        font-size: 1.25em;
    }
}

.board+.stack,
.board+.policy,
.board+[data-role='button'] {
    margin-top: 3rem;
}

.stack {
    font-family: "Volte-Semibold", sans-serif;
    font-size: 1.175em;
    line-height: 1.75em;
    color: #5c5969;
    margin-left: 106px;
    font-weight: bolder;
}

.petal {
    font-size: 1.175rem;
    line-height: 1.69rem;
    width: 399px;
}

.stack+.policy,
.stack+[data-role='button'] {
    margin-top: 0.5rem;
    margin-left: 105px;
    font-size: 1.275em;
    line-height: 1.5em;
    color: #5c5969;
    width: 488px;
}

.policy+[data-role='button'] {
    margin-top: 1rem;
}

@media (min-width: 84rem) {
    .ardo {
        width: inherit;
        flex: 1;
    }
}

@media (min-width: 48rem) {
    .ardo {
        margin-top: 0;
        width: 60%;
        justify-content: flex-end;
    }
}

.appraisal {
    background-color: #4656d6;
    color: #fff;
    border-radius: 0.125rem;
    padding: 0.75em 1.25em;
    font-family: "Volte-Semibold", sans-serif;
    text-decoration: none;
    font-size: 1.125em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 105px;
    transition: .2s ease;
    border: 0;
}

@media (min-width: 48rem) {
    .policy+[data-role='button'] {
        margin-top: 1.5rem;
    }
}

@media (min-width: 48rem) {
    .appraisal {
        padding: 0.75em 1.75em;
        align-self: flex-start;
    }
}

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}

.lead {
    margin-bottom: 3.5rem;
    max-width: 40rem;
}

section h1:first-child {
    margin-top: 150px;
}

.support {
    font-size: 2em;
    margin-left: 130px;
    /* margin-top: -66px; */
    width: 555px;
}


/* :-webkit-any(article, aside, nav, section) h1 {
        font-size: 9.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
    }
     */

.band {
    max-width: 70rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    padding: 11px;
    border: none;
    width: 688px;
}

.control,
.template {
    height: 3.25rem;
}

.labels {
    color: #dd444b;
}

._1CYGXyOXAcbxmduBFY1k0A+._1CYGXyOXAcbxmduBFY1k0A {
    margin-top: 2rem;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.area {
    height: 15rem;
    resize: vertical;
}

.control,
.area,
.template {
    border-radius: 0.125rem;
    border: 1px solid #9491a5;
    background-color: #fdfdff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.profit {
    order: -1;
    margin-bottom: 0.625rem;
    font-size: 1.125em;
    align-self: flex-start;
    font-weight: lighter;
}

.path {
    margin-top: 1.5375rem;
    margin-bottom: 1.5375rem;
    width: 68px;
}

.patch {
    font-weight: bolder;
    background-color: #4656d6;
    color: #fff;
    border-radius: 0.125rem;
    padding: 0 2.5em;
    font-family: "Volte-Semibold", sans-serif;
    text-decoration: none;
    font-size: 1.125em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease;
    border: 0;
    margin-top: 2rem;
    align-self: flex-start;
    margin-left: 131px;
}

.cross {
    width: 146px;
    height: 52px;
    margin-bottom: 106px;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

._1CYGXyOXAcbxmduBFY1k0A+._1CYGXyOXAcbxmduBFY1k0A {
    margin-top: 2rem;
}

.control {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    line-height: 1.3;
    width: 100%;
    max-width: 100%;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2213%22%20height%3D%228%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.5%201.5l5%205%205-5%22%20stroke%3D%22%2377758A%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: right 1rem top 50%;
    background-size: 0.65em auto;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

input[type="email" i] {
    padding: 1px 2px;
}

input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.setting {
    font-size: 1.375rem;
    line-height: 1.45em;
    width: 647px;
    margin-left: 133px;
    font-weight: 400;
}