.Containerfull {
    flex: 1 0 auto;
    /* position: relative; */
}

.top.top1 {
    background-color: #010743;
    height: 588px;
   
}
.top {
    background-color: #f6f6f9;
    overflow: hidden;
    position: relative;
}

.top3 {
    min-height: 40.25rem;
}

.top3 {
    margin-top: 5.625rem;
    min-height: 37rem;
}

.top1 .top4 {
    color: #fff;
}

.top4 {
    width: 31.25rem;
}

.top4 {
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-right: 5rem;
    padding-bottom: 6rem;
}

.top4 {
    width: 40%;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 8.75rem;
    margin-right: 3rem;
    max-width: 32rem;
}

.top4 {
    z-index: 5;
    position: relative;
}

.top5 {
    margin: 0;
}

h1 {
    font-size: 3.625em;
    line-height: 1em;
}


.top5+.top6 {
    margin-top: 1.25rem;
}

.top5+.top6 {
    margin-top: 0.75rem;
}

.top6 p:first-of-type {
    font-size: 1.25em;
}
.top6 p:last-of-type {
    margin-bottom: 0;
}
.top6 p:first-of-type {
    margin-top: 0;
    font-size: 1.2222em;
}
.top6 p {
    font-size: 1.125em;
}

.top4>[data-role='button'] {
    margin-top: 3rem;
}
.top4>[data-role='button'] {
    margin-top: 2rem;
}

.top7 {
    padding: 0.75em 1.75em;
    align-self: flex-start;
}
.top7 {
    background-color: #4656d6;
    color: #fff;
    border-radius: 0.125rem;
    padding: 0.75em 1.25em;
    font-family: "Volte-Semibold",sans-serif;
    text-decoration: none;
    font-size: 1.125em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease;
    border: 0;
}

._1hcqLe5VqDq6Vqk31w9-mC {
    width: inherit;
    flex: 1;
}

._1hcqLe5VqDq6Vqk31w9-mC {
    margin-top: 0;
    width: 60%;
    justify-content: flex-end;
}
._1hcqLe5VqDq6Vqk31w9-mC {
    display: flex;
    margin-top: 2rem;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.dia {
    flex-shrink: 0;
}

.dia {
    position: relative;
    z-index: 1;
    margin-left: 53%;
    margin-top: -45%;

}
img {
    max-width: 100%;
    height: auto;
}

.ratio {
    height: 5rem;
}

.ratio {
    height: 3.5rem;
    transform: none;
}
.ratio {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 3rem;
    fill: #fff;
    user-select: none;
    transform: scaleY(1.001);
}
svg {
    fill: currentColor;
}

.top+[data-interacts-countdown] {
    margin-top: -14.5rem;
}

.top+[data-interacts-countdown] {
    margin-top: -10rem;
}
.top+[data-interacts-countdown] {
    margin-top: -8.5rem;
    z-index: 4;
    position: relative;
}

section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
section {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.num {
    padding: 3rem;
}

.num {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
.num {
    background-color: #f1f0f5;
    border-radius: 0.25rem;
    padding: 2rem 1rem 3rem;
    position: relative;
    overflow: hidden;
    margin-top: -6%;
}

.numerical {
    flex: inherit;
}

.text {
    font-size: 1.9375em;
}

.text{
    font-size: 1.625em;
}
.text {
    font-size: 1.5em;
}
.text {
    font-size: 1.25em;
    line-height: 1.125em;
    color: #262224;
    font-family: "Volte-Semibold",sans-serif;
}

.text+.cardtext1 {
    margin-top: 1rem;
}

.text+.cardtext1 {
    margin-top: 1rem;
}
.text+.cardtext1 {
    margin-top: 1.5rem;
}

.cardtext1 {
    justify-content: flex-start;
}
.cardtext1 {
    display: flex;
    justify-content: space-between;
}

.cardnumber {
    text-align: center;
}

.number .cardnumber1 {
    animation: kL_hHnGfz-vlUssFsMRcn .5s ease-in .25s infinite alternate;
}

.cardnumber1 {
    font-size: 5.25em;
    min-width: 6.5rem;
}

.cardnumber1 {
    font-size: 4.75em;
    min-width: 5.75rem;
}

.cardnumber1 {
    font-size: 4em;
    min-width: 5rem;
}

.cardnumber1 {
    font-size: 3.0625em;
}

.cardnumber1 {
    font-family: "Volte-Semibold",sans-serif;
    font-size: 3em;
    line-height: 1.0625em;
    letter-spacing: -1px;
    color: #4656d6;
    min-width: 4rem;
}

.cardnumber2 {
    font-size: .9375em;
}

.cardnumber2 {
    font-size: .875em;
    line-height: 1em;
    color: #5c5969;
}

.cardnumber {
    text-align: center;
}

.cardnumber+.cardnumber {
    margin-left: 1.75rem;
}


.cardnumber+.cardnumber {
    margin-left: 1.5rem;
}

.cardnumber+.cardnumber {
    margin-left: 1.25rem;
}
.cardnumber+.cardnumber {
    margin-left: 0.75rem;
}
.cardnumber {
    text-align: center;
}
.number .cardnumber1 {
    animation: kL_hHnGfz-vlUssFsMRcn .5s ease-in .25s infinite alternate;
}


.cardnumber1 {
    font-size: 5.25em;
    min-width: 6.5rem;
}

.cardnumber1 {
    font-size: 4.75em;
    min-width: 5.75rem;
}

.cardnumber1 {
    font-size: 4em;
    min-width: 5rem;
}

.cardnumber1 {
    font-size: 3.0625em;
}
.cardnumber1 {
    font-family: "Volte-Semibold",sans-serif;
    font-size: 3em;
    line-height: 1.0625em;
    letter-spacing: -1px;
    color: #4656d6;
    min-width: 4rem;
}

.cardnumber {
    text-align: center;
}

.cardnumber2 {
    font-size: .9375em;
}

.cardnumber2 {
    font-size: .875em;
    line-height: 1em;
    color: #5c5969;
}



.number .cardnumber1 {
    animation: kL_hHnGfz-vlUssFsMRcn .5s ease-in .25s infinite alternate;
}

.cardnumber1 {
    font-size: 5.25em;
    min-width: 6.5rem;
}


.numerical+.nuDMirBYZ2FUAygv5YG83 {
    margin-left: 5rem;
    flex: 1;
}

.numerical+.nuDMirBYZ2FUAygv5YG83 {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
    margin-left: 5rem;
}

._1hTMEjXP2fFNrk21w2h0hJ {
    font-size: 1.125em;
}

._1hTMEjXP2fFNrk21w2h0hJ {
    font-size: 1.0625em;
    color: #5c5969;
}

p:last-child {
    margin-bottom: 0;
}

strong {
    font-weight: bolder;
}

._1hTMEjXP2fFNrk21w2h0hJ+[data-role='button'] {
    margin-top: 1.625rem;
}
._1hTMEjXP2fFNrk21w2h0hJ+[data-role='button'] {
    margin-top: 1.375rem;
}

.top7 {
    padding: 0.75em 1.75em;
    align-self: flex-start;
}
.top7 {
    background-color: #4656d6;
    color: #fff;
    border-radius: 0.125rem;
    padding: 0.75em 1.25em;
    font-family: "Volte-Semibold",sans-serif;
    text-decoration: none;
    font-size: 1.125em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease;
    border: 0;
}

._3sef4K6q92xMeOJrXGxIrI._3iwitRhrlLXn6G2h5JgJh5 {
    max-width: inherit;
    margin-top: inherit;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    padding-left: inherit;
    padding-right: inherit;
}

._3sef4K6q92xMeOJrXGxIrI {
    display: flex;
}
._3sef4K6q92xMeOJrXGxIrI {
    overflow-x: hidden;
}
section+section {
    padding-top: 2.5rem;
}

._3jMDTn0Cn8_dUEtWsyxa3S {
    padding-top: 2.5rem;
}


._3jMDTn0Cn8_dUEtWsyxa3S {
    display: flex;
}

._3jMDTn0Cn8_dUEtWsyxa3S {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
._3jMDTn0Cn8_dUEtWsyxa3S {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


main ._3sef4K6q92xMeOJrXGxIrI:nth-of-type(even)._3oooni7fPIOrtWzD7qBmAb .QSE4QFIh5U6Q74tF94ejY {
    margin-right: 3rem;
    margin-left: 0;
}

main ._3sef4K6q92xMeOJrXGxIrI:nth-of-type(even)._3oooni7fPIOrtWzD7qBmAb .QSE4QFIh5U6Q74tF94ejY {
    order: -1;
}

.QSE4QFIh5U6Q74tF94ejY {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

main ._3sef4K6q92xMeOJrXGxIrI:nth-of-type(even)._3oooni7fPIOrtWzD7qBmAb._3iwitRhrlLXn6G2h5JgJh5 ._3dVbPuBm6SZYDIXbRaaL8O {
    transform: translateX(-7vw);
}

._3iwitRhrlLXn6G2h5JgJh5 ._3dVbPuBm6SZYDIXbRaaL8O {
    transform: translateX(-7vw);
    width: 65vw;
    max-width: inherit;
    margin-left: -7vw;
    margin-right: -7vw;
}

._3dVbPuBm6SZYDIXbRaaL8O {
    position: relative;
    z-index: 1;
}

._3N3upb8qq4gWoNOYl2yOX_ {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
._3N3upb8qq4gWoNOYl2yOX_ {
    z-index: 1;
    position: relative;
}

.section h2:first-child{
    margin-top: 0;
}

h2 {
    font-size: 3.375em;
    line-height: 1.074em;
        font-family: "Volte-Semibold",sans-serif;
        font-weight: 400;
        margin-bottom: 1.875rem;
    
}

._1xlo7sb1WrOH1Mwog4ZfLT {
    color: #5c5969;
}

p {
    font-size: 1.125em;
    line-height: 1.5em;
}

p {
    font-size: 1.125em;
    line-height: 1.5em;
}

._1xlo7sb1WrOH1Mwog4ZfLT+a{
    margin-top: 2.5rem;
}

.top7 {
    padding: 0.75em 1.75em;
    align-self: flex-start;
}

.top7 {
    background-color: #4656d6;
    color: #fff;
    border-radius: 0.125rem;
    padding: 0.75em 1.25em;
    font-family: "Volte-Semibold",sans-serif;
    text-decoration: none;
    font-size: 1.125em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease;
    border: 0;
}

[data-role='button']+._3f77cWEWZ_DcNDHJk7W5cA {
    margin-top: 1rem;
}

._2cT-Z7YmFnl5TS7yXx_ba1 {
    display: inline-flex;
}

._2cT-Z7YmFnl5TS7yXx_ba1+._2cT-Z7YmFnl5TS7yXx_ba1 {
    margin-left: 1rem;
}

._2cT-Z7YmFnl5TS7yXx_ba1 {
    display: inline-flex;
}


._3_fodADGvZhX-XZZa7qQ-U._3OfB7zyBXrvMDZ8fn8EVt- {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

section {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

._3vLdoBedR3eiu9IhmHXA0T {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

._3vLdoBedR3eiu9IhmHXA0T {
    display: flex;
}

._1kckLhptpu7PEc-neNCXck {
    max-width: 7rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
._1kckLhptpu7PEc-neNCXck {
    max-height: 2.5rem;
    max-width: 8rem;
    margin-bottom: 2rem;
}
._1kckLhptpu7PEc-neNCXck {
    max-height: 2rem;
    max-width: 26vw;
    margin-bottom: 1.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
img {
    max-width: 100%;
    height: auto;
}

._3OfB7zyBXrvMDZ8fn8EVt-+section:not([data-interacts-hillswrapper]) {
    margin-top: 7.5rem;
}
section+section {
    padding-top: 2.5rem;
}


section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
section {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

._3a3CrayfTfb_-_ELeN6IOJ {
    max-width: 46rem;
}

._33HfyIliTnE1GeU1ZCKLQ3 {
    max-width: 46rem;
}

p {
    font-size: 1.125em;
    line-height: 1.5em;
}

section p:first-child {
    margin-top: 0;
}

._3Jip-EjEGZvRIx5BMoGG7_ {
    grid-gap: 5.625rem;
}

._3Jip-EjEGZvRIx5BMoGG7_ {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin-top: 3.75rem;
}

._3CpSv31d7DLp1psNg4oV2i ._11iHcNR4ycocPQ2ZAi5wRm {
    margin-top: 0;
    justify-content: flex-start;
}
._3CpSv31d7DLp1psNg4oV2i ._11iHcNR4ycocPQ2ZAi5wRm {
    border-top: 0;
    padding-top: 0;
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
}

._11iHcNR4ycocPQ2ZAi5wRm {
    margin-top: 0;
}
._11iHcNR4ycocPQ2ZAi5wRm {
    border-top: 3px solid #e5e4ec;
    padding-top: 2rem;
    margin-top: 3.75rem;
    display: grid;
    grid-gap: 1rem;
}

.RqfoO79d4WorsRLJJtTre {
    font-family: "Volte-Semibold",sans-serif;
    font-size: 1.375rem;
    color: #262224;
}

._37wa7j2tPcckWPcFcc3qEi p:last-of-type {
    margin-bottom: 0;
}

._37wa7j2tPcckWPcFcc3qEi p:first-of-type {
    margin-top: 0;
}

._3CpSv31d7DLp1psNg4oV2i ._3M-mZbBSRbQVesgrQK5JR {
    margin-bottom: 0;
}
._3CpSv31d7DLp1psNg4oV2i ._3M-mZbBSRbQVesgrQK5JR {
    order: -1;
}
._3M-mZbBSRbQVesgrQK5JR {
    text-align: center;
    align-self: flex-start;
}
img {
    max-width: 100%;
    height: auto;
}

._3CpSv31d7DLp1psNg4oV2i ._11iHcNR4ycocPQ2ZAi5wRm {
    margin-top: 0;
    justify-content: flex-start;
}
._3CpSv31d7DLp1psNg4oV2i ._11iHcNR4ycocPQ2ZAi5wRm {
    border-top: 0;
    padding-top: 0;
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
}

.RqfoO79d4WorsRLJJtTre {
    font-family: "Volte-Semibold",sans-serif;
    font-size: 1.375rem;
    color: #262224;
}

._37wa7j2tPcckWPcFcc3qEi p:last-of-type {
    margin-bottom: 0;
}

._37wa7j2tPcckWPcFcc3qEi p:first-of-type {
    margin-top: 0;
}

._3CpSv31d7DLp1psNg4oV2i ._3M-mZbBSRbQVesgrQK5JR {
    margin-bottom: 0;
}
._3CpSv31d7DLp1psNg4oV2i ._3M-mZbBSRbQVesgrQK5JR {
    order: -1;
}
._3M-mZbBSRbQVesgrQK5JR {
    text-align: center;
    align-self: flex-start;
}
img {
    max-width: 100%;
    height: auto;
}

._3CpSv31d7DLp1psNg4oV2i ._11iHcNR4ycocPQ2ZAi5wRm {
    margin-top: 0;
    justify-content: flex-start;
}
._3CpSv31d7DLp1psNg4oV2i ._11iHcNR4ycocPQ2ZAi5wRm {
    border-top: 0;
    padding-top: 0;
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
}

.RqfoO79d4WorsRLJJtTre {
    font-family: "Volte-Semibold",sans-serif;
    font-size: 1.375rem;
    color: #262224;
}


._37wa7j2tPcckWPcFcc3qEi p:last-of-type {
    margin-bottom: 0;
}
._37wa7j2tPcckWPcFcc3qEi p:first-of-type {
    margin-top: 0;
}

._3CpSv31d7DLp1psNg4oV2i ._3M-mZbBSRbQVesgrQK5JR {
    margin-bottom: 0;
}
._3CpSv31d7DLp1psNg4oV2i ._3M-mZbBSRbQVesgrQK5JR {
    order: -1;
}
._3M-mZbBSRbQVesgrQK5JR {
    text-align: center;
    align-self: flex-start;
}
img {
    max-width: 100%;
    height: auto;
}

._3Jip-EjEGZvRIx5BMoGG7_+._3JNfPIM-lo8BuV9nS9L-V {
    margin-top: 3rem;
}
._3JNfPIM-lo8BuV9nS9L-V {
    background-color: #f4f5ff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    text-align: center;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.top7 {
    padding: 0.75em 1.75em;
    align-self: flex-start;
}
.top7 {
    background-color: #4656d6;
    color: #fff;
    border-radius: 0.125rem;
    padding: 0.75em 1.25em;
    font-family: "Volte-Semibold",sans-serif;
    text-decoration: none;
    font-size: 1.125em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease;
    border: 0;
}

._1B9h_qpg0kysyOwIhFiLoD {
    display: flex;
}
section+section {
    padding-top: 2.5rem;
}

._21w6WeUh6Ia1uz_s8ubwYJ {
    width: 31rem;
}

.WmC7cQ1aNypposDAfE6QT {
    margin-bottom: 0;
}

.WmC7cQ1aNypposDAfE6QT+._3E-mafORvaOLGWLgxgXA9_ {
    margin-top: 1rem;
}

._21w6WeUh6Ia1uz_s8ubwYJ+._25cJoEZvdp9VrjszjUlZa4 {
    margin-left: 7rem;
}

._21w6WeUh6Ia1uz_s8ubwYJ+._25cJoEZvdp9VrjszjUlZa4 {
    margin-top: 0;
    margin-left: 2rem;
    flex: 1;
}
._21w6WeUh6Ia1uz_s8ubwYJ+._25cJoEZvdp9VrjszjUlZa4 {
    margin-top: 2.5rem;
}



.cJbeTj6pzv0dzcWzFR-sh {
    position: relative;
    display: flex;
    flex-direction: column;
}

._2ZDWXrTsOycbSZ5KNGwQ5N {
    height: 3.75rem;
}

._2ZDWXrTsOycbSZ5KNGwQ5N {
    border-radius: 0.125rem;
    border: 1px solid #9491a5;
    background-color: #fdfdff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
 input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}


._3Dc_J-4Fh_CrC9EW-yh81N {
    order: -1;
    margin-bottom: 0.625rem;
    font-size: 1.125em;
    align-self: flex-start;
}

._31HZJYrRwCVe3yUDTOLsbU {
    color: #dd444b;
}

._1CYGXyOXAcbxmduBFY1k0A+._1CYGXyOXAcbxmduBFY1k0A {
    margin-top: 2rem;
}

.cJbeTj6pzv0dzcWzFR-sh {
    position: relative;
    display: flex;
    flex-direction: column;
}

._2ZDWXrTsOycbSZ5KNGwQ5N {
    height: 3.75rem;
}

 ._2ZDWXrTsOycbSZ5KNGwQ5N {
    border-radius: 0.125rem;
    border: 1px solid #9491a5;
    background-color: #fdfdff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

._3Dc_J-4Fh_CrC9EW-yh81N {
    order: -1;
    margin-bottom: 0.625rem;
    font-size: 1.125em;
    align-self: flex-start;
}

.cJbeTj6pzv0dzcWzFR-sh {
    position: relative;
    display: flex;
    flex-direction: column;
}

._3Dc_J-4Fh_CrC9EW-yh81N {
    order: -1;
    margin-bottom: 0.625rem;
    font-size: 1.125em;
    align-self: flex-start;
}

._21ndo4B_7jXr3c5o2dPCa2 {
    background-color: #4656d6;
    color: #fff;
    border-radius: 0.125rem;
    padding: 0 2.5em;
    font-family: "Volte-Semibold",sans-serif;
    text-decoration: none;
    font-size: 1.125em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease;
    border: 0;
    margin-top: 3rem;
    align-self: flex-start;
}

button,[type='submit'] {
    -webkit-appearance: button;
}

button{
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

._3X1AFEFca-vS7mU4Y4Pcgc {
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.ET-CnDmiuCQPZjzEqLanf {
    display: none;
    text-align: center;
}

section+section {
    padding-top: 2.5rem;
}


section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.aHuog8OHk4XdXGs__i1dR {
    text-align: center;
    padding-bottom: 3.25rem;
    margin-bottom: 3.25rem;
    border-bottom: 1px solid #d9d8e2;
}

.HoMzdmP_iB3eSLTmI2yjf+._3Hcx-efehNFDoE3Q6NKVyr {
    margin-top: 1rem;
}

._2uOzDM0bBbyeaIyQjQvlFr {
    grid: auto-flow/repeat(4, 1fr);
    grid-gap: 4rem 2rem;
    display: grid;
}

._3J9osR39w41sxCyx9HaaGr {
    align-items: center;
    text-align: center;
}

._2uOzDM0bBbyeaIyQjQvlFr {
    grid: auto-flow/repeat(4, 1fr);
    grid-gap: 4rem 2rem;
}
._3J9osR39w41sxCyx9HaaGr {
    display: flex;
    flex-direction: column;
}

._2_8Y46JKZpXyz7Oi1oDtGl {
    position: relative;
    height: 1.75rem;
    width: 100%;
    max-width: 10.5rem;
}

._2_8Y46JKZpXyz7Oi1oDtGl+._2Bo1t85_VyhNd8YitUHAWA, ._2_8Y46JKZpXyz7Oi1oDtGl+._1VOdqcwk-7Sq7U3PP5Ju9c {
    margin-top: 0.75rem;
}

._2Bo1t85_VyhNd8YitUHAWA, ._1VOdqcwk-7Sq7U3PP5Ju9c {
    font-size: 1.0625em;
}

._2Bo1t85_VyhNd8YitUHAWA, ._1VOdqcwk-7Sq7U3PP5Ju9c {
    font-size: 1em;
}

._1VOdqcwk-7Sq7U3PP5Ju9c {
    font-size: .9375em;
    color: #9491a5;
}

._2YcXRqTKON9cN8Se_5MZEH {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

._1u6CqnU-2h_E6ikPxOUwEK {
    margin-bottom: 0;
}

._1u6CqnU-2h_E6ikPxOUwEK+._1rNxvURxJtSma5-Kv-TdJR {
    margin-top: 0;
}

._1rNxvURxJtSma5-Kv-TdJR {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Volte-Semibold",sans-serif;
    font-size: 1.125em;
    color: #3f4ec5;
    transition: color .2s ease-in;
}

._2_lUSlU68ZyrqjOFUyzEJo {
    height: 0.75em;
    display: inline-block;
    transition: transform .2s ease-out;
}

svg {
    fill: currentColor;
}

._2_lUSlU68ZyrqjOFUyzEJo+._3fW9lE38acJheIoyYydgz8 {
    margin-left: 0.625em;
}

._3fW9lE38acJheIoyYydgz8 {
    display: inline-block;
}

._2YcXRqTKON9cN8Se_5MZEH+.AAwKtmJT1ct1vaXR_LHqr {
    margin-top: 2.5rem;
}

.AAwKtmJT1ct1vaXR_LHqr {
    grid: auto-flow / 1fr 1fr 1fr;
    grid-gap: 1.75rem;
}
.AAwKtmJT1ct1vaXR_LHqr {
    display: grid;
    grid-gap: 4rem;
}

._2nEV19cLer9ID_oy0Q3fej {
    max-width: 26rem;
}
._2nEV19cLer9ID_oy0Q3fej {
    display: flex;
    flex-direction: column;
}

.aqDMkktQQ5xUJm6z6cMbz {
    padding-top: 55%;
    position: relative;
    overflow: hidden;
    background-color: #3846b5;
    color: #fff;
}

._1F1nn0MKKtNT80szw2htEW {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .15s ease-in;
    transform-origin: center center;
}

img {
    max-width: 100%;
    height: auto;
}

.aqDMkktQQ5xUJm6z6cMbz+.Ys5jrLuC4V-eQmYO0xu-l {
    margin-top: 1.25rem;
}

.yetrU-OuawZx_x7g9Co2k {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9375em;
    line-height: 1.125em;
    letter-spacing: 1px;
    color: #3846b5;
    transition: color .2s ease-out;
}

.yetrU-OuawZx_x7g9Co2k+.aFqqU6ak3WkpwZhyFNvKB {
    margin-top: 0.5rem;
}

.aFqqU6ak3WkpwZhyFNvKB {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
}
.aFqqU6ak3WkpwZhyFNvKB, ._3xOzWecFJyMjSbMbiBnAAR {
    max-width: 28.125rem;
}

.aFqqU6ak3WkpwZhyFNvKB+._3xOzWecFJyMjSbMbiBnAAR {
    margin-top: 0.75rem;
}

._3xOzWecFJyMjSbMbiBnAAR {
    font-size: 1.125em;
    line-height: 1.5em;
}

._2nEV19cLer9ID_oy0Q3fej {
    max-width: 26rem;
}

._2nEV19cLer9ID_oy0Q3fej {
    display: flex;
    flex-direction: column;
}

.aqDMkktQQ5xUJm6z6cMbz {
    padding-top: 55%;
    position: relative;
    overflow: hidden;
    background-color: #3846b5;
    color: #fff;
}

._1F1nn0MKKtNT80szw2htEW {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .15s ease-in;
    transform-origin: center center;
}

.aqDMkktQQ5xUJm6z6cMbz+.Ys5jrLuC4V-eQmYO0xu-l {
    margin-top: 1.25rem;
}

.yetrU-OuawZx_x7g9Co2k {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9375em;
    line-height: 1.125em;
    letter-spacing: 1px;
    color: #3846b5;
    transition: color .2s ease-out;
}

.yetrU-OuawZx_x7g9Co2k+.aFqqU6ak3WkpwZhyFNvKB {
    margin-top: 0.5rem;
}

.aFqqU6ak3WkpwZhyFNvKB {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
}

.aFqqU6ak3WkpwZhyFNvKB a {
    text-decoration: none;
    color: #3f4ec5;
    transition: color .2s ease-in;
}

._2uASngNzjNbxe7soynUIjz {
    margin-top: 16.5rem;
}


._2uASngNzjNbxe7soynUIjz {
    margin-top: 11.75rem;
}
._2uASngNzjNbxe7soynUIjz {
    max-width: inherit;
    margin-top: inherit;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    padding-left: inherit;
    padding-right: inherit;
    margin-top: 9.75rem;
    background-color: #010743;
    position: relative;
    color: #fff;
    padding-bottom: 2.5rem;
}

._3zfQ9TiIOT7KLzqxKdb_06 {
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 12.5rem;
}

._3zfQ9TiIOT7KLzqxKdb_06 {
    position: absolute;
    right: 0;
    top: 0;
    width: 200%;
    height: 6rem;
    transform: translateY(-100%);
    user-select: none;
}

svg {
    fill: currentColor;
}
.jYuSt-HUPy6iOlIc3ZV0W {
    display: flex;
}


.jYuSt-HUPy6iOlIc3ZV0W {
    padding-left: 2rem;
    padding-right: 2rem;
}
.jYuSt-HUPy6iOlIc3ZV0W {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-x: hidden;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    color: currentColor;
}

.QSE4QFIh5U6Q74tF94ejY {
    width: 40rem;
    margin-right: 4.375rem;
}

.QSE4QFIh5U6Q74tF94ejY {
    width: 55%;
    margin-right: 3rem;
}

.QSE4QFIh5U6Q74tF94ejY {
    width: 50%;
    margin-right: 2rem;
    margin-bottom: 0;
}
.QSE4QFIh5U6Q74tF94ejY {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}
._3dVbPuBm6SZYDIXbRaaL8O {
    position: relative;
    z-index: 1;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

._3N3upb8qq4gWoNOYl2yOX_ {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

._3N3upb8qq4gWoNOYl2yOX_ {
    z-index: 1;
    position: relative;
}

.jYuSt-HUPy6iOlIc3ZV0W h2 {
    color: currentColor;
}

._1xlo7sb1WrOH1Mwog4ZfLT._2aTx05HFGRymNYM1mxdJvu {
    color: #fff;
}

._1xlo7sb1WrOH1Mwog4ZfLT._2aTx05HFGRymNYM1mxdJvu p {
    color: #fff;
}

.top7 {
    padding: 0.75em 1.75em;
    align-self: flex-start;
}

.top7 {
    background-color: #4656d6;
    color: #fff;
    border-radius: 0.125rem;
    padding: 0.75em 1.25em;
    font-family: "Volte-Semibold",sans-serif;
    text-decoration: none;
    font-size: 1.125em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease;
    border: 0;
}

[data-role='button']+._3f77cWEWZ_DcNDHJk7W5cA {
    margin-top: 1rem;
}

._390Q9lrGo-Ka-UKd4kKYpt {
    max-width: inherit;
    margin-top: inherit;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    padding-left: inherit;
    padding-right: inherit;
    background-color: #4656d6;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.YZ54ApE-1nacVhBZ_co6Y {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.YZ54ApE-1nacVhBZ_co6Y {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    z-index: 1;
}

._3sy2A3xf7aT8MFdMp6GQkj, ._389SnopnoUzZIqaXJdZhAu {
    max-width: 39rem;
}

._3sy2A3xf7aT8MFdMp6GQkj, ._389SnopnoUzZIqaXJdZhAu {
    max-width: 37rem;
}

._3sy2A3xf7aT8MFdMp6GQkj, ._389SnopnoUzZIqaXJdZhAu {
    max-width: 30rem;
    padding-bottom: 0;
}
._3sy2A3xf7aT8MFdMp6GQkj {
    padding-bottom: 6.5rem;
}

._389SnopnoUzZIqaXJdZhAu {
    display: none;
    min-height: 14rem;
}

._2Hz59PaxHTv0jmN_wD-Zbf {
    bottom: -5.25rem;
    left: 50%;
    right: inherit;
    height: inherit;
    width: 44rem;
    transform: translateX(5rem);
}


