body {
    font-family: "Lato", sans-serif;
    line-height: 1.3;
    color: #d4c6cd;
}


/* 
@media (min-width: 48rem) {
    .medias {
        margin-top: 5.625rem;
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
        margin-bottom: 6rem;
    }
}

@media (min-width: 64rem) {
    .medias {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.medias {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1.3125rem;
    padding-top: 2rem;
    margin-bottom: 7.5rem;
} */

.icon {
    /* max-width: 28rem;
   
    font-weight: lighter;
     */
    padding-left: 8px;
    transition: .4s ease-in;
}

.icon:hover {
    transition: .5s ease-out;
}

.section {
    background-color: #010743;
    overflow: hidden;
    position: relative;
    height: 320px;
    margin-top: -78px;
}


div {
    display: block;
}

@media (min-width: 70rem) {
    h1 {
        font-size: 3.625em;
        line-height: 1em;
    }
}

@media (min-width: 64rem) {
    h1 {
        font-size: 3.125em;
        line-height: 1em;
    }
}

h1 {
    font-size: 2.5em;
    line-height: 1em;
    letter-spacing: -.5px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Volte-Semibold", sans-serif;
    font-weight: 400;
    margin-bottom: 0.999rem;
} */

.colages {
    font-family: "Volte-Semibold", sans-serif;
    font-weight: bolder;
    font-size: 3.03rem;
    margin-left: 46px;
    line-height: 1.2;
    color: #ffff;
    margin-top: 55px;
    letter-spacing: .5px;
    margin-bottom: 9px;
}

.track {
    font-family: "Volte-Semibold", sans-serif;
    font-weight: loghter;
    font-size: 1.075rem;
    margin-left: 47px;
    line-height: 1.2;
    color: #ffff;
    margin-top: 1px;
    letter-spacing: .5px;
}

.front {
    font-weight: 800px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
}

.colage+.front {
    margin-top: 0.75rem;
    margin-left: 5px;
}

.colage,
.front {
    color: #fff;
    max-width: 37.5rem;
    margin-left: 5px;
}

@media (min-width: 48rem) {
    .contact {
        height: 4rem;
        top: 221px;
    }
}

.flex {
    flex: 1 0 auto;
    margin-top: 90px;
}

.contact {
    margin-top: 3.3999rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 2rem;
    fill: #ffff;
    /* user-select: none; */
    transform: scaleY(1.831);
}

.prod {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (min-width: 48rem) {
    .pic:hover .count {
        transform: scale(1.075);
    }
}

@media (min-width: 48rem) {
    .flip {
        padding-top: 4rem;
    }
}

.flip {
    padding-top: 5rem;
}

@media (min-width: 64rem) {
    section {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

section {
    max-width: 82.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 48rem) {
    .size {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}



div {
    display: block;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.3;
    color: #262224;
}

@media (min-width: 48rem) {
    .font {
        margin-left: auto;
    }
}

.font {
    position: relative;
    z-index: 1;
    display: inline-block;
    left: 220px;
    top: 0px;
}

.connect {
    background: none;
    border: 0;
    color: inherit;
    outline: inherit;
    font: inherit;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: color .3s ease;
}

.button,
.select {
    text-transform: none;
}

.button,
.input,
.optgroup,
.select,
.textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.button {
    appearance: auto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: (rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: (rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.blank {
    font-family: "Volte-Semibold", sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.blank1 {
    margin-left: -378px;
}

.junct {
    margin-left: 0.5rem;
    /* transform: .2s ease; */
    transition: .2s ease;
}

.svg {
    fill: currentColor;
}

.semantic:hover {
    color: #606ff9;
}


/* *,
*::before,
*::after {
    box-sizing: border-box;
}

.svg {
    width: 10;
    height: 5;
    fill: none;
}

.svg:not(:root) {
    overflow: hidden;
} */

@media (min-width: 48rem) {
    .flop {
        max-height: 20 rem;
        overflow-y: scroll;
        position: absolute;
        top: 100%;
        left: inherit;
        right: 0;
    }
}

.flop {
    max-height: 20rem;
    overflow-y: scroll;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    border-radius: 0.125rem;
    padding: 0.625rem 1rem;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 33%), 2px 4px 15px 2px rgb(0 0 0 / 13%);
    text-transform: uppercase;
    font-size: .875em;
    line-height: 1em;
    letter-spacing: 1px;
    font-family: "Volte-Semibold", sans-serif;
}

.semantic {
    display: block;
    text-decoration: none;
    color: #4b5ee6;
    padding-top: 0.375 rem;
    padding-bottom: 0.375 rem;
}




/* 
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
} */

@media (min-width: 48rem) {
    .size+.calc {
        margin-top: 3rem;
    }
}

.size+.calc {
    margin-top: 3rem;
}

@media (min-width: 48rem) {
    .calc {
        grid: 1fr 1fr 1fr;
        grid-gap: 2rem 1.75rem;
        margin-left: 15px;
    }
    .calc {
        display: grid;
        grid-gap: 17rem;
    }
}

@media (min-width: 48rem) {
    .calc [data-interacts-resourcegriditem]:first-child {
        grid-row: 1 / 2;
        grid-column: 1 / 4;
        margin-left: 240px;
    }
}

@media (min-width: 64rem) {
    .pass.palc {
        grid-column-gap: 3rem;
    }
}

@media (min-width: 48rem) {
    .pass.palc {
        /* max-width: inherit;
        display: grid;
        grid-template-columns: 1fr minmax(0, 1fr);
        grid-template-rows: max-content;
        grid-column-gap: 1.75rem; */
    }
}

@media (min-width: 48rem) {
    .pass {
        max-width: 26rem;
        margin-top: -50px;
    }
}

.pass1 {
    margin-left: 253px;
}

.pass {
    display: flex;
    flex-direction: column;
    width: 167px;
    margin-top: -140px;
}

@media (min-width: 64rem) {
    .pass.palc .pic {
        grid-column: 1 / 2;
    }
}

@media (min-width: 48rem) {
    .pass.palc .pic {
        border-radius: 1.0rem;
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 33%), 2px 4px 15px 2px rgb(0 0 0 / 13%);
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        width: 535px;
        height: 623px;
        right: 227px;
        top: 60px;
        left: -222px
    }
}

.pic {
    padding-top: 55%;
    position: relative;
    overflow: hidden;
    background-color: #3846b5;
    color: #fff;
    right: 226px;
    height: 220px;
    width: 400px
}

@media (min-width: 48rem) {
    .clock {
        top: 10px;
        right: 9.75rem;
        z-index: 1;
        width: 500px;
    }
}

@media (min-width: 48rem) {
    .clock,
    .balc {
        display: inherit;
        position: absolute;
        z-index: 1;
        left: 4.675rem;
        text-shadow: 0.125rem 0.125rem 0.75rem #3846b5;
    }
}

@media (min-width: 48rem) {
    .balc {
        bottom: 3.00rem;
        width: 13rem;
        height: 44px;
        top: 549px;
        left: 37px;
    }
}

@media (min-width: 48rem) {
    .pass.palc .pic+.files {
        margin-top: -567px;
    }
}

@media (min-width: 64rem) {
    .pass.palc.files {
        grid-column: 1 / 6;
    }
}

@media (min-width: 48rem) {
    .pass.palc .files {
        grid-row: 1/2;
        grid-column: 2 / 3;
        padding-bottom: 0.0044rem;
        padding-left: 23rem;
        width: 900px;
    }
}

.pic+.files {
    margin-top: 1.25rem;
}

.transfer1 {
    margin-left: -223px;
    text-decoration: none!important;
    color: #3f4ec5;
    transition: color .2s ease-in;
    font-family: "Lato", sans-serif;
    font-size: 1.31em;
    font-weight: bolder;
}

.transfer1:hover {
    color: #263bda;
    opacity: 1;
    /* text-shadow: 0.125rem 0.125rem 0.75rem #3846b5; */
    transition: color .2s ease-out;
}

.transfer2:hover {
    color: #263bda;
    opacity: 1;
    transition: color .2s ease-out;
}

.aclick a:hover {
    color: #263bda;
    opacity: 1;
    transition: color .2s ease-out;
}

.transfer:hover {
    color: #263bda;
    opacity: 1;
    transition: color .2s ease-out;
}

.transfer2 {
    margin-left: -224px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9375em;
    line-height: 1.125em;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    transition: color .2s ease-in;
}

.transfer {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9375em;
    line-height: 1.125em;
    letter-spacing: 1px;
    color: #3846b5;
    transition: color .2s ease-in;
}

@media (min-width: 64rem) {
    .pass.palc .aclick {
        font-size: 3.375em;
        line-height: 1.0625em;
        max-width: 399px;
        margin-top: 20px;
    }
}

@media (min-width: 48rem) {
    .pass.palc .aclick {
        font-size: 3.375em;
        line-height: 1.0625em;
    }
}

.pass.palc .aclick {
    font-size: 1.25em;
    line-height: 2.205em;
    letter-spacing: .5px;
    margin-top: 13px;
}

.transfer+.aclick {
    margin-top: 0.5rem;
}


/* .aclick {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    text-decoration: none;

} */

@media (min-width: 64rem) {
    .frick.pop {
        max-height: 18rem;
    }
}

@media (min-width: 48rem) {
    .frick.pop {
        /* max-height: 29.399rem; */
        position: relative;
        overflow: hidden;
        max-width: 455px;
    }
}

.aclick+.frick {
    margin-top: 1.115rem;
}

.frick1 {
    color: #171718;
    font-size: 1.10em;
    line-height: 1.5em;
    width: 420px;
    margin-left: -225px;
    margin-bottom: -9%;
}

.frick {
    /* font-size: 1.00em;
    line-height: 1.5em; */
}

.aclick,
.frick {
    max-width: 28.125rem;
    /* margin-left: -200px; */
}

@media (min-width: 64rem) {
    .frick.pop::after {
        height: 3em;
    }
}

@media (min-width: 48rem) {
    .frick.pop::after {
        content: '';
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 3em;
        background: linear-gradient(rgba(255, 255, 255, 0), #fff 50%);
    }
}

.frick+[data-interacts-linkcta] {
    margin-top: 7.25rem;
}

.luminate {
    color: #3846b5;
    transition: color .2s ease;
    text-decoration: none;
    display: inline-flex;
    align-self: flex-start;
    align-items: center;
    font-size: 1.055em;
    margin-top: 37px;
}

.crip {
    font-family: "Volte-Semibold", sans-serif;
    display: block;
    font-size: 1.909rem;
    font-weight: bolder;
    letter-spacing: .5px;
    line-height: 0.9;
    margin-left: -2.25rem;
    width: 419px;
    margin-top: 17px
}

.wrap {
    font-family: "Volte-Semibold", sans-serif;
    display: block;
    font-size: 21px;
    font-weight: lighter;
    line-height: 1.6;
    margin-left: -38px;
    /* letter-spacing: .5px; */
}

.format {
    height: 1rem;
    width: 1.5rem;
    margin-left: 0.5rem;
}

@media (min-width: 48rem) {
    .pass {
        max-width: 26rem;
    }
}


/* .pass {
    display: flex;
    flex-direction: column;
} */

.pic {
    padding-top: 55%;
    position: relative;
    overflow: hidden;
    background-color: #3846b5;
    color: #fff;
}

.count {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .15s ease-in;
    transform-origin: center center;
}

img {
    max-width: 100%;
    height: auto;
}

.pic+.files {
    margin-top: 1.25rem;
}

@media (min-width: 70rem) {
    h3 {
        font-size: 2.5em;
        line-height: 1.15em;
    }
}

@media (min-width: 64rem) {
    h3 {
        font-size: 2.25em;
        line-height: 1.15em;
    }
}

h3 {
    font-size: 1.9375em;
    line-height: 1.2222em;
    letter-spacing: -.5px;
}

section.sock:first-child {
    margin-top: 0px;
}

.sock1 {
    margin-top: 23px;
}

.sock {
    font-size: 1.20em;
    line-height: 1.4em;
    display: block;
    width: 433px;
    padding-bottom: 10px;
    margin-block-start: 0.11em;
    margin-block-end: 0.11em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sock+p {
    margin-top: 0.6999em;
}

section .sock {
    color: #5c5969;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media (min-width: 48rem) {
    .pass {
        max-width: 26rem;
    }
}

.pass {
    display: flex;
    flex-direction: column;
}

.pic+.files {
    margin-top: 1.25rem;
    right: 55px;
}


/* .aclick {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
} */

.aclick a {
    transition: color .2s ease-in;
    text-decoration: none;
    color: #3f4ec5;
    transition: color .2s ease-in;
    font-weight: bolder;
    font-size: 50px;
}

@media (min-width: 48rem) {
    .over {
        font-style: italic;
        font-family: "Lato", sans-serif;
        font-size: 1em;
        line-height: 1em;
        opacity: .9;
        margin-left: -1px;
        margin-top: -8px;
    }
}

@media (min-width: 48rem) {
    .pass.palc .pic::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset 0 0 7.5rem 2.5rem rgb(56 70 181 / 85%);
        background-color: rgba(56, 70, 181, 0.33);
        mix-blend-mode: multiply;
    }
}

@media (min-width: 48rem) {
    .attire {
        margin-top: 0.25rem;
        margin-right: 88px;
    }
}


/* Bottom box */

.tablet {
    background-color: #4656D6;
    /* margin-left:200px;
    margin-top:100px;*/
    margin-top: 100px;
    height: 290px;
    width: 93% !important;
    box-sizing: border-box;
    box-shadow: 0 44px 30px -20px rgb(1 7 67 / 25%), 0 30px 21px -20px rgb(1 7 67 / 40%);
    overflow: hidden !important;
    margin-bottom: -3%!important;
}

.getstart {
    margin-top: 20px;
    ;
    height: 50px;
    width: 180px;
    background-color: #010743;
    font-size: 18px;
    /* margin-bottom: 5px; */
    border-radius: 1px;
    font-weight: bold;
}

.getstart:hover {
    color: white;
    opacity: 0.8;
}

.tablet .tablets1 {
    /* top: 50%;
      left: 50%; */
    text-align: center;
    padding-top: 50px;
    color: white;
    letter-spacing: 1px;
    padding-left: 379px;
}

.tablet .tablets1 .head4 {
    font-weight: bold;
    font-size: 35px;
}

.head4 {
    width: 812px;
    margin-left: -58px;
}

.tablet .tablets1 .quote {
    padding-top: 10px;
    font-size: 22px;
    opacity: 0.8;
    font-family: "Lato", sans-serif;
}

.quote {
    margin-right: -14rem;
}

.tablet svg {
    padding-left: 50px;
    margin-right: -14rem;
}