/* ---------------------------termcontainer-1------------------------------ */

/* .termcontainer1 {
  background-color: #010743;
  overflow: hidden;
  height: 650px;
  position: relative;
  z-index: -1;
  
} */
/* .termladyimg {
  position: relative;
  margin-top: 100px;
  margin-left: 0px;
  z-index: 1;
}
.termstext {
  padding-left: 100px;
  margin-top: 120px;
  color: white;
  font-family: "Lato", sans-serif;
}

.termstext h1 {
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 1.5px;
  color: #fff;
}

.termstext .termsparag {
  font-size: 1.12em;
  line-height: 1.5em;
  margin-top: 20px;
  color: #fff;
}
.wavelenth {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 4rem;
  fill: #fff;
  margin-top: -50px;
  user-select: none;
  transform: scaleY(1.001);
} */
/* ---------------------------termcontainer-1 end------------------------------ */
/* ----------------------------------- */
/* .mainmenu {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
} */
/* .sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
} */

/* .termcontainer2 {
  margin-top: 100px;
  position: relative;
} */

/* .termcontainer2 .sidemenu {
  width: 25%;
  float: left;
  overflow-y: scroll;
  height: 630px;
  position: sticky !important;
  top: 0;
  bottom: 0;
} */
/* .termcontainer2 .sidemenu ul li {
  list-style-type: none;
  margin-top: 1.5rem;
  line-height: 1.375em;
  color: #4656d6;
} */
/* .termcontainer2 .date {
  margin: 25px 0px;
}
.termcontainer2 .date h5 {
  color: #413d46;
  font-size: 1.25em;
}

.termcontainer2 .date .link {
  color: #3145d8;
  text-decoration: underline;
}
.termcontainer2 .date .link:hover {
  text-decoration: none;
} */
/* .termcontainer2 .bodymenu {
  width: 75%;
  float: left;
  padding: 30px;
} */
/* .p1 {
  color: #413d46;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  line-height: 1.75em;
} */
/* .menutable {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */

/* .bodymenu ul li {
  list-style-type: disc;
} */
/* .button-line {
  position: relative;
  top: 25px;
  right: 0;
  border: 0;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 30rem;
  background-color: #cdccd9;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.button-line::before {
  transform: scaleY(0);
}
.button-line::after {
  transform: rotate(90deg);
}
.button-line::before,
.button-line::after {
  content: "";
  background-color: currentColor;
  width: 0.125rem;
  height: 50%;
  border-radius: 0.125rem;
  position: absolute;
  transform-origin: center center;
  transition: transform 0.1s ease-in-out;
  top: 25%;
  left: 1.0625rem;
} */
/* h1 {
  font-family: "Volte-Semibold", sans-serif;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 1.5px;
}

h4 {
  font-family: "Volte-Semibold", sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1.1875em;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
} */
/* .simply {
  margin-left: 30px;
}
.simplyput {
  color: #5c5969;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  margin-top: 1.875rem;
} */

/* .p2 {
  font-family: "Lato", sans-serif;
  line-height: 1.3em;
  color: #262224;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px 0px;
} */

/* .accordion-item h3 {
  font-family: "Volte-Semibold", sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
} */

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

/* .accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1 rem 1.25 rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
} */
