<div class="container-fluid" class="termcontainer">
    <div class="row termsrow">
        <div class=" col-sm-6 termstext">
            <h1 class="">Your Privacy</h1>
            <div class="termsparag">
                <p>At MyMediTales, you come first. You can trust us to keep your information safe, secure, and in your control.</p>
                <p>We believe no one should have to trade their privacy for access to services. We will always be transparent about the data we collect, and how we use it in making our services work better for you. You can read our full Privacy Policy below,
                    with simple summaries for each section.</p>
            </div>
        </div>
        <div class=" col-sm-6 _1hcqLe5VqDq6Vqk31w9-mC"><img class="termladyimg" width="1000" height="1000" loading="lazy" src="https://prismic-io.s3.amazonaws.com/or-marketing-prod/f3cd85aa-1853-48f8-81ea-e610d8645d12_hero-image-privacy.svg" alt="Illustration of a woman who is incognito.">
        </div>
        <svg fill="none" style="margin-top:-88px !important;" viewBox="0 0 1440 81" preserveAspectRatio="none" class="wavelenth">
            <path d="M1440 81V17.182c-486.269 178.061-969.884-84.228-1440 0V81h1440z"></path>
        </svg>
    </div>
</div>

<div class="container-fluid termcontainer2 ">
    <div class="menu  sticky">
        <div class="menutable">TABLE OF CONTENTS</div>
        <hr>
        <ul>
            <li><a class="link" href="#acceptance_of_privacy_policy" aria-label="Scroll to Acceptance of Privacy Policy">Acceptance of Privacy Policy</a></li>
            <li><a class="link" href="#personal_information_provided_by_you" aria-label="Scroll to Acceptance of Privacy Policy"> DESCRIPTION OF SERVICE</a></li>
            <li><a class="link" href="#automatically_collected_information__anonymous_information" aria-label="Scroll to Automatically Collected Information &amp; Anonymous Information">Automatically Collected Information &amp; Anonymous Information</a></li>
            <li><a class="link" href="#use__sharing_of_personal_information" aria-label="Scroll to Use &amp; Sharing of Personal Information">Use &amp; Sharing of Personal Information</a></li>
            <li><a class="link" href="#referralslinks" aria-label="Scroll to Referrals/Links">Referrals/Links</a></li>
            <li><a class="link" href="#security" aria-label="Scroll to Security">Security</a></li>
            <li><a class="link" href="#childrens_privacy_policy" aria-label="Scroll to Children's Privacy Policy">Children's Privacy Policy</a></li>
            <li><a class="link" href="#important_notices_to_nonunited_states_residents" aria-label="Scroll to Important Notices to Non-United States Residents">Important Notices to Non-United States Residents</a></li>
            <li><a class="link" href="#changing_or_deleting_your_information" aria-label="Scroll to Changing or Deleting Your Information">Changing or Deleting Your Information</a></li>
            <li><a class="link" href="#policy_updates" aria-label="Scroll to Policy Updates">Policy Updates</a></li>
            <li><a class="link" href="#questions" aria-label="Scroll to Questions">Questions</a></li>
        </ul>
    </div>

    <div class="main">
        <div>
            <h1>Privacy Page</h1>
            <div>Dated: Oct 23, 2020</div><a href="/policies/archive" class="link">See previous versions of this policy</a>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="accordion" id="myAccordion">
                    <div class="accordion-item">
                        <div class="row">
                            <div class="col-sm-11">
                                <p class="p1">We are committed to maintaining the privacy and security of your personal information, and we appreciate that medical information is sensitive. This Privacy Policy describes how MyMediTales, LLC ("MyMediTales," "we" or "us")
                                    may collect, use and share your personal information when you visit the MyMediTales website at www.MyMediTales.com or use the MyMediTales mobile application to access MyMediTales's personal health record (collectively, the
                                    "Services"). This Privacy Policy does not address personal information that you provide to us in other contexts (for example, through a business relationship unrelated to the Services).</p>
                            </div>
                            <div class="col-sm-1">
                                <button class="_3WER2zM2-Jf60VaEu68kGm line"></button>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-sm-7">
                                <h3>Acceptance of Privacy Policy</h3>
                                <p class="p1">By using our Services, you say to us that you agree to the terms of this Privacy Policy. If you do not agree to the terms of this Privacy Policy, please do not use the Services. Your continued use of the Services after
                                    we make changes to this Privacy Policy will mean that you agree to those changes.</p>
                            </div>
                            <div class="col-sm-4">
                                <p class="simplyput"> Simply Put...</p>
                                <p class="p2">Visiting our website, mobile app, and personal health record means you're subject to our Privacy Policy.</p>

                            </div>
                            <div class="col-sm-1">
                                <button class="_3WER2zM2-Jf60VaEu68kGm"></button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <br>
        <hr>
        <!-- ----------------2nd row----------------- -->
        <div class="row">
            <div class="col-sm-7">
                <h3>Personal Information Provided by You</h3>
                <p class="p1"><strong>Through our Website</strong></p>
                <p class="p1">We collect your personal information through our website when you choose to provide that information, such as when you:</p>
                <ul>
                    <li>submit information through the "Contact" page of our website,</li>
                    <li>register on our website,</li>
                    <li>respond to our communications (for example, when you respond to an email from us),</li>
                    <li>submit your email address through our website's "Get Involved" feature, or</li>
                    <li>participate in another one of our website features</li>
                </ul>
                <p class="p1">The personal information that we collect can include your:</p>
                <ul>
                    <li>name,</li>
                    <li>email address,</li>
                    <li>phone number, or</li>
                    <li>mailing address</li>
                </ul>
                <p class="p1">When you sign up or register on our website, we may ask you for your name, email address, mailing address, phone number or other information, but you may still visit our website without providing that information.</p>
                <p class="p1"><strong>Through our mobile application and personal health record</strong></p>
                <p class="p1">Our mobile application and personal health record collect your personal information when you create a new account: </p>
                <ul>
                    <li>First Name</li>
                    <li>Last Name</li>
                    <li>Date of Birth</li>
                    <li>Gender</li>
                    <li>Address</li>
                    <li>Phone Number</li>
                    <li>Email Address</li>
                </ul>
                <p class="p1">In addition, we collect and keep your medical information through the personal health record and sync your medical record information from your healthcare provider or another third-party source using our HealthFeed feature.</p>
            </div>
            <div class="col-sm-4">
                <p class="simplyput"> Simply Put...</p>
                <p class="p2">We collect your registration and user account information. We also collect information when you choose to communicate with us or voluntarily engage with website or mobile application features. Our servers collect log information used to
                    make the website faster and better. You can choose not to share information with us, but your experience using our Services may be limited.</p>

            </div>
            <div class="col-sm-1">
                <button class="_3WER2zM2-Jf60VaEu68kGm"></button>
            </div>
        </div>
        <br>
        <hr>

        <!-- ----------------3nd row----------------- -->
        <div class="row">
            <div class="col-sm-7">
                <h3>Automatically Collected Information &amp; Anonymous Information</h3>
                <p class="p1"><strong>Aggregated Data</strong></p>
                <p class="p1">We collect aggregate inquiries for internal reporting and also count, track, and aggregate each visitor's activity into our analysis of general traffic flow at our website. To make sure this happens, we may merge information about you
                    into aggregated group data. In some cases, we may remove personal identifiers from personal information and maintain it in aggregate form that may later be combined with other information to generate anonymous, aggregated statistical
                    information. That anonymous group data may be shared with our affiliates, business partners, service providers and/or vendors; if it is shared, we will not disclose your individual identity.</p>
                <p class="p1"><strong>Web Server Logs and IP Addresses</strong></p>
                <p class="p1">An Internet Protocol ("IP") address is a number that automatically identifies the computer/machine you have used to access the Internet. The IP address enables our server to send you the web pages that you want to visit, and it may identify
                    the server owned by your Internet Service Provider. We may use IP addresses to conduct website analyses and performance reviews and to administer our website.</p>
                <p class="p1"><strong>Cookies and Web Beacons</strong></p>
                <p class="p1">Cookies are pieces of information that a website transfers to a user's computer for purposes of storing information about the user's preferences. Cookies do not actually personally identify users, although they do identify a user's computer.
                    Many websites use cookies as a standard practice to provide useful features when a user visits the website, and most web browsers are set up to accept cookies. We use cookies to improve your online experience when visiting the website.
                    You can set your browser to refuse cookies, but some portions of our website may not work properly if you refuse cookies. Some of our website's web pages may use web beacons along with cookies to compile aggregate statistics about
                    website usage. A web beacon is an electronic image (also referred to as an "action tag," "single-pixel," or "clear GIF") that is commonly used to track the traffic patterns of users from one web page to another in order to maximize
                    web traffic flow and to otherwise analyze the effectiveness of our website. Some web beacons may be unusable if you elect to reject their associated cookies.</p>
            </div>
            <div class="col-sm-4">
                <p class="simplyput"> Simply Put...</p>
                <p class="p2">Each time you come to our website, we collect some information to improve the overall quality of your online experience. To remember you, our system will give you a cookie. It's safe.</p>

            </div>
            <div class="col-sm-1">
                <button class="_3WER2zM2-Jf60VaEu68kGm"></button>
            </div>
        </div>
        <br>
        <hr>

        <!-- ----------------4nd row----------------- -->
        <div class="row">
            <div class="col-sm-7">
                <h3 id="MyMediTales_user_agreement">Use &amp; Sharing of Personal InformationS</h3>
                <p class="p1">We will not sell, rent, license, or trade your personal information with third parties for their own direct marketing use unless you expressly tell us it is okay to do so. Unless you give us your permission, we will not share your personal
                    information other than as stated in this Privacy Policy.</p>
                <p class="p1">We may use the information we collect from you when you sign up, register, respond to a survey or marketing communication, surf our website, or use certain other features of the Services in the following ways:</p>
                <ul>
                    <li>To personalize your experience on the website and to allow us to deliver content and product offerings that interest you.</li>
                    <li>To allow us to better respond to your customer service requests.</li>
                    <li>To quickly process your requested transactions.</li>
                    <li>To administer a promotion, survey or other feature of our website.</li>
                </ul>
                <p class="p1"><strong>You Control How Your Medical Information Is Shared</strong></p>
                <p class="p1">When you use our personal health record, you can decide whom you want to be able to see your medical information (spouse, family members, etc.) by using the data sharing options in your Account Settings</p>
                <p class="p1"><strong>Registration Information, Portal Information and Portal Credentials</strong></p>
                <p class="p1">Certain areas and features of our website are available to you without registration. However, other features of our website or the Services may require registration, which involves giving us your email address, a password and a username
                    (the "Registration Information"). In order to fully benefit from our Services, you also must provide your third-party health portal credentials ("Portal Credentials") to allow us to access your health data at those other healthcare
                    providers' organizations ("Portal Information") for your use.</p>
                <p class="p1">From time to time we may request other personal information to provide you with other benefits of the Services. In those instances, you will be given the opportunity to provide or not provide that information, and it will be used only
                    for that purpose. MyMediTales may create anonymous or aggregate personal information and share that data only in a non-personally identifiable manner to:</p>
                <ul>
                    <li>Organizations approved by us that conduct research into health; and</li>
                    <li>Users of the Services for purposes of comparison of their personal health situations relative to others.</li>
                </ul>
                <p class="p1">That information does not identify you individually. Access to your Registration Information, Portal Credentials, Portal Information and any other personal information you provide is protected by our specific internal procedures and safeguards
                    restricting access to that information, so that we can ensure it is only used to operate, develop or improve the Services.</p>
                <p class="p1"><strong>Information Shared with Third Parties Assisting in Our Operations</strong></p>
                <p class="p1">We may share your personal information under confidentiality agreements with other companies that provide products and services on our behalf, such as those:</p>
                <ul>
                    <li>providing research,</li>
                    <li>providing marketing services,</li>
                    <li>delivering goods or services,</li>
                    <li>providing cloud hosting services,</li>
                    <li>administering promotions,</li>
                    <li>analyzing data and usage of the Services,</li>
                    <li>processing payments,</li>
                    <li>operating our website, mobile application or personal health record, or</li>
                    <li>providing support and maintenance services for the Services, as well as legal, regulatory, audit and other professional advisors.</li>
                </ul>
                <p class="p1">These companies (described above) may use your personal information to assist us in our operations. However, these companies do not have any independent right to share your information.</p>
                <p class="p1"><strong>Information Shared Under Special Circumstances</strong></p>
                <p class="p1">We may provide information about you:</p>
                <ul class="size">
                    <li>to respond to subpoenas, court orders, legal processes or governmental regulations,</li>
                    <li>to establish or use our legal rights or defend against legal claims,</li>
                    <li>to investigate, prevent or take action regarding illegal activities, suspected fraud, or situations involving potential threats to the physical safety of any person, or</li>
                    <li>as otherwise required by law.</li>
                </ul>
                <p class="p1"><strong>Business Transfers</strong></p>
                <p class="p1">We may share your personal information with other businesses in connection with the sale, assignment, merger or other transfer of all or a portion of our business to those businesses. We will require those businesses to honor the rules
                    of this Privacy Policy.</p>
                <p class="p1"><strong>Dormant, Closed or Terminated Accounts</strong></p>
                <p class="p1">If your account is unused for an extended period, we may suspend or “lockdown” your account in order to better safeguard your personal information, and we will notify you when that occurs. If your account is suspended because it is unused,
                    we will retain the personal information in your account for two years.&nbsp; At the end of that two-year period, we will delete the personal information in your account in order to better protect your privacy. Prior to deletion of
                    your personal information, we will attempt to notify you.</p>
                <p class="p1">If your account is closed by you or terminated by us in accordance with our Terms of Service, we will promptly delete the personal information in your account, with the exception of a disclosure log that records how you shared the information
                    in your account with third parties.&nbsp; The disclosure log will be maintained only for so long as is necessary for our business purposes and will be deleted as soon as practicable, in accordance with our record retention policies.
                    You may close your account and request deletion of your data at any time by contacting us at <a href="mailto:privacy@MyMediTales.com" target="_blank" rel="noopener">privacy@MyMediTales.com</a>.</p>
            </div>
            <div class="col-sm-4">
                <p class="simplyput"> Simply Put...</p>
                <p class="p2">We do not sell your information to anyone. However, we collect information to make our Services useful for you and to provide a personalized experience. We may share information so that we can provide our Services, and we may share information
                    where required by law. We may also share information with third parties that help us provide services to you. You decide how your medical information is shared.</p>

            </div>
            <div class="col-sm-1">
                <button class="_3WER2zM2-Jf60VaEu68kGm"></button>
            </div>
        </div>
        <br>
        <hr>


        <!-- ----------------5th row----------------- -->
        <div class="row">
            <div class="col-sm-7">
                <h3>Referrals/Links</h3>
                <p class="p1">Our website may contain links to third-party websites that may offer information of interest. This Privacy Policy does not apply to those websites, and we recommend reviewing those websites' privacy policies individually.</p>
            </div>
            <div class="col-sm-4">
                <p class="simplyput"> Simply Put...</p>
                <p class="p2">Our Privacy Policy only applies to our website, mobile application, and personal health record. It does not apply to other websites, even if we link to those websites.</p>

            </div>
            <div class="col-sm-1">
                <button class="_3WER2zM2-Jf60VaEu68kGm"></button>
            </div>
        </div>
        <br>
        <hr>

        <!-- ----------------6th row----------------- -->
        <div class="row">
            <div class="col-sm-7">
                <h3>Security</h3>
                <p class="p1">We understand that storing our data in a secure manner is important. We store your personal information and other data using industry standard physical, technical and administrative safeguards to secure data against foreseeable risks,
                    such as unauthorized use, access, disclosure, destruction or modification. Please note, however, that while we have tried to create a secure and reliable website for users, the confidentiality of any communication or material transmitted
                    to/from our website or via email cannot be guaranteed.</p>
                <p class="p1"><strong>Response to "Do Not Track" Signals</strong></p>
                <p class="p1">Some Internet browsers include the ability to transmit "Do Not Track" signals. Since uniform standards for "Do Not Track" signals have not yet been adopted, we do not process or respond to "Do Not Track" signals.</p>
            </div>
            <div class="col-sm-4">
                <p class="simplyput"> Simply Put...</p>
                <p class="p2">We protect your personal information in a number of important ways. However, the confidentiality of information transmitted over the Internet can never be guaranteed.</p>

            </div>
            <div class="col-sm-1">
                <button class="_3WER2zM2-Jf60VaEu68kGm"></button>
            </div>
        </div>
        <br>
        <hr>

        <!-- ----------------7th row----------------- -->
        <div class="row">
            <div class="col-sm-7">
                <h3>[Children's Privacy Policy]</h3>
                <p class="p1"><strong>Under Age 13</strong></p>
                <p class="p1">We understand the importance of protecting children's privacy in the interactive online world. Our website is not designed for, or intentionally targeted at, children under 13 years of age. It is not our policy to intentionally collect
                    or maintain information about anyone under the age of 13. No one under the age of 13 should submit any personal information to us or our website.</p>
                <p class="p1"><strong>Under Age 18</strong></p>
                <p class="p1">Minors under 18 years of age may have the personal information that they have provided to us through our website deleted by sending an email to privacy@MyMediTales.com requesting deletion. Please note that, while we make reasonable efforts
                    to comply with those requests, deletion of your personal information does not guarantee complete and comprehensive removal of that data from all systems.</p>
            </div>
            <div class="col-sm-4">
                <p class="simplyput"> Simply Put...</p>
                <p class="p2">You are not allowed to register or use our Services if you are under the age of 13. If you are between 13 and 18 years old, you can request deletion of your personal information by emailing us at <a href="mailto:privacy@MyMediTales.com">privacy@MyMediTales.com</a></p>

            </div>
            <div class="col-sm-1">
                <button class="_3WER2zM2-Jf60VaEu68kGm"></button>
            </div>
        </div>
        <br>
        <hr>

        <!-- ----------------8th row----------------- -->
        <div class="row">
            <div class="col-sm-7">
                <h3 id="acceptance_of_privacy_policy">Important Notices to Non-United States Residents</h3>

                <p class="p1">It is important to note that our website is operated in the United States. If you are located outside of the United States, please be aware that any personal information you provide to us will be transferred to the United States. By using
                    our website and/or providing us with your personal information, you agree to this transfer.</p>
            </div>
            <div class="col-sm-4">
                <p class="simplyput"> Simply Put...</p>
                <p class="p2">Your personal information will be transferred to and stored in the United States.</p>

            </div>
            <div class="col-sm-1">
                <button class="_3WER2zM2-Jf60VaEu68kGm"></button>
            </div>
        </div>
        <br>
        <hr>
        <!-- ----------------9th row----------------- -->
        <div class="row">
            <div class="col-sm-7">
                <h3>Changing or Deleting Your Information</h3>
                <p class="p1">You may review and request changes to your personal information that we have collected.</p>
                <p class="p1">You may also request deletion of your personal information from our databases in order to close your account and prevent receipt of future communications.&nbsp;When you choose to delete your account, all of your personal information associated
                    with the account is deleted immediately, and is no longer accessible by you or MyMediTales.&nbsp;The only data that is not deleted is the Disclosure Log information that we keep for audit and legal purposes.</p>
                <p class="p1"><br>You may submit requests to change or delete your personal information using either of the following options:</p>
                <p class="p1">You can send your request via email to&nbsp;<a href="mailto:privacy@MyMediTales.com" target="_blank" rel="noopener">privacy@MyMediTales.com</a>.</p>
                <p class="p1">You can mail your request to the following postal address:<br>MyMediTales LLC<br>599 Lexington Ave,<br>New York, NY 10022</p>
            </div>
            <div class="col-sm-4">
                <p class="simplyput"> Simply Put...</p>
                <p class="p2">We cannot guarantee certain things.</p>

            </div>
            <div class="col-sm-1">
                <button class="_3WER2zM2-Jf60VaEu68kGm"></button>
            </div>
        </div>
        <br>
        <hr>

        <!-- ----------------9th row----------------- -->
        <div class="row">
            <div class="col-sm-11">
                <h3>Questions</h3>
                <p class="p1">If you have any questions about this Privacy Policy or about our handling of your personal information, please contact us at: (800) 440-6598 or <a href="mailto:privacy@MyMediTales.com">privacy@MyMediTales.com</a></p>
            </div>
            <div class="col-sm-1">
                <button class="_3WER2zM2-Jf60VaEu68kGm"></button>
            </div>
        </div>
        <br>
        <hr>
    </div>
</div>