/* 


.community {
    overflow: hidden;
    background-color: #010743;
    position: relative;
    z-index: -1;
    padding-top: 50px;
}

.full-community h1 {
    font-size: 49px;
    font-weight: 500;
    font-family: "Volte-Semibold",sans-serif;
    color: #fff;
    margin-top: 30px;
    margin-left: 20px;
}

.full-community p {
    font-family: "Lato",sans-serif;
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
}

.full-community .our  {
    margin-top: 30px;
}

.community .community-wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 5rem;
    fill: #fff;
}

.half-community img {
    margin-top: -400px;
    margin-left: -70px;
    z-index: -2;
}

.half-community .community-mango {
    fill: #FFA51F;
    width: 605px;
    height: 580px;
    margin-left: -40px;
    margin-bottom:-180px;
    z-index: 1;
}

.men {
    position: relative;
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 120px;
}

.wow {
    width: 120%;
    height: 570px;
    position: relative;
    z-index: 1;
    margin-left: -64px;
}

.text .potrait {
    font-size: 51px;
    letter-spacing: -.5px;
    font-family: "Lato",sans-serif;
    font-weight: 900;
    color: #262224;
    display: block;
    margin-bottom: 30px;
}

.text .suffering {
    font-size: 20px;
    font-family: "Lato",sans-serif;
    display: block;
    color: #262224;
}

.text .team {
    color: #5c5969;
    font-family: "Lato",sans-serif;
    font-size: 17px;
    font-family: 600;
    margin-top: 40px;
}

.text a {
    padding: 12px 28px;
    background-color: #4656d6;
    color: #fff;
    border-radius: 2px;
    font-family: "Lato",sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    margin-top: 20px;
}

.text a:hover {
    opacity: 0.9;
}

.text {
    padding-left: 80px;
}


.white .breaking {
    font-size: 54px;
    color: #262224;
    letter-spacing: -.5px;
    font-family: "Lato",sans-serif;
    font-weight: 800;
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: -38px;
}

.white1 h4 {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: "Lato",sans-serif;
}

.white1 p {
    font-size: 16px;
    color: #77748b;
    margin-bottom: 0;
    margin-top: 15px;
    font-family: "Lato",sans-serif;
}

.modals {
    padding: 20px 20px;
    margin-left: -10px;
}

.modals1 {
    padding: 20px 0px;
}

.modals2 {
    padding: 20px 0px;
}

.modals3 {
    padding: 20px 0px;
}

.modals4 {
    padding: 20px 0px;
}

.white1 .charles {
    margin-left: -10px !important;
}

.white1 .tina {
    margin-left: -10px !important;
}

.white1 .pam {
    margin-left: -10px !important;
}

.white1 .devri {
    margin-left: -10px !important;
}


.tablet{   
    background-color: #4656d6;
    margin-top:100px;
    height: 290px;
    width:100% !important;
    box-shadow: 0 44px 30px -20px rgb(1 7 67 / 25%), 0 30px 21px -20px rgb(1 7 67 / 40%);
   overflow:hidden !important;
   margin-bottom: 50px !important;
  }
  .getstart{
      margin-top: 20px;;
       height:50px;
       width:180px;
       background-color: #010743;
       font-size: 18px;
       border-radius: 1px;
       font-weight: bold;
       color:white;
    }
    .getstart:hover{
        color:white;
        opacity: 0.8;
    }
  .tablets1 {
      text-align: center;
      padding-top: 60px;
      color:white;
      letter-spacing: 1px;
      padding-left:212px;
  }
  .tablet .tablets1 .head4{
      font-weight: bold;
      font-size: 30px;
  }
  .tablet .tablets1 .quote{
      padding-top: 10px;
      font-size: 22px;
      opacity: 0.8;
      font-family: "Lato",sans-serif;
  }


 */
 .getstart{
    margin-top: 20px;;
     height:50px;
     width:180px;
     background-color: #010743;
     font-size: 18px;
     border-radius: 1px;
     font-weight: bold;
     color:white;
     margin-left: -90px;
  }
  .getstart:hover{
      color:white;
      opacity: 0.8;
  }